<div class="card border-0 shadow-sm rounded mb-4" style="background: #EEEEEE;">
  <div class="card-body">
    <h2><%= t('dashboard.jury_section.title') %></h2>
    <% if organism.juries.any? %>
    <h4 class="mb-0"><%= t('dashboard.jury_section.associated_jury_members') %></h4>
    <small class='text-secondary'><%= t('dashboard.jury_section.jury_description') %></small>

      <div class=" my-3 d-flex flex-column gap-1 p-3 border rounded-8 bg-white">

        <% organism.organism_juries&.each do |organism_jury| %>
           <div>
            <%= organism_jury.jury.first_name %> <%= organism_jury.jury.last_name %> - <%= organism_jury.jury.email %>
            <% unless organism_jury.jury.categories_juries.any? %>
              <%= button_to t('dashboard.jury_section.dissociate_jury'), organism_organism_jury_path(organism, organism_jury.id), method: :delete, data: { confirm: t('dashboard.common.confirm_delete') } %>
            <% end %>
        </div>
        <% end %>
      </div>
    <% end %>

  <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
    + <%= t('dashboard.jury_section.associate_member') %>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><%= t('dashboard.jury_section.associate_jury') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-white">

          <div class="d-flex justify-content-center">
            <p style="font-size: 4em; width: 100px; height: 100px; line-height: 100px; text-align: center;" class="text-center border rounded-circle border-3 border-dark">1</p>
          </div>
          <p class="text-success"><%= t('dashboard.jury_section.check_existing') %></p>
          <%= simple_form_for([organism, OrganismJury.new]) do |f| %>
            <%= f.hidden_field :organism_id, as: :hidden, input_html: { value: organism.id } %>
            <%= f.collection_select :jury_id, Jury.all, :id, :name_and_email, prompt: t('dashboard.jury_section.search_existing') %>
            <%= f.button :submit, t('dashboard.jury_section.associate_jury_button'), class:"btn btn-primary" %>
          <% end %>
          <hr>

          <div class="d-flex justify-content-center">
            <p style="font-size: 4em; width: 100px; height: 100px; line-height: 100px; text-align: center;" class="text-center border rounded-circle border-3 border-dark">2</p>
          </div>
          <p class="text-warning"><%= t('dashboard.jury_section.invite_new') %></p>
          <%= simple_form_for(User.new, url: user_invitation_path, method: :post) do |f| %>
            <%= f.input :email, required: true, placeholder: t('dashboard.jury_section.enter_email'), autofocus: true %>
            <%= f.input :inscription_role, as: :hidden, input_html: { value: "jury" } %>

            <% f.object.build_jury %>
            <%= f.simple_fields_for :jury do |jury| %>
              <%= jury.input :first_name, hint: t('dashboard.jury_section.guest_can_modify'), required: true %>
              <%= jury.input :last_name, hint: t('dashboard.jury_section.guest_can_modify'), required: true%>
            <% end %>

            <%= f.button :submit, t('dashboard.jury_section.invite_user'), class:"btn btn-primary" %>
          <% end %>
          <hr>
          <div class="d-flex justify-content-center">
            <p style="font-size: 4em; width: 100px; height: 100px; line-height: 100px; text-align: center;" class="text-center border rounded-circle border-3 border-dark">3</p>
          </div>
          <p class="text-danger"><%= t('dashboard.jury_section.existing_account') %></p>
          <%= form_with url: build_and_assign_jury_organism_path(organism), method: :post do |f| %>
            <div class="form-group">
              <%= f.label :email, t('dashboard.jury_section.email_label') %>
              <%= f.email_field :email, class: 'form-control', placeholder: t('dashboard.jury_section.enter_email') %>
            </div>
            <%= f.submit t('dashboard.jury_section.assign_jury_role'), class: 'btn btn-primary' %>
          <% end %>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('dashboard.common.close') %></button>
        </div>
      </div>
    </div>
  </div>




  </div>
</div>
