<div class="card border-0 shadow-sm rounded mb-4" style="background: #EEEEEE;">
  <div class="card-body">
    <h2>Jury</h2>
    <% if organism.juries.any? %>
    <h4 class="mb-0">Membres jury associés</h4>
    <small class='text-secondary'>Ce sont tous les jurys que vous pourrez assigner ultérieurement sur vos concours</small>

      <div class=" my-3 d-flex flex-column gap-1 p-3 border rounded-8 bg-white">

        <% organism.juries&.each do |jury| %>
          <div><%= jury.first_name %> <%= jury.last_name %> - <%= jury.email %></div>
        <% end %>
      </div>
    <% end %>


    <h4>Associer un jury a votre organisme</h4>
    <small class="text-secondary">3 cas de figures <br></small>
    <small class="text-danger">Vérifiez si le jury que vous souhaitez ajouter a déja un compte</small>
    <%= simple_form_for([organism, OrganismJury.new]) do |f| %>
      <%= f.hidden_field :organism_id, as: :hidden, input_html: { value: organism.id } %>
      <%= f.collection_select :jury_id, Jury.all, :id, :name_and_email, prompt: "Cherchez parmi les jurés existants" %>
      <%= f.button :submit, "Associer Jury", class:"btn btn-dark" %>
    <% end %>
    <hr>

  <small class="text-danger">Sinon invitez le à se créer un compte</small>
  <%= simple_form_for(User.new, url: user_invitation_path, method: :post) do |f| %>
    <%= f.input :email, required: true, placeholder: "Entrez un email", autofocus: true %>
    <%= f.input :inscription_role, as: :hidden, input_html: { value: "jury" } %>

    <% f.object.build_jury %>
    <%= f.simple_fields_for :jury do |jury| %>
      <%= jury.input :first_name, hint: "L'invité(e) pourra modifier ou rectifier ces informations", required: true %>
      <%= jury.input :last_name, hint: "L'invité(e) pourra modifier ou rectifier ces informations", required: true%>
    <% end %>

    <%= f.button :submit, "Invite User", class:"btn btn-dark" %>
  <% end %>
  <hr>
    <small class="text-danger">Si la personne que vous vouliez inviter a déja un compte mais n'a pas de compte "Jury", vous pouvez lui attribuer ce role. Entrez son email puis associez le à votre organisme.</small>
    <%= form_with url: build_and_assign_jury_organism_path(organism), method: :post do |f| %>
      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control', placeholder: 'Entrez un email' %>
      </div>
      <%= f.submit 'Assign Jury Role', class: 'btn btn-dark' %>
    <% end %>



  </div>
</div>
