<div class="container mt-5">
  <div class="row">
    <h1 class="text-center" style='font-size: 5em;'>Tableau de Bord</h1>
    <div class="col-12 col-md-6">
      <div class="card border-0 shadow-sm rounded" style="background: #EEEEEE;">
        <div class="card-body">
          <h1 class="mb-4">Vos concours</h1>
          <div class="list-group ">
            <% @competitions&.each do |competition| %>
              <%= link_to organism_competition_path(@organism, competition) do %>
                <div class="card mb-3" data-controller="hover" data-action="mouseenter->hover#hover mouseleave->hover#unhover" style="width: 100%; height: 300px; background-image: url('https://source.unsplash.com/random/?applications/300/200'); background-size: cover; position: relative;">
                  <div class="btn btn-<%=  competition.edition_competitions.blank? ? 'success' : 'secondary'%>" style="position: absolute; top: 10px; left: 10px; z-index: 1;"><%=  competition.edition_competitions.blank? ? 'Créer une édition du concours' : 'Voir' %></div>
                  <div class="card-img-overlay d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.7);" >
                    <h2 class="card-title text-white text-center" style="font-size: 3em;" data-hover-target="text"><%= competition.nom_concours %></h2>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <%= link_to 'Créer un concours', new_organism_competition_path(@organism), class: 'btn btn-success mt-3' %>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="card border-0 shadow-sm rounded mb-4" style="background: #EEEEEE;">
        <div class="card-body d-flex flex-column">
          <h2 class="mb-4">Informations de l'organisme</h2>
          <div class="d-flex flex-column">
            <div class="text-center">
              <%= image_tag(@organism.logo.attached? ? url_for(@organism.logo) : "https://source.unsplash.com/random", class: "", height: 100, width: "auto") %>
            </div>
            <p><%= @organism.nom %></p>
            <p><%= @organism.description %></p>
          </div>
          <%= link_to "Modifier", edit_organism_path(@organism), class: "btn btn-outline-dark mx-auto mt-3" %>
        </div>
      </div>

      <div class="card border-0 shadow-sm rounded mb-4" style="background: #EEEEEE;">
        <div class="card-body">
          <h2 class="mb-4">Partenaires</h2>
          <h5>Pianistes Accompagnateurs</h5>
          <%= turbo_frame_tag 'new_pianist_frame' do %>
            <%= link_to '+ Ajouter un pianiste accompagnateur', new_organism_pianist_accompagnateur_path(@organism), class: 'btn btn-outline-dark mb-3', data: { turbo_frame: 'new_pianist_frame' } %>
          <% end %>
          <ul>
            <%= turbo_frame_tag 'organism_pianists' do %>
              <% @organism.pianist_accompagnateurs.each do |pianist| %>
                <%= render "pianist_accompagnateurs/pianist", pianist: pianist %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      <!-- jury card partial -->
      <%= render "jury_section", organism: @organism %>


    </div>
  </div>
</div>
