<h2><%= t('devise.registrations.edit.title', resource: resource_name.to_s.humanize) %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p><%= t('devise.registrations.edit.waiting_confirmation', email: resource.unconfirmed_email) %></p>
    <% end %>

    <%= f.input :password,
                hint: t('devise.registrations.edit.leave_blank'),
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                hint: t('devise.registrations.edit.need_current_password'),
                required: true,
                input_html: { autocomplete: "current-password" } %>
  <div class="d-flex align-items-start gap-2">
      <%= f.check_box :accepts_newsletter, class: "mt-1" %>
      <%= f.label :accepts_newsletter, class:"text-secondary"  do %>
        <span>*</span> <%= t('devise.registrations.edit.newsletter_agreement') %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('devise.registrations.edit.update') %>
  </div>
<% end %>

<h3><%= t('devise.registrations.edit.cancel_account') %></h3>

<div><%= t('devise.registrations.edit.unhappy') %> <%= button_to t('devise.registrations.edit.cancel_my_account'), registration_path(resource_name), data: { confirm: t('devise.registrations.edit.are_you_sure'), turbo_confirm: t('devise.registrations.edit.are_you_sure') }, method: :delete %></div>

<%= link_to t('devise.registrations.edit.back'), :back %>
