
<%= simple_form_for(@organism) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <div class="form-inputs">
    <%= f.input :nom, label: t("organisms.organism.name"), placeholder: t("organisms.organism.placeholder"), required: true, error: f.object.errors[:nom].to_sentence %>
    <%= f.input :description, error: f.object.errors[:description].to_sentence, input_html: { rows: 8} %>
  </div>

  <%# Logo file field input  %>
  <div class="form-group mb-3">
    <%= f.label :logo, "Logo: " %>
    <% if @organism.logo.attached? %>
      <div class="d-flex justify-content-start">
        <%= image_tag @organism.logo, class:" align-items-start p-0 m-0 mb-4", style: "width: 200px; object-fit: cover;" %>
      </div>
    <% end %>
    <% if @organism.logo.attached? %>
      <%= f.hidden_field :logo_attachment_signed_id, value: @organism.logo.signed_id if @organism.logo.attached? %>
      <%= f.file_field :logo, class: "form-control" %>
    <% end %>
  </div>

<%# section for bank info: IBAN, BIC, bank name %>
  <div class="form-group mb-3">
    <%= f.input :iban, label: t('organisms.organism.iban'), class: "form-control", hint: t('organisms.organism.iban_hint') %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, t('global.actions.save'), class: "btn btn-primary" %>
  </div>


<% end %>
