<div id="<%= dom_id organism %>">

  <div class="d-flex justify-content-center">
    <%= image_tag organism.logo_or_default, class:"shadow rounded-circle align-items-center p-0 m-0 mb-4", style: "width: 140px; height: 140px; object-fit: cover;" %>
  </div>

  <p>
    <strong><%= t('organisms.organism.name') %>:</strong>
    <%= organism.nom %>
  </p>

  <p>
    <strong><%= t('organisms.organism.description') %>:</strong>
    <%= organism.description %>
  </p>
</div>
