<div class="card mb-3 rounded-8">
  <div class="card-header">
    <%= t('choice_imposed_works.card.choose') %><span class="h5 pe-2"> <%= @choice_imposed_work.number_to_select %></span><%= t('choice_imposed_works.card.works_from') %>:
  </div>
  <div class="card-body bg-light rounded-8">
    <span><%= @choice_imposed_work.title %></span>
    <% if @choice_imposed_work.title_english.present? %>
      <span class="text-english">| <%= @choice_imposed_work.title_english %></span>
    <% end %><br>
    <small class="text-secondary"><%= @choice_imposed_work.guidelines %></small> <br>
    <% if @choice_imposed_work.guidelines_english.present? %>
      <small class="text-english"><%= @choice_imposed_work.guidelines_english %></small>
    <% end %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex flex-column">
        <% @choice_imposed_work.airs.each do |air| %>
          <span><i class="fas fa-feather text-secondary pe-2 small"></i> <%= air.title %> - <%= air.composer %> - <%= air.oeuvre %> - <%= air.tonality %></span>
          <small class="text-secondary"> <%= air.infos %> </small>
          <% if air.infos_english.present? %>
            <small class="text-english"> <%= air.infos_english %> </small>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
