<div class="card mb-3 rounded-8">
  <div class="card-header"><%= t('imposed_works.card.required_works') %>: <span class="h5 ps-2"> <%= @category.imposed_work.airs.count %></span></div>
  <div class="card-body bg-light rounded-8">
    <ul class="list-group list-group-flush">
      <div><%= @title %></div>
      <small class="text-secondary"><%= @guidelines %></small>
      <li class="list-group-item d-flex flex-column bg-white">
        <% @category.imposed_work.airs.each do |air| %>
          <span> <i class="fas fa-feather text-secondary pe-2 small"></i><%= air.title %> - <%= air.composer %> - <%= air.oeuvre %> - <%= air.tonality %></span>
          <% if I18n.locale == :en && air.infos_english.present? %>
            <small class="text-secondary"> <%= air.infos_english %> </small>
          <% else %>
            <small class="text-secondary"> <%= air.infos %> </small>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
</div>
