<div id="<%= dom_id partner %>">
  <p>
    <strong>User:</strong>
    <%= partner.user_id %>
  </p>

  <p>
    <strong>Organism:</strong>
    <%= partner.organism_id %>
  </p>

  <p>
    <strong>Role partenaire:</strong>
    <%= partner.role_partenaire %>
  </p>

  <p>
    <strong>Niveau autorisation:</strong>
    <%= partner.niveau_autorisation %>
  </p>

</div>
