<div id="<%= dom_id partner %>">
  <p>
    <strong><%= t('partners.partner.user') %>:</strong>
    <%= partner.user_id %>
  </p>

  <p>
    <strong><%= t('partners.partner.organism') %>:</strong>
    <%= partner.organism_id %>
  </p>

  <p>
    <strong><%= t('partners.partner.partner_role') %>:</strong>
    <%= partner.role_partenaire %>
  </p>

  <p>
    <strong><%= t('partners.partner.authorization_level') %>:</strong>
    <%= partner.niveau_autorisation %>
  </p>

</div>
