<p style="color: green"><%= notice %></p>

<h1><%= t('partners.index.partners') %></h1>

<div id="partners">
  <% @partners.each do |partner| %>
    <%= render partner %>
    <p>
      <%= link_to t('global.actions.show'), partner %>
    </p>
  <% end %>
</div>

<%= link_to t('partners.index.new_partner'), new_partner_path %>
