<p style="color: green"><%= notice %></p>

<%= render @partner %>

<div>
  <%= link_to t('partners.show.edit'), edit_partner_path(@partner) %> |
  <%= link_to t('global.actions.back'), partners_path %>

  <%= button_to t('partners.show.destroy'), @partner, method: :delete %>
</div>
