<div id="<%= dom_id jury %>">
  <p>
    <strong><%= t('juries.jury.user') %>:</strong>
    <%= jury.user_id %>
  </p>

  <p>
    <strong><%= t('juries.jury.other_information') %>:</strong>
    <%= jury.autres_informations %>
  </p>

</div>
