<p style="color: green"><%= notice %></p>

<h1><%= t('competitions.index.title') %></h1>

<div id="competitions">
  <% @competitions.each do |competition| %>
    <%= render competition %>
    <p>
      <%= link_to t('competitions.index.show'), competition %>
    </p>
  <% end %>
</div>

<%= link_to t('competitions.index.new'), new_competition_path %>
