<p style="color: green"><%= notice %></p>

<%= render @choice_imposed_work_air %>

<div>
  <%= link_to "Edit this choice imposed work air", edit_choice_imposed_work_air_path(@choice_imposed_work_air) %> |
  <%= link_to "Back to choice imposed work airs", choice_imposed_work_airs_path %>

  <%= button_to "Destroy this choice imposed work air", @choice_imposed_work_air, method: :delete %>
</div>
