<div id="<%= dom_id air %>">
  <p>
    <strong><%= t('airs.common.title') %>:</strong>
    <%= air.title %>
  </p>

  <p>
    <strong><%= t('airs.common.length_minutes') %>:</strong>
    <%= air.length_minutes %>
  </p>

  <p>
    <strong><%= t('airs.common.composer') %>:</strong>
    <%= air.composer %>
  </p>

  <p>
    <strong><%= t('airs.common.oeuvre') %>:</strong>
    <%= air.oeuvre %>
  </p>

  <p>
    <strong><%= t('airs.common.character') %>:</strong>
    <%= air.character %>
  </p>

  <p>
    <strong><%= t('airs.common.tonality') %>:</strong>
    <%= air.tonality %>
  </p>

</div>
