<div id="<%= dom_id air %>">
  <p>
    <strong>Title:</strong>
    <%= air.title %>
  </p>

  <p>
    <strong>Length minutes:</strong>
    <%= air.length_minutes %>
  </p>

  <p>
    <strong>Composer:</strong>
    <%= air.composer %>
  </p>

  <p>
    <strong>Oeuvre:</strong>
    <%= air.oeuvre %>
  </p>

  <p>
    <strong>Character:</strong>
    <%= air.character %>
  </p>

  <p>
    <strong>Tonality:</strong>
    <%= air.tonality %>
  </p>

</div>
