<p style="color: green"><%= notice %></p>

<%= render @air %>

<div>
  <%= link_to "Edit this air", edit_air_path(@air) %> |
  <%= link_to "Back to airs", airs_path %>

  <%= button_to "Destroy this air", @air, method: :delete %>
</div>
