<p style="color: green"><%= notice %></p>

<%= render @air %>

<div>
  <%= link_to t('airs.common.actions.edit'), edit_air_path(@air) %> |
  <%= link_to t('airs.common.actions.back'), airs_path %>

  <%= button_to t('airs.common.actions.destroy'), @air, method: :delete %>
</div>
