<div id="<%= dom_id candidat %>">
  <div class="container">
    <%= render 'profile_summary_section' %>
    <%= render 'experiences_section' %>
    <%= render 'education_section' %>
    <%= render 'diplomas' %>
  </div>
</div>
