<div class="p-3 bg-white rounded-4 d-flex flex-column border">
  <div class="d-flex justify-content-start align-items-start gap-3 mb-3">
    <h2><%= t('candidats.experiences_section.title') %></h2>
    <%= link_to edit_candidat_path(@candidat, anchor: 'experiences-form-section'), class:"btn btn-light rounded-circle p-0 text-primary" do %>
      <i class="fas fa-edit p-2" ></i>
    <% end %>
  </div>
  <% if @candidat.experiences.none? %>
    <p class="text-muted"><%= t('candidats.experiences_section.no_experiences') %></p>
  <% end %>
  <ul class="list-unstyled">
    <% @candidat.experiences.each do |experience| %>
      <li class="mb-3">
        <div class="d-flex align-items-between">
          <div class="d-flex w-100">
            <% if experience.logo.attached? %>
              <%= image_tag experience.logo, class: "me-3 rounded", style: "width: 50px; height: 50px; object-fit: cover;" %>
            <% else %>
              <img src="https://placehold.co/50x50" alt="Experience placeholder" class="me-3 rounded" style="width: 50px; height: 50px; object-fit: cover;">
            <% end %>
            <div>
              <h3 class="font-semibold mb-0"><%= experience.title %></h3>
              <p class="text-muted m-0"><%= experience.description %></p>
              <p class="text-muted m-0"><%= experience.start_date&.strftime('%b %Y') %> - <%= experience.end_date.present? ? experience.end_date&.strftime('%b %Y') : t('candidats.experiences_section.present') %></p>
            </div>
          </div>
        </div>

      </li>
    <% end %>
  </ul>
</div>
