<div class="p-3 bg-white rounded-4 d-flex flex-column border">
  <div class="d-flex justify-content-start align-items-start gap-3 mb-3">
    <h2><%= t('candidats.experiences_section.title') %></h2>
    <%= link_to edit_candidat_path, class:"btn btn-light rounded-circle p-0" do %>
      <i class="fas fa-pencil rounded-circle shadow text-secondary p-2" ></i>
    <% end %>
  </div>
  <% if @candidat.experiences.none? %>
    <p class="text-muted"><%= t('candidats.experiences_section.no_experiences') %></p>
  <% end %>
  <ul class="list-unstyled">
    <% @candidat.experiences.each do |experience| %>
      <li class="">
        <div class="d-flex align-items-between">
          <div class="d-flex w-100">
            <img src="https://source.unsplash.com/random" alt="Company Logo" class="me-3" style="width: 50px; height: 50px;"> <!-- Placeholder for company logo -->
            <div>
              <h3 class="font-semibold"><%= experience.title %></h3>
              <p class="text-muted m-0"><%= experience.description %></p>
              <p class="text-muted m-0"><%= experience.start_date&.strftime('%b %Y') %> - <%= experience.end_date.present? ? experience.end_date&.strftime('%b %Y') : t('candidats.experiences_section.present') %></p>
            </div>
          </div>
          <%= button_to candidat_experience_path(@candidat, experience), method: :delete, data: {turbo_confirm: t('candidats.experiences_section.delete_confirm')}, class: 'btn btn-success  border-0' do %>
            <i class="fas fa-times"></i>
          <% end %>
        </div>
        <% unless experience == @candidat.experiences.last %>
          <hr class="my-3" />
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
