<%= simple_form_for(@candidat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs bg-white p-3 rounded-4 shadow-sm">
    <h2>Informations</h2>
    <%# --- Personal Info --- %>
    <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
      <%= f.input :first_name, label: t('candidats.form.first_name'), input_html: {class:"border border-0  mb-0"} %>
      <%= f.input :last_name, label: t('candidats.form.last_name'), input_html: {class:"border border-0  mb-0 "}  %>
      <%= f.input :birthdate, as: :date, html5: true, label: t('candidats.form.birthdate'), input_html: {class:"border border-0  mb-0"}, hint: t('candidats.form.birthdate_hint') %>
    </div>
    <div class="d-flex align-items-start gap-2">
      <p class="mb-0"><%= t('candidats.form.nationality') %>: </p>
      <%= f.country_select :nationality, {only: ["AM", "AT", "BY", "BE", "BA", "BG", "CH", "CZ", "DE", "DK", "EE", "ES", "FI", "FR", "GB", "GE", "GI", "GR", "HU", "IE", "IS", "IT", "LT", "LU", "LV", "NO", "NL", "PO", "PL", "PT", "RO", "SE", "SI", "SK", "TR", "UA"], selected: "FR"}, { class: "mb-3 p-2 bg-light border rounded" }  %>
    </div>

    <%# --- File Inputs Row --- %>
    <div class="row g-3 mb-3">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label t('candidats.form.portrait'), class: 'form-label' %>
          <% if @candidat.portrait.attached? %>
            <div class="mb-2">
              <div id="portrait-preview-container" class="preview-container">
                <%= image_tag @candidat.portrait, class: "w-100", id: "portrait-preview" %>
                <div class="mt-1">
                  <span id="portrait-filename"><%= @candidat.portrait.filename %></span>
                </div>
              </div>
            </div>
            <small class="text-muted mb-2 d-block"><%= t('global.actions.replace_image_hint') || "Pour remplacer cette image, téléchargez une nouvelle photo ci-dessous" %></small>
          <% else %>
            <div id="portrait-preview-container" class="preview-container d-none">
              <img src="" id="portrait-preview" class="img-thumbnail" style="max-height: 200px;">
              <div class="mt-1">
                <span id="portrait-filename"></span>
              </div>
            </div>
          <% end %>
          <%= f.file_field :portrait, class: "form-control",
                          accept: "image/png, image/jpeg",
                          onchange: "previewImage(this, 'portrait-preview', 'portrait-preview-container', 'portrait-filename')" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label t('candidats.form.artistic_photo'), class: 'form-label' %>
          <%= render InfoboxComponent.new( title: t('candidats.form.artistic_photo'), text: t('candidats.form.artistic_photo_hint'), icon: 'fas fa-info-circle' ) %>
          <% if @candidat.artistic_photo.attached? %>
            <div class="mb-2">
              <div id="artistic-photo-preview-container" class="preview-container">
                <%= image_tag @candidat.artistic_photo, class: "w-100", id: "artistic-photo-preview" %>
                <div class="mt-1">
                  <span id="artistic-photo-filename"><%= @candidat.artistic_photo.filename %></span>
                </div>
              </div>
            </div>
            <small class="text-muted mb-2 d-block"><%= t('global.actions.replace_image_hint') || "Pour remplacer cette image, téléchargez une nouvelle photo ci-dessous" %></small>
          <% else %>
            <div id="artistic-photo-preview-container" class="preview-container d-none">
              <img src="" id="artistic-photo-preview" class="img-thumbnail" style="max-height: 200px;">
              <div class="mt-1">
                <span id="artistic-photo-filename"></span>
              </div>
            </div>
          <% end %>
          <%= f.file_field :artistic_photo, class: "form-control",
                           accept: "image/png, image/jpeg",
                           onchange: "previewImage(this, 'artistic-photo-preview', 'artistic-photo-preview-container', 'artistic-photo-filename')" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label t('candidats.form.cv_english'), class: 'form-label' %>
          <div class="file-upload-wrapper">
            <% if @candidat.cv_english.attached? %>
              <div class="d-flex align-items-center mb-2">
                <i class="fas fa-file-pdf text-danger me-2" style="font-size: 1.5rem;"></i>
                <div class="flex-grow-1">
                  <small class="text-success d-block"><%= @candidat.cv_english.filename %></small>
                </div>
              </div>

              <!-- Prévisualisation du PDF -->
              <div class="mb-3 border rounded">
                <embed src="<%= url_for(@candidat.cv_english) %>" type="application/pdf" width="100%" height="300px" />
              </div>

              <small class="text-muted mb-2 d-block"><%= t('global.actions.replace_file_hint') || "Pour remplacer ce fichier, téléchargez un nouveau document ci-dessous" %></small>
            <% else %>
              <div id="cv-english-preview-container" class="d-flex align-items-center mb-2 d-none">
                <i class="fas fa-file-pdf text-danger me-2" style="font-size: 1.5rem;"></i>
                <div class="flex-grow-1">
                  <small id="cv-english-filename" class="text-success d-block"></small>
                </div>
              </div>
            <% end %>
            <%= f.file_field :cv_english, class: 'form-control form-control-sm',
                  onchange: "previewFile(this, 'cv-english-preview-container', 'cv-english-filename')" %>
          </div>
          <% if @candidat.errors[:cv_english].any? %>
            <small class="error-message text-danger d-block mt-1">
              <%= @candidat.errors[:cv_english].to_sentence %>
            </small>
          <% end %>
        </div>
      </div>
    </div>
    <%# --- End File Inputs Row --- %>

    <%# --- Teacher and Banner Color Row --- %>
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <%= f.input :last_teacher, label: t('candidats.form.last_teacher'), hint: t('candidats.form.last_teacher_hint'), required: true %>
      </div>
      <div class="col-md-6">
        <%= f.input :banner_color, as: :color, label: t('candidats.form.banner_color'), input_html: { style: "height: 50px;" } %>
      </div>
    </div>
    <%# --- End Teacher and Banner Color Row --- %>

    <%# --- Translation Info and Biographies --- %>
    <p class="bg-info-secondary p-3 text-secondary align-self-start rounded-8"> <i class="fas fa-info-circle text-secondary pe-2"></i><%= t('candidats.form.translation_info') %>
      <a href="https://www.deepl.com/translator" target="_blank" class="text-primary">DeepL</a> ou
      <a href="https://chat.openai.com/" target="_blank" class="text-primary">ChatGPT</a>
    </p>

    <div class="row">
      <div class="col">
        <div class="form-group" data-controller="character-counter">
          <div class="d-flex gap-3 align-items-center">
            <%= f.label t('candidats.form.short_bio') %>
            <small class="text-secondary"><span data-character-counter-target="counter">0</span>/300 </small>
          </div>
          <%= f.input :short_bio, label: false, placeholder: t('candidats.form.short_bio_placeholder'), input_html: { class:"border border-0", data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} } %>
        </div>
      </div>
      <div class="col">
        <div class="form-group" data-controller="character-counter">
          <div class="d-flex gap-3 align-items-center">
            <%= f.label t('candidats.form.short_bio_en') %>
            <small class="text-secondary"><span data-character-counter-target="counter">0</span>/300 </small>
          </div>
          <%= f.input :short_bio_en, label: false, placeholder: t('candidats.form.short_bio_en_placeholder'), input_html: { class:"border border-0", data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group" data-controller="character-counter">
          <div class="d-flex gap-3 align-items-center">
            <%= f.label t('candidats.form.medium_bio') %>
            <small class="text-secondary"><span data-character-counter-target="counter">0</span>/600 </small>
          </div>
          <%= f.input :medium_bio, label: false, placeholder: t('candidats.form.medium_bio_placeholder'), input_html: { class:"border border-0", data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} } %>
        </div>
      </div>
      <div class="col">
        <div class="form-group" data-controller="character-counter">
          <div class="d-flex gap-3 align-items-center">
            <%= f.label t('candidats.form.medium_bio_en') %>
            <small class="text-secondary"><span data-character-counter-target="counter">0</span>/600 </small>
          </div>
          <%= f.input :medium_bio_en, label: false, placeholder: t('candidats.form.medium_bio_en_placeholder'), input_html: { class:"border border-0", data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} } %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group" data-controller="character-counter">
          <div class="d-flex gap-3 align-items-center">
            <%= f.label t('candidats.form.long_bio') %>
            <small class="text-secondary"><span data-character-counter-target="counter">0</span>/1200 </small>
          </div>
          <%= f.input :long_bio, label: false, placeholder: t('candidats.form.long_bio_placeholder'), input_html: { class:"border border-0", data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} } %>
        </div>
      </div>
      <div class="col">
        <div class="form-group" data-controller="character-counter">
          <div class="d-flex gap-3 align-items-center">
            <%= f.label t('candidats.form.long_bio_en') %>
            <small class="text-secondary"><span data-character-counter-target="counter">0</span>/1200 </small>
          </div>
          <%= f.input :long_bio_en, label: false, placeholder: t('candidats.form.long_bio_en_placeholder'), input_html: { class:"border border-0", data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} } %>
        </div>
      </div>
    </div>

    <div class="form-group" data-controller="character-counter">
      <div class="d-flex gap-3 align-items-center">
        <%= f.label t('candidats.form.repertoire') %>
        <small class="text-secondary"><span data-character-counter-target="counter">0</span>/1200 </small>
      </div>
      <%= f.input :repertoire, label: false, placeholder: t('candidats.form.repertoire_placeholder'), input_html: { class:"border border-0", data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} } %>
    </div>

    <%# --- Experiences --- %>
    <h3 id="experiences-form-section"><%= t('candidats.form.experiences_title') %></h3>
    <div data-controller="experiences">
      <template data-experiences-target="template">
        <%= f.simple_fields_for :experiences, Experience.new, child_index: 'NEW_RECORD' do |experience| %>
          <%= render "experience_fields", f: experience %>
        <% end %>
      </template>

      <div data-experiences-target="container">
        <%= f.simple_fields_for :experiences do |experience| %>
          <%= render "experience_fields", f: experience %>
        <% end %>
      </div>

      <div>
        <button type="button" data-action="experiences#addExperience" class="btn btn-success">
          <i class="fas fa-plus"></i> <%= t('candidats.experiences_section.add_experience') %>
        </button>
      </div>
    </div>

    <%# --- Education --- %>
    <h3 id="education-form-section" class="mt-3"><%= t('candidats.form.education_title') %></h3>
    <div data-controller="educations">
      <template data-educations-target="template">
        <%= f.simple_fields_for :educations, Education.new, child_index: 'NEW_RECORD' do |education| %>
          <%= render "education_fields", f: education %>
        <% end %>
      </template>

      <div data-educations-target="container">
        <%= f.simple_fields_for :educations do |education| %>
          <%= render "education_fields", f: education %>
        <% end %>
      </div>

      <div>
        <button type="button" data-action="educations#addEducation" class="btn btn-success">
          <i class="fas fa-plus"></i> <%= t('candidats.education_section.add_education') %>
        </button>
      </div>
    </div>
  </div>

  <div class="form-actions text-center mt-4">
    <%= f.button :submit, t('candidats.form.save'), class: "btn btn-success" %>
  </div>
<% end %>

<% content_for :page_scripts do %>
  <script>
    function previewImage(input, previewId, containerId, filenameId) {
      const file = input.files[0];
      if (file) {
        const reader = new FileReader();

        reader.onload = function(e) {
          document.getElementById(previewId).src = e.target.result;
          document.getElementById(containerId).classList.remove('d-none');
          document.getElementById(filenameId).textContent = file.name;
        }

        reader.readAsDataURL(file);
      }
    }

    function previewFile(input, containerId, filenameId) {
      const file = input.files[0];
      if (file) {
        document.getElementById(containerId).classList.remove('d-none');
        document.getElementById(filenameId).textContent = file.name;
      }
    }
  </script>
<% end %>
