<p style="color: green"><%= notice %></p>

<h1><%= t('candidats.index.title') %></h1>

<div id="candidats">
  <% @candidats.each do |candidat| %>
    <%= render candidat %>
    <p>
      <%= link_to t('candidats.index.show'), candidat %>
    </p>
  <% end %>
</div>

<%= link_to t('candidats.index.new'), new_candidat_path %>
