<div id="<%= dom_id choice_imposed_work %>">
  <p>
    <strong>Programme requirement:</strong>
    <%= choice_imposed_work.programme_requirement_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= choice_imposed_work.title %>
  </p>

  <p>
    <strong>Guidelines:</strong>
    <%= choice_imposed_work.guidelines %>
  </p>

  <p>
    <strong>Number to select:</strong>
    <%= choice_imposed_work.number_to_select %>
  </p>

</div>
