<div id="<%= dom_id choice_imposed_work %>">
  <p>
    <strong><%= t('choice_imposed_works.choice_imposed_work.programme_requirement') %>:</strong>
    <%= choice_imposed_work.programme_requirement_id %>
  </p>

  <p>
    <strong><%= t('choice_imposed_works.choice_imposed_work.title') %>:</strong>
    <%= choice_imposed_work.title %>
  </p>

  <p>
    <strong><%= t('choice_imposed_works.choice_imposed_work.guidelines') %>:</strong>
    <%= choice_imposed_work.guidelines %>
  </p>

  <p>
    <strong><%= t('choice_imposed_works.choice_imposed_work.number_to_select') %>:</strong>
    <%= choice_imposed_work.number_to_select %>
  </p>

</div>
