<%= simple_form_for([@organism, @competition, @edition_competition, @category, @choice_imposed_work]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :category, value: @choice_imposed_work.category, disabled: true %>
  <%= f.hidden_field :category_id, value: @category.id, disabled: true %>

  <div class="form-inputs p-3">
    <div class="mb-5">
      <h3 class=" py-3"><i class="fas fa-cogs text-secondary"></i> <%= t('choice_imposed_works.form.list_configuration') %>:</h3>
      <div class="row">
        <div class="col">
          <%= f.input :title, placeholder: t('choice_imposed_works.form.title_placeholder'), label_html: { class: 'p' }, input_html: { class: 'p-2 border' }, label: t('choice_imposed_works.form.list_title'), required: true %>
        </div>
        <div class="col">
          <%= f.input :number_to_select, placeholder: t('choice_imposed_works.form.number_placeholder'), label_html: { class: 'p' }, input_html: { class: 'p-2 border' }, label: t('choice_imposed_works.form.number_to_choose'), required: true %>
        </div>
      </div>
      <%= f.input :guidelines, placeholder: t('choice_imposed_works.form.guidelines_placeholder'), label_html: { class: 'p' }, input_html: { class: 'p-2 border' }, hint: t('choice_imposed_works.form.be_precise'), label: t('choice_imposed_works.form.guidelines'), required: true %>
    </div>

    <h3 class="text-start mb-5"> <i class="fas fa-book text-secondary"></i> <%= t('choice_imposed_works.form.air_list') %>:</h3>

    <div data-controller="airs">
      <div data-airs-target="container">
        <%= f.simple_fields_for :airs do |air| %>
          <%= render 'shared/air_fields', f: air %>
        <% end %>
      </div>

      <div data-airs-target="template" style="display: none">
        <%= f.simple_fields_for :airs, Air.new, child_index: 'NEW_RECORD' do |air| %>
          <%= render 'shared/air_fields', f: air %>
        <% end %>
      </div>

      <div class="d-flex gap-3 justify-content-center">
        <%= link_to '#', data: { action: 'airs#addAir' }, class: 'px-3 btn btn-outline-dark mb-5' do %>
          <i class="fas fa-plus"></i> <%= t('choice_imposed_works.form.add_piece') %>
        <% end %>

        <%= button_tag(type: 'submit', class: 'px-3 btn btn-dark mb-5') do %>
          <i class="fa-solid fa-floppy-disk"></i> <%= t('choice_imposed_works.form.save_changes') %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
