<p style="color: green"><%= notice %></p>

<h1><%= t('choice_imposed_works.index.title') %></h1>

<div id="choice_imposed_works">
  <% @choice_imposed_works.each do |choice_imposed_work| %>
    <%= render choice_imposed_work %>
    <p>
      <%= link_to t('choice_imposed_works.index.show'), choice_imposed_work %>
    </p>
  <% end %>
</div>

<%= link_to t('choice_imposed_works.index.new'), new_choice_imposed_work_path %>
