<p style="color: green"><%= notice %></p>

<%= render @choice_imposed_work %>

<div>
  <%= link_to "Edit this choice imposed work", edit_choice_imposed_work_path(@choice_imposed_work) %> |
  <%= link_to "Back to choice imposed works", choice_imposed_works_path %>

  <%= button_to "Destroy this choice imposed work", @choice_imposed_work, method: :delete %>
</div>
