<div class="navbar navbar-expand-sm navbar-lewagon fixed-top border-bottom p-0" style="background: #FFFFFF;">
  <div class="container-fluid">
    <div class="text-dark p-2" style="font-size: 1.8em">Musi<span class="text-gradient">kast</span></div>

    <!-- Breadcrumbs -->
    <div class="d-none d-md-block breadcrumbs">
      <%= render_breadcrumbs separator: '/ ' if current_user&.organisateur&.present?%>
    </div>

    <div class="d-flex">
      <ul class="navbar-nav me-auto text-decoration-none d-flex flex-row"  style="list-style: none;">
        <% navbar_links.each do |link| %>
          <li class="nav-item text-decoration-none me-4 d-flex">
            <%= link_to link[:label], link[:url], class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <div id="notification-popup" class="col-10 col-lg-3"style="display: none; position: absolute; right: 20px; top: 60px; z-index: 1000;">
        <div class="shadow p-3 bg-light border border-bottom">
          <% current_user&.notifications&.each do |notification| %>
              <%= link_to notification.message, notification.url %>
              <div class="text-muted" style="font-size: 0.75rem;">
                <%= notification.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
              </div>
          <% end %>
        </div>
      </div>

      <% if user_signed_in? %>
        <div class="ml-auto">
          <li class="nav-item dropdown text-decoration-none" style="list-style: none;">
            <a href="#" class="avatar me-3" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://placehold.co/40x40", class: "avatar" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% sidebar_links.each do |link| %>
                <%= link_to link[:label], link[:url], { class: "dropdown-item py-2" }.merge(link[:method] ? { method: link[:method] } : {})%>
              <% end %>
              <% navbar_links_for_profile_pic.each do |link| %>
                <%= link_to link[:label], link[:url], { class: "dropdown-item py-2" }.merge(link[:method] ? { method: link[:method] } : {}) unless link[:method] == :delete  %>
                <%= button_to link[:label], link[:url], method: link[:method], class: "dropdown-item py-2" if link[:method] == :delete %>

              <% end %>
            </div>
          </li>
        </div>
      <% end %>

      <div class="ms-auto d-flex align-items-center">
        <span class="me-2"><%= t('language_name') %></span>
        <%= link_to t('navbar.switch_language'),
                    switch_language_path(locale: I18n.locale == :fr ? :en : :fr),
                    class: "btn btn-sm btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    const notificationIcon = document.querySelector('.notification-icon');
    const notificationPopup = document.getElementById('notification-popup');

    notificationIcon.addEventListener('click', function(event) {
      event.stopPropagation();
      notificationPopup.style.display = notificationPopup.style.display === 'none' ? 'block' : 'none';
    });

    document.addEventListener('click', function(event) {
      if (event.target !== notificationIcon) {
        notificationPopup.style.display = 'none';
      }
    });
  });
</script>
