<div class="navbar navbar-expand-sm navbar-lewagon fixed-top border-bottom p-0" style="background: #FFFFFF;">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="text-dark px-3" style="font-size: 1.5em">Musi<span class="text-secondary">cast</span></div>
    <% end %>

    <!-- Breadcrumbs -->
    <div class="d-none d-md-block breadcrumbs">
      <%= render_breadcrumbs separator: '/ ' if current_user&.organisateur&.present?%>
    </div>

    <div class="d-flex">
      <ul class="navbar-nav me-auto text-decoration-none d-flex flex-row"  style="list-style: none;">
        <% navbar_links.each do |link| %>
          <li class="nav-item text-decoration-none me-4 d-flex">
            <%= link_to link[:label], link[:url], class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <% if user_signed_in? %>
        <div class="ml-auto">
          <li class="nav-item dropdown text-decoration-none" style="list-style: none;">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% sidebar_links.each do |link| %>
                <%= link_to link[:label], link[:url], { class: "dropdown-item py-2" }.merge(link[:method] ? { method: link[:method] } : {})%>
              <% end %>
              <% navbar_links_for_profile_pic.each do |link| %>
                <%= link_to link[:label], link[:url], { class: "dropdown-item py-2" }.merge(link[:method] ? { method: link[:method] } : {}) unless link[:method] == :delete  %>
                <%= button_to link[:label], link[:url], method: link[:method], class: "dropdown-item py-2" if link[:method] == :delete %>

              <% end %>
            </div>
          </li>
        </div>
      <% end %>
    </div>
  </div>
</div>
