<div class="sidebar">
  <div class="p-3 mt-2 d-flex flex-column align-items-center">
    <% if current_user.inscription_role == "organiser" %>
        <%= image_tag "https://i.pravatar.cc/50", class: "rounded-circle" %>
        <span class="text-center"><%= current_user.organisateur&.organism&.nom %></span>
    <% else %>
      <%= image_tag "https://i.pravatar.cc/50", class: "rounded-circle" %>
      <%= current_user.first_name %> <%= current_user.last_name %>
    <% end %>
  </div>

  <ul class="nav flex-column">
    <% sidebar_links.each do |link| %>
      <li class="nav-item">
        <%= link_to link[:url], class: "nav-link #{active_link?(link[:url])}" do %>
          <%= link[:label].html_safe %>
          <% if link[:status].present? %>
            <span class="competition-status rounded-pill border border-info  <%= link[:status] %>"><%= link[:status].capitalize %></span>
          <% end %>
        <% end %>
        <% if link[:children].present? %>
          <ul class="nav flex-column">
            <% link[:children].each do |child_link| %>
              <li class="nav-item">
                <%= link_to child_link[:url], class: "nav-link #{active_link?(child_link[:url])}" do %>
                  <%= child_link[:label].html_safe %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
