<div class="modal fade" id="categoryModal<%= category.id %>" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel"><%= category.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3 bg-white">

        <div class="d-flex justify-content-between align-items-center">
          <%= link_to "Voir le règlement du concours", category.edition_competition&.reglement_url, target: 'blank', class: "text-decoration-none my-3 btn btn-primary text-light" %>
          <% if current_user %>
          <%= link_to "Continuer", new_inscription_path(category_id: category.id, candidate_id: current_user.id), class: "btn btn-primary" %>
          <% else %>
            <% session[:category_id] = category.id %>
            <%= link_to "Continuer", new_user_registration_path, class: "btn btn-primary" %>
          <% end %>
        </div>
        <% if current_user&.candidat&.has_minimum_informations_for_inscription? %>
          <small class="text-success"><i class="fas fa-check-circle text-success"></i>Vous pourrez remplir votre dossier a l'étape suivante</small>
        <% elsif current_user %>
          <div class="p-1 my-2 border rounded-8 bg-info-secondary border-info">
            <small class="text-info"><i class="fas fa-info-circle text-info pe-2 "></i>Vous devez avoir complêté votre <%= link_to "profil", edit_candidat_path(current_user.candidat) %> pour pouvoir constituer un dossier d'inscription. En cliquant sur "continuer" vous serez redirigé dessus pour éditer vos informations</small>
          </div>
        <% else %>
          <div class="p-1 my-2 border rounded-8 bg-info-secondary border-info">
            <small class="text-info"><i class="fas fa-info-circle text-info pe-2 "></i>Vous devez vous créer un compte pour pouvoir vous inscrire à une compétition. Suivez ce <%= link_to "lien", new_user_registration_path %></small>
          </div>
        <% end %>
        <p class="text-secondary mb-0"><%= category.description %></p>

        <% category.semi_imposed_works&.each do |semi_imposed_work| %>
          <div class="card mb-3">
            <div class="card-header">
              Présenter<span class="h4 pe-2"> <%= semi_imposed_work.number %></span>oeuvres
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-column">
                <span><%= semi_imposed_work.title %></span>
                <small class="text-secondary"><%= semi_imposed_work.guidelines %></small>
                  <span><i class="fas fa-clock text-secondary pe-2"></i><small><%= semi_imposed_work.max_length_minutes %>min max au total.</small></span>

                </li>
              </ul>
            </div>
          </div>
        <% end %>

        <% if category.imposed_work.present? %>
          <div class="card mb-3">
            <div class="card-header">  Oeuvres imposées: <span class="h4 ps-2"> <%= category.imposed_work.airs.count %></span></div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
              <div><%= category.imposed_work.title %></div>
              <small class="text-secondary"><%= category.imposed_work.guidelines %></small>
                <li class="list-group-item d-flex flex-column">
                  <% category.imposed_work.airs.each do |air| %>
                    <span> <i class="fas fa-feather text-secondary pe-2 small"></i><%= air.title %> - <%= air.composer %> - <%= air.oeuvre %> - <%= air.tonality %></span>
                    <small class="text-secondary"> <%= air.infos %> </small>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>

        <% category.choice_imposed_works&.each do |choice_imposed_work|  %>
          <div class="card mb-3">
            <div class="card-header">
              Choisir<span class="h4 pe-2"> <%= choice_imposed_work.number_to_select %></span>oeuvres parmis:
            </div>
            <div class="card-body">
              <span><%= choice_imposed_work.title %></span>
              <small class="text-secondary"><%= choice_imposed_work.guidelines %></small>
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex flex-column">
                  <% choice_imposed_work.airs.each do |air| %>
                    <span><i class="fas fa-feather text-secondary pe-2 small"></i> <%= air.title %> - <%= air.composer %> - <%= air.oeuvre %> - <%= air.tonality %></span>
                    <small class="text-secondary"> <%= air.infos %> </small>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        <% end %>

        <% if category.requirement_items.any? %>
          <div class="card mb-3">
            <div class="card-header">Eléments requis:</div>
            <ul class="list-group list-group-flush">
              <% category.requirement_items.each do |item| %>
                <li class="list-group-item p-2 d-flex flex-column ">
                  <p class="lead mb-1"><span class="badge rounded-pill border text-dark bg-light-gradient shadow-sm "><%= item.type_item %></span> <%= item.title %></p>

                  <small class="text-secondary bg-white p-2"><%= item.description_item %></small>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <% if current_user %>
        <%= link_to "Continuer", new_inscription_path(category_id: category.id, candidate_id: current_user.id), class: "btn btn-primary" %>
        <% else %>
          <% session[:category_id] = category.id %>
          <%= link_to "Continuer", new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
