<div class="modal fade" id="categoryModal<%= category.id %>" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoryModalLabel"><%= category.name %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-3 bg-white">

        <div class="d-flex justify-content-between align-items-center">
          <% if category.edition_competition.rule_document.attached? %>
            <%= link_to t('edition_competitions.category_modal_infos.view_rules'), rails_blob_path(category.edition_competition.rule_document), target: 'blank', class: "text-decoration-none my-3 btn btn-outline-dark rounded-4" %>
          <% end %>
          <% if category.edition_competition.rule_document_english.attached? %>
            <%= link_to t('edition_competitions.category_modal_infos.view_rules_english'),  rails_blob_path(category.edition_competition.rule_document_english), target: 'blank', class: "text-decoration-none my-3 btn btn-outline-dark rounded-4" %>
          <% end %>
          <% if current_user %>
            <%= link_to t('edition_competitions.common.continue'), new_inscription_path(category_id: category.id, candidate_id: current_user.id), class: "btn btn-primary" %>
          <% else %>
            <% session[:category_id] = category.id %>
            <%= link_to t('edition_competitions.common.continue'), new_user_registration_path, class: "btn btn-primary" %>
          <% end %>
        </div>

        <h3 class="text-center py-3"><%= t('edition_competitions.category_modal_infos.selection_instructions') %></h3>

        <% if current_user&.candidat&.has_minimum_informations_for_inscription? %>
          <small class="text-success text-center pb-"><i class="fas fa-check-circle text-success"></i><%= t('edition_competitions.category_modal_infos.can_complete_application') %></small>
        <% elsif current_user %>
          <div class="p-1 my-2 border rounded-8 bg-info-secondary border-info">
            <small class="text-info"><i class="fas fa-info-circle text-info pe-2 "></i><%= t('edition_competitions.category_modal_infos.complete_profile_html', profile_link: link_to(t('edition_competitions.category_modal_infos.profile'), edit_candidat_path(current_user.candidat))) %></small>
          </div>
        <% else %>
          <div class="p-1 my-2 border rounded-8 bg-info-secondary border-info">
            <small class="text-info"><i class="fas fa-info-circle text-info pe-2 "></i><%= t('edition_competitions.category_modal_infos.create_account_html', link: link_to(t('edition_competitions.category_modal_infos.link'), new_user_registration_path)) %></small>
          </div>
        <% end %>

        <% category.semi_imposed_works&.each do |semi_imposed_work| %>
          <%= render SemiImposedWorkCardComponent.new(semi_imposed_work: semi_imposed_work) %>
        <% end %>

        <%# <%= render(SemiImposedWorkCardComponent.with_collection(category.semi_imposed_works)) a décommenter plus tard %>

        <%= render ImposedWorkCardComponent.new(category: category) if category.imposed_work.present?%>

        <% category.choice_imposed_works&.each do |choice_imposed_work|  %>
          <%= render ChoiceImposedWorkCardComponent.new(choice_imposed_work: choice_imposed_work) %>
        <% end %>


        <% if category.requirement_items.any? %>
        <h3 class="text-center py-3"><%= t('edition_competitions.category_modal_infos.required_documents') %></h3>
          <div class="card mb-3">
            <div class="card-header"><%= t('edition_competitions.category_modal_infos.required_elements') %></div>
            <ul class="list-group list-group-flush">
              <%= render(RequirementItemComponent.with_collection(category.requirement_items)) %>
            </ul>
          </div>
        <% end %>

      </div>
      <div class="modal-footer">
        <% if current_user %>
        <%= link_to t('edition_competitions.common.continue'), new_inscription_path(category_id: category.id, candidate_id: current_user.id), class: "btn btn-primary" %>
        <% else %>
          <% session[:category_id] = category.id %>
          <%= link_to t('edition_competitions.common.continue'), new_user_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
