<div id="<%= dom_id edition_competition %>">
  <dl class="row">
    <div class="d-flex justify-content-between mb-2">
      <%= button_to "Modifier", edit_organism_competition_edition_competition_path(@organism, @competition, edition_competition), method: :get, class: 'btn btn-outline-dark btn-sm', disabled: edition_competition.published? %>
      <%= button_to "Supprimer cette édition", organism_competition_edition_competition_path(@organism, @competition, edition_competition), method: :delete, class: 'btn btn-outline-dark btn-sm', data: { confirm: "Supprimer l'édition?" }, disabled: edition_competition.published? %>
    </div>

    <dt class="col-sm-4">Annee:</dt>
    <dd class="col-sm-8"><%= edition_competition.annee %></dd>

    <dt class="col-sm-4">Details specifiques:</dt>
    <dd class="col-sm-8"><%= edition_competition.details_specifiques %></dd>

    <dt class="col-sm-4">Start date:</dt>
    <dd class="col-sm-8"><%= edition_competition.start_date %></dd>

    <dt class="col-sm-4">End date:</dt>
    <dd class="col-sm-8"><%= edition_competition.end_date %></dd>

    <dt class="col-sm-4">End of registration:</dt>
    <dd class="col-sm-8"><%= edition_competition.end_of_registration %></dd>

    <dt class="col-sm-4">Rule Document:</dt>
    <dd class="col-sm-8">
      <% if edition_competition.rule_document.attached? %>
      <div class="d-flex gap-2 align-items-center">
        <%= link_to 'Voir', url_for(edition_competition.rule_document), target: "_blank", rel: "noopener"  %>
        <%= button_to 'Supprimer', remove_document_organism_competition_edition_competition_path(@organism, @competition, edition_competition), method: :delete, class:"border btn btn-outline-dark", data: { turbo_confirm: "Supprimer le document?" } %>
      </div>
      <% else %>
        No rule document attached.
      <% end %>
    </dd>
    <% if edition_competition.rule_document.attached? %>
      <div class="d-flex flex-column">
        <embed src="<%= url_for(edition_competition.rule_document) %>"  height="375" type="application/pdf">
      </div>

    <% end %>


  </dl>

</div>
