<div id="<%= dom_id edition_competition %>">
  <dl class="row">
    <dt class="col-sm-4">Annee:</dt>
    <dd class="col-sm-8"><%= edition_competition.annee %></dd>

    <dt class="col-sm-4">Details specifiques:</dt>
    <dd class="col-sm-8"><%= edition_competition.details_specifiques %></dd>

    <dt class="col-sm-4">Start date:</dt>
    <dd class="col-sm-8"><%= edition_competition.start_date %></dd>

    <dt class="col-sm-4">End date:</dt>
    <dd class="col-sm-8"><%= edition_competition.end_date %></dd>

    <dt class="col-sm-4">End of registration:</dt>
    <dd class="col-sm-8"><%= edition_competition.end_of_registration %></dd>

    <dt class="col-sm-4">Rule Document:</dt>
    <dd class="col-sm-8">
      <% if edition_competition.documents.any? %>
        <%= link_to "Download Rules", rails_blob_path(edition_competition.documents&.rules&.first, disposition: "attachment") %>
      <% else %>
        No rule document attached.
      <% end %>
    </dd>

    <dt class="col-sm-4">Prix:</dt>
    <dd class="col-sm-8">TODO: liste de prix</dd>

  </dl>
  <div class="d-flex justify-content-between">
    <%= button_to "Modifier", edit_organism_competition_edition_competition_path(@organism, @competition, edition_competition), method: :get, class: 'btn btn-outline-dark' %>
    <%= button_to "Supprimer cette édition", organism_competition_edition_competition_path(@organism, @competition, edition_competition), method: :delete, class: 'btn btn-outline-dark', data: { confirm: "Supprimer l'édition?" } %>
  </div>
</div>
