<div id="<%= dom_id edition_competition %>">
  <dl class="row">
      <div class="d-flex justify-content-end mb-2">
      <% kebab_items = [
        {
          icon: "fas fa-edit",
          text: t('edition_competitions.edition_competition.edit'),
          path: edit_organism_competition_edition_competition_path(@organism, @competition, edition_competition),
          method: :get,
          state: edition_competition.published? ? "disabled" : "enabled"
        },
        {
          icon: "fas fa-trash",
          text: t('edition_competitions.edition_competition.delete'),
          path: organism_competition_edition_competition_path(@organism, @competition, edition_competition),
          method: :delete,
          data: { confirm: t('edition_competitions.edition_competition.confirm_delete'), turbo_confirm: t('edition_competitions.edition_competition.confirm_delete') },
          class: "deletion-button",
          state: edition_competition.published? ? "disabled" : "enabled"
        }
      ] %>

      <%= render(Dropdown::KebabComponent.new(items: kebab_items, only_vertical_dots: false)) %>
    </div>

    <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.year') %>:</dt>
    <dd class="col-sm-8"><%= edition_competition.annee %></dd>

    <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.specific_details') %>:</dt>
    <dd class="col-sm-8"><%= edition_competition.details_specifiques %></dd>

    <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.specific_details_english') %>:</dt>
    <dd class="col-sm-8"><%= edition_competition.specific_details_english %></dd>

    <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.start_date') %>:</dt>
    <dd class="col-sm-8"><%= edition_competition.start_date %></dd>

    <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.end_date') %>:</dt>
    <dd class="col-sm-8"><%= edition_competition.end_date %></dd>

    <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.end_of_registration') %>:</dt>
    <dd class="col-sm-8"><%= edition_competition.end_of_registration %></dd>

    <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.rule_document') %>:</dt>
    <dd class="col-sm-8">
      <% if edition_competition.rule_document.attached? %>
      <div class="d-flex gap-2 align-items-center">
        <%= link_to t('edition_competitions.common.view'), url_for(edition_competition.rule_document), target: "_blank", rel: "noopener"  %>
        <%= button_to t('edition_competitions.common.delete'), remove_document_organism_competition_edition_competition_path(@organism, @competition, edition_competition), method: :delete, class:"border btn btn-outline-dark", data: { turbo_confirm: t('edition_competitions.edition_competition.confirm_delete_document') } %>
      </div>
      <% else %>
        <%= t('edition_competitions.edition_competition.no_document') %>
      <% end %>
    </dd>
    <% if edition_competition.rule_document.attached? %>
      <div class="d-flex flex-column">
        <embed src="<%= url_for(edition_competition.rule_document) %>"  height="375" type="application/pdf">
      </div>
    <% end %>

    <dt class="col-sm-4 mt-4"><%= t('edition_competitions.edition_competition.rule_document_english') %>:</dt>
    <dd class="col-sm-8">
      <% if edition_competition.rule_document_english.attached? %>
      <div class="d-flex gap-2 align-items-center">
        <%= link_to t('edition_competitions.common.view'), url_for(edition_competition.rule_document_english), target: "_blank", rel: "noopener"  %>
        <%= button_to t('edition_competitions.common.delete'), remove_document_organism_competition_edition_competition_path(@organism, @competition, edition_competition), method: :delete, class:"border btn btn-outline-dark", data: { turbo: {confirm: t('edition_competitions.edition_competition.confirm_delete_document') } } %>
      </div>
      <% else %>
        <%= t('edition_competitions.edition_competition.no_document') %>
      <% end %>
    </dd>
    <% if edition_competition.rule_document.attached? %>
      <div class="d-flex flex-column">
        <embed src="<%= url_for(edition_competition.rule_document) %>"  height="375" type="application/pdf">
      </div>
    <% end %>

    <%# Links to copy past to share the competition %>
    <% if edition_competition.published? %>
      <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.share_link') %>:</dt>
      <dd class="col-sm-8"><span class="text-primary"><%= edition_competition.sharable_link %></span></dd>

      <%# qr code %>
      <dt class="col-sm-4"><%= t('edition_competitions.edition_competition.qr_code') %>:</dt>
      <dd class="col-sm-8"><%= raw edition_competition.qr_code %></dd>
    <% end %>
  </dl>

</div>
