<%= turbo_frame_tag 'edition_competition_frame' do %>

<div id="<%= dom_id edition_competition %>">
  <p>
    <strong>Competition:</strong>
    <%= edition_competition.competition_id %>
  </p>

  <p>
    <strong>Annee:</strong>
    <%= edition_competition.annee %>
  </p>

  <p>
    <strong>Details specifiques:</strong>
    <%= edition_competition.details_specifiques %>
  </p>
  <div class="d-flex justify-content-between">
    <%= button_to "Modifier", edit_edition_competition_path(edition_competition), method: :get, data: { turbo_action: 'replace', turbo_frame: 'edition_competition_frame' }, class: 'btn btn-outline-dark' %>
    <%= button_to "Supprimer cette édition", edition_competition, method: :delete, class: 'btn btn-outline-dark', data: { confirm: "Supprimer l'édition?" } %>
  </div>
</div>

<% end %>
