<div class="container">
  <div class="row">
    <div class="col">
    <h1><%= t('inscription_orders.new.title') %></h1>
    <p><%= t('inscription_orders.new.about_to_pay') %></p>
    <%= t('inscription_orders.new.certification_html') %>
    <%= t('inscription_orders.new.no_refund') %>

    <%= form_tag inscription_orders_path do %>
      <%= hidden_field_tag :inscription_id, params[:inscription].present? ? params[:inscription] : params[:inscription_id]%>
      <%= submit_tag t('global.actions.continue'), class: 'btn btn-dark' %>
    <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>
