<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Inscription Order #<%= @inscription_order.id %> <small><span class="badge badge-primary"><%= @inscription_order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @inscription_order.created_at.to_date %></li>
        <li><strong>USER</strong> <%= @inscription_order.user.email %></li>
        <li><strong>INSCRIPTION</strong> <%= @inscription_order.inscription.category.name %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @inscription_order.amount %><(hors comission)/li>
      </ul>
    </div>
   </div>
   <div class="row">
    <div class="col">
      <%= link_to 'Voir mes candidatures', inscriptions_path, class: 'btn btn-dark mx-auto '  %>
    </div>
   </div>
    </div>
  </div>
</div>
