<div class="container p-3">
  <div class="row py-4">
    <div class="col-8">
      <h1 class="text-success"><%= t('inscription_orders.show.congratulations') %></h1>
      <h2><%= t('inscription_orders.show.order_number', id: @inscription_order.id) %></h1>
      <table class="table table-striped table-bordered">
        <tbody>
          <tr><th><%= t('inscription_orders.show.issued_on') %></th><td><%= @inscription_order.created_at.to_date %></td></tr>
          <tr><th><%= t('inscription_orders.show.user') %></th><td><%= @inscription_order.user.email %></td></tr>
          <tr><th><%= t('inscription_orders.show.inscription') %></th><td><%= @inscription_order.inscription.category.name %></td></tr>
          <tr><th><%= t('inscription_orders.show.total') %></th><td><%= humanized_money_with_symbol(@inscription_order.amount + Money.new(250, 'EUR')) %></td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row col-4">
    <p class="px-3 py-2 bg-success-secondary text-success border border-success rounded-8"> <i class="fas fa-info-circle text-success pe-1 "></i><%= t('inscription_orders.show.reminder') %></p>
    <div class="text-center">
      <%= link_to t('inscription_orders.show.view_application'), inscription_path(@inscription_order.inscription), class: 'btn btn-primary mx-auto px-5'  %>
    </div>
  </div>
</div>
