<div id="<%= dom_id free_choice_air %>">
  <p>
    <strong><%= t('free_choice_airs.free_choice_air.free_choice') %>:</strong>
    <%= free_choice_air.free_choice_id %>
  </p>

  <p>
    <strong><%= t('free_choice_airs.free_choice_air.air') %>:</strong>
    <%= free_choice_air.air_id %>
  </p>

</div>
