<p style="color: green"><%= notice %></p>

<h1><%= t('free_choice_airs.index.title') %></h1>

<div id="free_choice_airs">
  <% @free_choice_airs.each do |free_choice_air| %>
    <%= render free_choice_air %>
    <p>
      <%= link_to t('free_choice_airs.index.show'), free_choice_air %>
    </p>
  <% end %>
</div>

<%= link_to t('free_choice_airs.index.new'), new_free_choice_air_path %>
