<p style="color: green"><%= notice %></p>

<%= render @free_choice_air %>

<div>
  <%= link_to "Edit this free choice air", edit_free_choice_air_path(@free_choice_air) %> |
  <%= link_to "Back to free choice airs", free_choice_airs_path %>

  <%= button_to "Destroy this free choice air", @free_choice_air, method: :delete %>
</div>
