<p style="color: green"><%= notice %></p>

<%= render @free_choice_air %>

<div>
  <%= link_to t('free_choice_airs.show.edit'), edit_free_choice_air_path(@free_choice_air) %> |
  <%= link_to t('free_choice_airs.show.back'), free_choice_airs_path %>

  <%= button_to t('free_choice_airs.show.destroy'), @free_choice_air, method: :delete %>
</div>
