<p style="color: green"><%= notice %></p>

<h1><%= t('programme_requirements.index.programme_requirements') %></h1>

<div id="programme_requirements">
  <% @programme_requirements.each do |programme_requirement| %>
    <%= render programme_requirement %>
    <p>
      <%= link_to t('global.actions.show'), programme_requirement %>
    </p>
  <% end %>
</div>

<%= link_to t('global.actions.new'), new_programme_requirement_path %>
