<p style="color: green"><%= notice %></p>

<%= render @programme_requirement %>

<div>
  <%= link_to t('global.actions.edit'), edit_programme_requirement_path(@programme_requirement) %> |
  <%= link_to t('global.actions.back'), programme_requirements_path %>

  <%= button_to t('global.actions.destroy'), @programme_requirement, method: :delete %>
</div>
