<%= simple_form_for([@organism, @competition, @edition_competition, @category, @tour]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors.present? %>
  <div class="form-inputs">
    <div class="d-flex gap-3">
      <%= f.input :title, placeholder: t('tours.form.title_placeholder'), class: "form-control bg-white" %>
    </div>
    <%= f.input :description, as: :text, placeholder: t('tours.form.description_placeholder'), class: "bg-white" %>

    <div class="d-flex gap-3">
      <%= f.input :title_english, placeholder: t('tours.form.title_english_placeholder'), class: "form-control bg-white" %>
    </div>
    <%= f.input :description_english, as: :text, placeholder: t('tours.form.description_english_placeholder'), class: "bg-white" %>

    <%= f.input :start_date, label: t('tours.form.start_date') %>
    <%= f.input :final_performance_submission_deadline, label: t('tours.form.final_performance_submission_deadline') %>
    <% if false%>
      <%= f.label :imposed_air_selection, t('tours.form.imposed_air_selection_label'), class: 'form-label' %>
      <%= f.collection_check_boxes :imposed_air_selection, @category.imposed_work.airs, :id, :title, selected: @tour.imposed_air_selection.map(&:to_i) do |b| %>
        <div class="form-check">
          <%= b.check_box class: 'form-check-input' %>
          <%= b.label class: 'form-check-label' %>
        </div>
      <% end %>
    <% end %>

    <% if @category.imposed_work.present? %>
      <%= f.label :imposed_air_selection, t('tours.form.imposed_air_selection_label_optional'), class: 'form-label ' %>
      <%= f.select :imposed_air_selection, @category.imposed_work.airs.map { |air| [air.title, air.id] }, { include_blank: t('tours.form.none') }, { multiple: true, class: 'form-control' } %>
      <small class="form-text text-muted"><%= t('tours.form.multiple_selection_help') %></small>
    <% else %>
    <div class="p-3 pb-1 my-3 border">
      <p class="text-muted"><i class="fas fa-info-circle text-secondary pe-1"></i> <%= t('tours.form.create_imposed_work_first') %></p>
    </div>
    <% end %>

    <%= f.input :no_pianist_accompagnateur, as: :boolean, input_html: {class:"bg-success border border-2"}, label: t('tours.form.no_pianist_accompagnateur') %>

    <h2><%= t('tours.form.configurations') %></h2>
    <%= f.simple_fields_for :tour_requirement do |tr| %>
      <div class="row">
        <!-- Original description -->
        <div class="col-md-12">
          <%= tr.input :description, class: "form-control bg-white", placeholder: t('tours.form.tour_requirement_description_placeholder') %>
        </div>

        <!-- English description -->
        <div class="col-md-12">
          <%= tr.input :description_english, class: "form-control bg-white", placeholder: t('tours.form.tour_requirement_description_english_placeholder') %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= tr.input :min_number_of_works, label: t('tours.form.min_number_of_works'), class: "form-control bg-white" %>
        </div>

        <div class="col-md-6">
          <%= tr.input :max_number_of_works, label: t('tours.form.max_number_of_works'), class: "form-control bg-white" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= tr.input :min_duration_minute, label: t('tours.form.min_duration_minute'), class: "form-control bg-white" %>
        </div>

        <div class="col-md-6">
          <%= tr.input :max_duration_minute, label: t('tours.form.max_duration_minute'), class: "form-control bg-white" %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, t('global.actions.save'), class:"btn btn-primary" %>
  </div>
<% end %>
