<%= simple_form_for([@organism, @competition, @edition_competition, @category, @tour]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.label :title, "Titre", class: "form-label" %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :description, "Description", class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>


    <%= f.label :start_date, "Date de début", class: "form-label" %>
    <div class="d-flex">
      <%= f.datetime_select :start_date %>
    </div>

    <%= f.label :start_time, "Heure de début", class: "form-label" %>
    <div class="d-flex">
      <%= f.datetime_select :start_time %>
    </div>

    <%= f.label :end_date, "Date de fin", class: "form-label" %>
    <div class="d-flex">
      <%= f.datetime_select :end_time %>
    </div>

    <%= f.label "Date limite de soumission du programme du candidat pour ce tour" %>
    <div class="d-flex">
      <%= f.datetime_select :final_performance_submission_deadline %>
    </div>


    <% if Date.today <= @category.edition_competition.end_of_registration %>
      <%= f.label :tour_number, "Numéro du tour (1er, 2e, 3e, etc...)", class: "form-label" %>
      <%= f.number_field :tour_number, class: "form-control" , required: true %>
    <% end %>

    <% if false && @category.imposed_work.present? %>
      <%= f.label :imposed_air_selection, "Cochez les airs que vous souhaitez imposer pour ce tour (optionel)", class: 'form-label' %>
      <%= f.collection_check_boxes :imposed_air_selection, @category.imposed_work.airs, :id, :title, selected: @tour.imposed_air_selection.map(&:to_i) do |b| %>
        <div class="form-check">
          <%= b.check_box class: 'form-check-input' %>
          <%= b.label class: 'form-check-label' %>
        </div>
      <% end %>
    <% end %>
    <% if @category.imposed_work.present? %>
      <%= f.label :imposed_air_selection, "Sélectionnez les airs que vous souhaitez imposer pour ce tour (optionel)", class: 'form-label' %>
      <%= f.select :imposed_air_selection, @category.imposed_work.airs.map { |air| [air.title, air.id] }, { include_blank: 'Aucun' }, { multiple: true, class: 'form-control' } %>
      <small class="form-text text-muted">Maintenez la touche Ctrl (ou Cmd sur Mac) enfoncée pour sélectionner plusieurs airs. Sur mobile, appuyez sur les airs que vous souhaitez sélectionner.</small>
    <% end %>

    <h2>Configurations</h2>
<%= f.simple_fields_for :tour_requirement do |tr| %>
  <div class="row">
    <div class="col-md-12">
      <%= tr.label :description, "Description", class: "form-label" %>
      <%= tr.text_area :description, class: "form-control", placeholder: "Pour ce tour, décrivez les spécifications de programme du candidat; Doit il inclure un des airs imposés au choix ?" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= tr.label :min_number_of_works, "Nombre minimum d'œuvres", class: "form-label" %>
      <%= tr.number_field :min_number_of_works, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= tr.label :max_number_of_works, "Nombre maximum d'œuvres", class: "form-label" %>
      <%= tr.number_field :max_number_of_works, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= tr.label :min_duration_minute, "Durée minimum en minutes", class: "form-label" %>
      <%= tr.number_field :min_duration_minute, class: "form-control" %>
    </div>

    <div class="col-md-6">
      <%= tr.label :max_duration_minute, "Durée maximum en minutes", class: "form-label" %>
      <%= tr.number_field :max_duration_minute, class: "form-control" %>
    </div>
  </div>
<% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enregistrer", class:"btn btn-dark" %>
  </div>
<% end %>
