<%= simple_form_for([@organism, @competition, @edition_competition, @category, @tour]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors.present? %>
  <div class="form-inputs">
    <div class="d-flex gap-3">
      <%= f.input :title, placeholder: "ex: Tour éliminatoire", class: "form-control bg-white" %>
      <%= f.input :tour_number, class: "form-control bg-white" , required: true, input_html: {value: @category.tours&.count + 1}%>
    </div>
    <%= f.input :description, as: :text, placeholder: "Détails et informations sur ce tour", class: "bg-white"  %>
    <%= f.input :start_date %>
    <%= f.input :final_performance_submission_deadline %>




    <% if false && @category.imposed_work.present? %>
      <%= f.label :imposed_air_selection, "Cochez les airs que vous souhaitez imposer pour ce tour (optionel)", class: 'form-label' %>
      <%= f.collection_check_boxes :imposed_air_selection, @category.imposed_work.airs, :id, :title, selected: @tour.imposed_air_selection.map(&:to_i) do |b| %>
        <div class="form-check">
          <%= b.check_box class: 'form-check-input' %>
          <%= b.label class: 'form-check-label' %>
        </div>
      <% end %>
    <% end %>
    <% if @category.imposed_work.present? %>
      <%= f.label :imposed_air_selection, "Sélectionnez les airs que vous souhaitez imposer pour ce tour (optionel)", class: 'form-label ' %>
      <%= f.select :imposed_air_selection, @category.imposed_work.airs.map { |air| [air.title, air.id] }, { include_blank: 'Aucun' }, { multiple: true, class: 'form-control' } %>
      <small class="form-text text-muted">Maintenez la touche Ctrl (ou Cmd sur Mac) enfoncée pour sélectionner plusieurs airs. Sur mobile, appuyez sur les airs que vous souhaitez sélectionner.</small>
    <% end %>

    <%= f.input :no_pianist_accompagnateur, as: :boolean, label: "Souhaitez vous qu'il n'y ait aucun pianiste accompagnateur sur ce tour (par exemple dans le cas d'un accompagnement par orchestre)" %>

    <h2>Configurations</h2>
    <%= f.simple_fields_for :tour_requirement do |tr| %>
      <div class="row">
        <div class="col-md-12">
          <%= tr.input :description, class: "form-control  bg-white", placeholder: "Pour ce tour, décrivez les spécifications de programme du candidat; Doit il inclure un des airs imposés au choix ?" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= tr.input :min_number_of_works, class: "form-control  bg-white" %>
        </div>

        <div class="col-md-6">
          <%= tr.input :max_number_of_works, class: "form-control  bg-white" %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <%= tr.input :min_duration_minute, class: "form-control  bg-white" %>
        </div>

        <div class="col-md-6">
          <%= tr.input :max_duration_minute, class: "form-control  bg-white" %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Enregistrer", class:"btn btn-dark" %>
  </div>
<% end %>
