  <!--  Section ordre passage s'il existe-->
  <div>

    <div class="overflow-auto p-3">
      <div class="d-flex justify-content-center gap-3">
        <h2 class="text-center"><%= t('tours.order_of_performances.current_order') %></h2>

        <%= button_to shuffle_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour), method: :post, class: "btn btn-outline-dark rounded-8", data: { turbo_confirm: t('tours.order_of_performances.shuffle_confirm') }, disabled: @tour.performances.count <= 1 do %>
          <i class="fas fa-random pe-1"></i>
          <%= t('tours.order_of_performances.shuffle_randomly') %>
        <% end %>

        <% unless @tour.requires_pianist_accompanist %>
          <%= button_tag type: 'button', class: "btn btn-outline-dark rounded-8", style: "height: 38px;", data: { bs_toggle: "modal", bs_target: "#assignPianistModal" }, disabled: @tour.performances.none?  do %>
            <i class="fas fa-user pe-1"></i>
            <%= t('tours.order_of_performances.assign_pianists') %>
          <% end %>
        <% end %>

        <div class="modal fade" id="assignPianistModal" tabindex="-1" aria-labelledby="assignPianistModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="assignPianistModalLabel"><%= t('tours.order_of_performances.assign_pianist') %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="<%= t('global.actions.close') %>"></button>
              </div>
              <div class="modal-body">
                <%= form_with url: assign_pianist_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour), method: :post do |form| %>
                  <!-- Add your form fields here -->
                  <div class="mb-3">
                    <%= form.label :pianist_accompagnateur_id, t('tours.order_of_performances.pianists_for_tour') %>
                    <%= form.collection_select :pianist_accompagnateur_ids, @organism.pianist_accompagnateurs, :id, :full_name, {prompt: t('tours.order_of_performances.select_pianists')}, {class: "form-control", multiple: true, id: "pianist-select", onchange: "document.getElementById('submit-button').disabled = (this.value == '');"} %>
                  </div>

                  <div class="mb-3">
                    <h3><%= t('tours.order_of_performances.pianist_assignment_config') %></h3>
                      <p><%= t('tours.order_of_performances.max_consecutive_performances') %></p>
                      <%= number_field_tag :max_consecutive_performances_per_pianist, nil, min: 1, class: "form-control" %>

                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('global.actions.close') %></button>
                    <%= form.submit t('tours.order_of_performances.assign'), id: "submit-button", class: "btn btn-success", disabled: true %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>



      </div>
      <p class="text-center text-secondary"><%= t('tours.order_of_performances.change_order_instructions') %> <i class="fas fa-check"></i> <%= t('tours.order_of_performances.or_shuffle') %> <i class="fas fa-random"></i></p>



      <table class="table table-bordered caption-top">
        <thead>
          <tr>
            <th class="p-2 text-center bg-grey "><%= t('tours.order_of_performances.candidate') %></th>
            <th class="p-2 text-center bg-grey "><%= t('tours.order_of_performances.order') %></th>
            <th class="p-2 text-center bg-grey "><%= t('tours.order_of_performances.presented_airs') %></th>
            <% if @category.is_accompagnated_by_pianist? %>
              <th class="p-2 text-center bg-grey "><%= t('tours.order_of_performances.pianist_accompanist') %></th>
            <% end %>
            <th class="p-2 text-center bg-grey "><%= t('tours.order_of_performances.timing') %></th>
            <th class="p-2 text-center bg-grey "><%= t('tours.order_of_performances.passage_preference') %></th>
            <th class="p-2 text-center bg-grey "><%= t('tours.order_of_performances.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% if @tour.performances.none? %>
            <tfoot>
              <tr>
                <td colspan="4" class="bg-light">
                  <small class="text-center text-secondary pt-3"><%= t('tours.order_of_performances.no_performances_yet') %></small>
                </td>
              </tr>
            </tfoot>
          <% else %>
            <% @tour.performances.order(:order).each do |performance| %>
              <tr>
                <td class="p-2 bg-light ">
                  <%= link_to performance.candidat.first_name, inscription_path(performance.inscription), target: '_blank', class: performance.minutes == 0 ? "text-danger" : ''%>
                  <% if performance.minutes == 0 %>
                    <i class="text-danger fas fa-circle-exclamation"></i>
                  <% end %>
                </td>
                <td class="p-2 text-center bg-light" style="min-width: 130px;">
                  <%= form_with url: update_order_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour, performance_id: performance.id), method: :post do %>
                    <div class="d-flex">
                    <%= number_field_tag "new_order", performance.order, class: "form-control", min: 1, max: @tour.performances.count %>
                    <%= button_tag(type: 'submit', class: "btn btn-outline-dark", data: { turbo_confirm: t('tours.order_of_performances.change_order_confirm') }) do %>
                      <i class="fas fa-check"></i> <!-- for check -->
                    <% end %>
                    </div>
                  <% end %>
                <td class="p-2 text-center bg-light text-secondary w-75">
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                          <%= truncate(performance&.airs&.first&.title, length: 50) %> <% if performance.airs.count > 1 %> <%= t('tours.order_of_performances.and_others', count: performance.airs.count - 1) %> <% end %> - <%= t('tours.order_of_performances.see_more') %>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                          <% performance&.airs&.each do |air| %>
                            <div class="border border-secondary p-1">
                            <span class="text-warning"><%= air.title %></span> -
                            <%= air.composer %> -
                            <%= air.length_minutes %> -
                            <%= air.oeuvre %> -
                            <%= air.character + '-' if air.character.present? %> -
                            <%= air.tonality %>
                            <%= '-' + air.infos if air.infos.present? %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <% if @category.is_accompagnated_by_pianist? %>
                  <td class="p-2 text-center bg-light text-secondary"  >
                    <% if !performance.inscription.candidate_brings_pianist_accompagnateur %>
                      <%= form_with url: assign_pianist_to_performance_manually_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour, performance_id: performance.id), method: :post, html: { id: "pianist-form-#{performance.id}" } do |form| %>
                        <%= form.hidden_field :performance_id, value: performance.id %>
                        <%= form.select :pianist_accompagnateur_id, @organism.pianist_accompagnateurs.map { |p| [p.full_name, p.id] }, { selected: performance.pianist_accompagnateur_id, prompt: t('tours.order_of_performances.select_pianist') }, { onchange: "document.getElementById('pianist-form-#{performance.id}').submit();" } %>
                        <%# <%= form.submit "Update", class: "btn btn-success mt-2" %>
                      <% end %>
                    <% else %>
                      <p><%= t('tours.order_of_performances.brings_own_pianist') %></p>
                    <% end %>
                  </td>
                <% end %>
                <td class="p-2 text-center bg-light <%= performance.minutes == 0 ? 'text-danger' : 'text-secondary' %>">
                  <%= performance.minutes %>
                </td>
                <td class="p-2 text-center bg-light text-secondary">
                  <%= performance.inscription.time_preference %>
                </td>
                <td class="p-2 text-center bg-light">
                  <%= link_to t('global.actions.delete'), organism_competition_edition_competition_category_inscription_path(@organism, @competition, @edition_competition, @category, performance.inscription, tour_id: @tour.id), method: :delete, data: { turbo_confirm: t('global.confirmations.are_you_sure'), turbo_method: :delete}, class: "btn btn-danger" %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
