<div class="row px-3" >
  <div class="d-flex justify-content-center mx-auto mb-3">
    <% if @tour.has_planning? %>
      <button class="items-center mx-3 justify-center btn btn-outline-success py-3 rounded-16"  data-bs-target="#tourConfirmationModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" >
        <i class="fas fa-sync-alt pe-3"></i>
        Reconfigurer le planning <br>
        <small class="text-secondary">
          Modifiez les contraintes horaires du tour, et regénérez un planning
        </small>
      </button>


      <%# Bouton qui ouvre mon application mail pour envoyer un message a tous les performances.candidat.user.email %>
      <%# Generate the email list %>
      <% email_list = @performances.map { |p| p.candidat.user.email }.join(',') %>

      <%# Button that opens the default email client with a pre-filled email %>
      <a href="mailto:<%= email_list %>?subject=Your%20Subject&body=Your%20Body" class="items-center mx-3 justify-center btn btn-outline-success py-3 rounded-16">
        <i class="fas fa-envelope"></i>
        Envoyer un mail à tous les candidats <br>
        <small class="text-secondary">(<%= email_list.split(',').count %> destinataires) <br>Par exemple un planning PDF. Conservez votre signature</small>
      </a>

    <% end %>
  </div>


  <%# bouton télécharger, imprimer %>
  <div class="d-flex gap-3 justify-content-between">
    <%= link_to "Télécharger ce planning PDF", show_pdf_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour), class: "btn btn-primary", target: '_blank' %>

  <!-- Button to open the modal -->
      <div class="d-flex gap-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#planningJuryFormModal">
          Configurer le dossier jury
        </button>
        <% if !session[:detailed_program].nil? %>
          <%= link_to "Télécharger le dossier du jury PDF", show_jury_pdf_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour), class: "btn btn-primary", target: '_blank', disabled: session[:detailed_program].nil? %>
        <% end %>
      </div>
    </div>
  <!-- The modal -->
  <div class="modal fade" id="planningJuryFormModal" tabindex="-1" aria-labelledby="planningJuryFormModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="planningJuryFormModalLabel">Jury Planning Configuration</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "planning_jury_form" %>
        </div>
      </div>
    </div>
  </div>



<h2 class=" border border-1 mt-5 rounded-8 bg-grey text-center my-3">Planning du tour</h3>



  <div class="text-center text-secondary py-4 ">Ajoutez des pauses, décalez un jour, ou bien regénerez un planning avec des caractéristiques différentes si celui là ne convient pas</div>
  <% @tour.days_of_performances.each do |day| %>
    <div class="col shadow-sm mx-2 bg-grey" data-controller="start-time" data-day="<%= day.strftime('%Y-%m-%d') %>">
      <h2 class="text-center"><%= day.strftime('%a %d %B %Y') %></h2>
      <%= simple_form_for :update_day, url: update_day_of_performance_and_subsequent_performances_organism_competition_edition_competition_category_tour_path(organism_id: @organism.id, competition_id: @competition.id, edition_competition_id: @edition_competition.id, category_id: @category.id, tour_id: @tour.id), method: :put, html: { class: 'edit-day-form', data: { controller: "date", action: "submit->date#validateDateFormat" } } do |f| %>
        <div class="d-flex w-100 justify-content-between align-items-start">
          <div class="d-flex" style="max-height: 40px;">
            <%= f.input :old_start_date, as: :hidden, input_html: { data: { start_time_target: "oldStartDate" } } %>
            <%= f.input :new_start_date, label: false, input_html: { data: { start_time_target: "newStartDate", date_target: "newStartDate" } } %>
            <%= button_tag(type: 'submit', class: "btn btn-outline-secondary h-100", data: { turbo_confirm: "Changer la date modifiera la dates des performance ultérieures de ce tour" }) do %>
              <i class="fas fa-sync-alt"></i>
            <% end %>
          </div>
          <div class="btn btn-primary mb-2  " data-controller="start-time" data-bs-toggle="modal" data-bs-target="#pauseModal" data-action="click->start-time#fetchStartTimes" data-day="<%= day %>">
            + Ajouter une pause
          </div>
        </div>
      <% end %>
      <!-- Button trigger modal -->

      <!-- Modal -->
      <div class="modal fade" id="pauseModal" tabindex="-1" aria-labelledby="pauseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pauseModalLabel">Add Pause</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <p class="text-warning" >Vous ne pouvez qu'ajouter des pauses dans l'ordre chronologique. Commencez par celle du matin si vous en voulez une le matin, puis pause déjeuner, et pause dans l'après midi</p>

              <%= simple_form_for [@organism, @competition, @edition_competition, @category, @tour, Pause.new] do |f| %>
                <%= f.input :date, as: :hidden, input_html: { class: "pause_day" } %>
                <%= f.input :start_time, collection: @tour.performances.where(start_date: day).map { |p| p.start_time.strftime("%H:%M") }, label: 'Heure de début', input_html: { class: 'form-control' } %>
                <%= f.input :end_time, as: :time, label: 'End time', input_html: { value: '12:00' } %>
                <%= f.button :submit, 'Add Pause', class: 'btn btn-dark-outline' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- planning -->
      <table class="table ">
        <thead>
          <tr>
            <th scope="col">Candidat</th>
            <th scope="col">Heure de passage</th>
            <th scope="col">Ordre</th>
          </tr>
        </thead>
        <tbody>
          <% unless @tour.performances.any?{|p| p.start_time.nil?} %>
            <% items = (@tour.performances.to_a + @tour.pauses.to_a).sort_by { |item| item.start_time.strftime('%H:%M') } %>

            <% items.each_with_index do |item, index| %>
              <% if item.is_a?(Performance) && item.start_date == day %>
                <%= form_with(model: item, url: performance_path(item), method: :patch, local: true) do |f| %>
                  <tr>
                    <td><%= link_to item.candidat.first_name, item.inscription  %></td>
                    <td><%= f.time_field :start_time, value: item&.start_time.strftime('%H:%M'), id: "start_time_#{day}_#{index}", disabled: true %></td>
                    <td><%= item.order  %></td>
                  </tr>
                <% end %>
              <% elsif item.is_a?(Pause) && item.date == day %>
                <tr>
                  <td>Pause</td>
                    <td id="pause_time_<%= day %>_<%= index %>"><%= item.start_time.strftime('%H:%M') %> - <%= item.end_time.strftime('%H:%M') %></td>
                  <td>
                    <% last_pause_of_the_day = items.reverse.find { |i| i.is_a?(Pause) && i.date == day } %>

                    <% if last_pause_of_the_day == item %>
                      <%= button_to 'Supprimer', organism_competition_edition_competition_category_tour_pause_path(@organism, @competition, @edition_competition, @category, @tour, item), method: :delete, data: { turbo_confirm: "Supprimer cette pause modifiera l'ordre de passage des performances ultérieures de ce tour" }, class: 'btn btn-outline-danger' %>
                    <% else %>
                      <div class="btn btn-outline-danger disabled">
                        Supprimer
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  <% end %>

</div>
