<div class="row p-5" >
  <% @tour.days_of_performances.sort.each do |day| %>
    <div class="col">
      <h2>Jour <%= day&.strftime('%d/%m/%Y') %></h2>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark-outline" data-controller="start-time" data-bs-toggle="modal" data-bs-target="#pauseModal" data-action="click->start-time#fetchStartTimes" data-day="<%= day %>">
        Add Pause
      </button>

      <!-- Modal -->
      <div class="modal fade" id="pauseModal" tabindex="-1" aria-labelledby="pauseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pauseModalLabel">Add Pause</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <p class="text-warning" >Vous ne pouvez qu'ajouter des pauses dans l'ordre chronologique. Commencez par celle du matin si vous en voulez une le matin, puis pause déjeuner, et pause dans l'après midi</p>

              <%= simple_form_for [@organism, @competition, @edition_competition, @category, @tour, Pause.new] do |f| %>
                <%= f.input :date, as: :hidden, input_html: { class: "pause_day" } %>
                <%= f.input :start_time, collection: @tour.performances.where(start_date: day).map { |p| p.start_time.strftime("%H:%M") }, label: 'Start time', input_html: { class: 'form-control' } %>
                <%= f.input :end_time, as: :time, label: 'End time', input_html: { value: '12:00' } %>
                <%= f.button :submit, 'Add Pause', class: 'btn btn-dark-outline' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- planning -->
      <table class="table w-50">
        <thead>
          <tr>
            <th scope="col">Candidate</th>
            <th scope="col">Start Time</th>
          </tr>
        </thead>
        <tbody>
          <% items = (@tour.performances.to_a + @tour.pauses.to_a).sort_by { |item| item.start_time.strftime('%H:%M') } %>

          <% items.each_with_index do |item, index| %>
            <% if item.is_a?(Performance) && item.start_date == day %>
              <%= form_with(model: item, url: performance_path(item), method: :patch, local: true) do |f| %>
                <tr>
                  <td><%= item.candidat.first_name  %></td>
                  <td><%= f.time_field :start_time, value: item&.start_time.strftime('%H:%M'), id: "start_time_#{day}_#{index}", disabled: true %></td>
                </tr>
              <% end %>
            <% elsif item.is_a?(Pause) && item.date == day %>
              <tr>
                <td>Pause</td>
                  <td id="pause_time_<%= day %>_<%= index %>"><%= item.start_time.strftime('%H:%M') %> - <%= item.end_time.strftime('%H:%M') %></td>
                <td>
                  <% last_pause_of_the_day = items.reverse.find { |i| i.is_a?(Pause) && i.date == day } %>
                  <%= button_to 'Delete', [@organism, @competition, @edition_competition, @category, @tour, item], method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: "btn btn-danger", disabled: item != last_pause_of_the_day %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  <% end %>

</div>
