<%= form_with(url: store_form_data_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour), method: "post", local: true) do |f| %>
 <div>
  <%= f.label :detailed_program, t('tours.planning_jury_form.detailed_program') %>
  <%= f.check_box :detailed_program, checked: session[:detailed_program] %>
</div>

<div>
  <%= f.label :simple_air, t('tours.planning_jury_form.simple_air') %>
  <%= f.check_box :simple_air, checked: session[:simple_air] %>
</div>

<div>
  <%= f.label :notes_space, t('tours.planning_jury_form.notes_space') %>
  <%= f.check_box :notes_space, checked: session[:notes_space] %>
</div>

<div>
  <%= f.label :profile_photo, t('tours.planning_jury_form.profile_photo') %>
  <%= f.check_box :profile_photo, checked: session[:profile_photo] %>
</div>

<div>
  <%= f.label :artistic_photo, t('tours.planning_jury_form.artistic_photo') %>
  <%= f.check_box :artistic_photo, checked: session[:artistic_photo] %>
</div>

<div>
  <%= f.label :short_bio, t('tours.planning_jury_form.short_bio') %>
  <%= f.check_box :short_bio, checked: session[:short_bio] %>
</div>

<div>
  <%= f.label :medium_bio, t('tours.planning_jury_form.medium_bio') %>
  <%= f.check_box :medium_bio, checked: session[:medium_bio] %>
</div>

<div>
  <%= f.label :long_bio, t('tours.planning_jury_form.long_bio') %>
  <%= f.check_box :long_bio, checked: session[:long_bio] %>
</div>

<div>
  <%= f.label :short_bio_en, t('tours.planning_jury_form.short_bio_en') %>
  <%= f.check_box :short_bio_en, checked: session[:short_bio_en] %>
</div>

<div>
  <%= f.label :medium_bio_en, t('tours.planning_jury_form.medium_bio_en') %>
  <%= f.check_box :medium_bio_en, checked: session[:medium_bio_en] %>
</div>

<div>
  <%= f.label :long_bio_en, t('tours.planning_jury_form.long_bio_en') %>
  <%= f.check_box :long_bio_en, checked: session[:long_bio_en] %>
</div>

<div>
  <%= f.label :order_of_passage, t('tours.planning_jury_form.order_of_passage') %>
  <%= f.check_box :order_of_passage, checked: session[:order_of_passage] %>
</div>

<%= f.submit t('global.actions.save') %>
<% end %>
