<div class="row p-5">
  <% @tour.days_of_performances.sort.each do |day| %>
    <div class="col">
      <h2>Jour <%= day&.strftime('%d/%m/%Y') %></h2>
      
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-dark-outline" data-bs-toggle="modal" data-bs-target="#pauseModal">
        Add Pause
      </button>

      <!-- Modal -->
      <div class="modal fade" id="pauseModal" tabindex="-1" aria-labelledby="pauseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="pauseModalLabel">Add Pause</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%= simple_form_for [@organism, @competition, @edition_competition, @category, @tour, Pause.new] do |f| %>
                <%= f.input :date, as: :hidden, input_html: { value: day } %>
                <%= f.input :start_time, collection: @tour.performances.where(start_date: day).map { |p| p.start_time.strftime("%H:%M") }, label: 'Start time', input_html: { class: 'form-control' } %>
                <%= f.input :end_time, as: :time, label: 'End time', input_html: { value: '12:00' } %>
                <%= f.button :submit, 'Add Pause', class: 'btn btn-dark-outline' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <!-- planning -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Candidate</th>
            <th scope="col">Start Time</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @tour.performances.order(:start_time).each do |performance| %>
            <% if performance.start_date == day %>
              <%= form_with(model: performance, url: performance_path(performance), method: :patch, local: true) do |f| %>
                <tr>
                  <td><%= performance.candidat.first_name %></td>
                  <td><%= f.time_field :start_time, value: performance&.start_time.strftime('%H:%M') %></td>
                  <td><%= f.submit 'Update', class: 'btn btn-light border' %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  <% end %>

</div>
