<div class="row p-3 gap-3">
  <div class="d-flex justify-content-center mx-auto">
    <% unless @tour.is_finished %>

        <%= simple_form_for [@organism, @competition, @edition_competition, @category, @tour], method: :put do |f| %>
          <%= f.input :is_finished, as: :hidden, input_html: { value: true } %>
          <div class="d-flex flex-column justify-content-center align-items-center gap-2">
            <%= f.button :submit, t('tours.results.save_results_and_finish_tour'), class: 'btn btn-success mx-3 rounded-16', disabled: !@tour.has_planning?, data: { turbo_confirm: t('tours.results.finish_tour_confirm')} %>
            <%# <small><%= t('tours.results.candidates_will_be_notified') %>
          </div>
        <% end %>
      <% end %>


  </div>

  <% if @tour.is_finished %>
    <div class="d-flex flex-column align-items-center">
        <h3><%= t('tours.results.tour_finished_title') %></h3>
        <p><%= t('tours.results.notification_instruction') %></p>
      <p><%= t('tours.results.use_buttons_below') %></p>
      <%# Envoyer les qualifiés dans le tour suivant  si c'est pas déja fait%>
      <% if @tour.next_tour.present? && @tour.next_tour.performances.where(is_qualified_for_current_tour: true).any? %>
        <div class="d-flex flex-column align-items-center">
          <p><%= t('tours.results.qualified_sent_to_next_tour') %></p>
          <%= link_to t('tours.results.next_tour'), organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour.next_tour), class: "btn btn-primary" %>
        </div>
      <% elsif @tour.next_tour.nil? %>
        <p class="text-success"><%= t('tours.results.no_next_tour') %></p>
      <% else %>
        <%= link_to t('tours.results.send_qualified_to_next_tour'), move_to_next_tour_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour), class: "btn btn-success" %>
      <% end %>
    </div>
  <% end %>

  <div class="col bg-grey ">
    <div class="d-flex flex-column align-items-center">
      <h2 class="text-center py-2"><%= t('tours.results.candidates_title') %></h2>

      <%= mail_to @tour.performances.where(is_qualified: false).map { |performance| performance.inscription.candidat.user.email }.join(','), class: 'btn btn-primary mb-3 shadow-sm rounded-8' do %>
        <i class="fas fa-envelope text-secondary  "></i> <%= t('tours.results.email_not_qualified') %>
      <% end %>
    </div>
    <% @ordered_performances_accepted.where(is_qualified: false).order(:order).each do |performance| %>
      <div class="d-flex justify-content-between align-items-center p-1 bg-light-grey w-100 mt-1 ">
        <div class="d-flex align-items-center">
        <%= image_tag performance.candidat.portrait_or_default, alt: "Photo of candidate", class: "rounded-circle", style: "object-fit: cover; aspect-ratio: 1 / 1; overflow: hidden;", loading: 'lazy', width: 50, height: 50 %>
          <div class="d-flex flex-column align-items-start ps-3">
            <p class="mb-0"> <%= link_to performance.candidat.full_name, inscription_path(performance.inscription) %></p>
            <p class="mb-0"><%= t('tours.results.order') %>: <%= performance.order %></p>
          </div>
        </div>
          <% if @tour.is_finished %>
            <%= mail_to performance.candidat.user.email, class: 'btn btn-light text-dark shadow-sm' do %>
              <i class="fas fa-envelope text-secondary"></i> <%= t('tours.results.personalized_email') %>
            <% end %>
          <% else %>
            <%= button_to t('tours.results.qualify'), qualify_performance_organism_competition_edition_competition_category_tour_path(
              @organism, @competition, @edition_competition, @category, @tour, performance_id: performance.id
            ), method: :put, class: 'btn btn-primary ml-auto rounded-4' %>
          <% end %>
      </div>
    <% end %>
  </div>



  <div class="col bg-grey">
    <div class="d-flex flex-column align-items-center">
    <h2 class="text-center py-2"><%= t('tours.results.qualified_title', count: @ordered_performances_accepted.where(is_qualified: true).count) %></h2>

      <%= mail_to @ordered_performances_accepted.where(is_qualified: true).map { |performance| performance.inscription.candidat.user.email }.join(','), class: 'btn btn-primary mb-3 shadow-sm rounded-8' do %>
        <i class="fas fa-envelope text-secondary  "></i> <%= t('tours.results.email_qualified') %>
      <% end %>
    </div>
    <% @ordered_performances_accepted.where(is_qualified: true).each do |performance| %>
      <div class="d-flex justify-content-between align-items-center p-1 bg-light-grey w-100 mt-2">
        <div class="d-flex align-items-center">
        <%= image_tag performance.candidat.portrait_or_default, alt: "Photo of candidate", class: "rounded-circle", style: "object-fit: cover; aspect-ratio: 1 / 1; overflow: hidden;", loading: 'lazy', width: 50, height: 50 %>
          <div class="d-flex flex-column align-items-start ps-3">
            <p class="mb-0"><%= link_to performance.candidat.full_name, inscription_path(performance.inscription), target: '_blank', rel: "noopener" %></p>
            <p class="mb-0"><%= t('tours.results.order') %>: <%= performance.order %></p>
          </div>
        </div>
        <% if @tour.is_finished %>
          <%= mail_to performance.candidat.user.email, class: 'btn btn-light text-dark shadow-sm' do %>
            <i class="fas fa-envelope text-secondary"></i> <%= t('tours.results.personalized_email') %>
          <% end %>
        <% else %>
          <%= button_to t('tours.results.cancel_qualification'), qualify_performance_organism_competition_edition_competition_category_tour_path(
            @organism, @competition, @edition_competition, @category, @tour, performance_id: performance.id
          ), method: :put, class: 'btn btn-outline-warning ml-auto rounded-4'  unless @tour.is_finished %>
        <% end %>
      </div>
    <% end %>


  </div>

</div>
