<%= simple_form_for [@organism, @competition, @edition_competition, @category, @tour], html: { novalidate: false } do |f| %>
  <%= f.hidden_field :creating_schedule, value: "true" %>
  <div class="d-flex flex-column gap-3">
  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :start_time, label: t('tours.tour_configuration_form.start_time'), as: :time, hint: t('tours.tour_configuration_form.start_time_hint') %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :max_end_of_day_time, as: :time, label: t('tours.tour_configuration_form.max_end_of_day_time'),  hint: t('tours.tour_configuration_form.max_end_of_day_time_hint') %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :new_day_start_time, as: :time, label: t('tours.tour_configuration_form.new_day_start_time'), hint: t('tours.tour_configuration_form.new_day_start_time_hint') %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.button :submit, t('tours.tour_configuration_form.confirm_and_generate') %>
    </div>
  </div>
  </div>
<% end %>
