<div id="<%= dom_id tour %>" class="bg-light">
  <main class="flex flex-col gap-2 px-2">
  <h1 class=" text-center py-3"><%= @tour.title.upcase %></h1>
  <%= link_to "<-  Retour à la catégorie", :back, class: "btn btn-light border mb-3 mt-0" %>
  <!--  Section planning s'il existe-->


  <div class="text-center">
    <!-- Modale ouverte par les tabs dans le bouton générer le planning ou régénérer-->
    <div class="modal fade" id="tourConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="tourConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tourConfirmationModalLabel">Tour Configuration</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'tour_configuration_form', tour: @tour %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- tabs -->
  <ul class="nav nav-pills mb-3 justify-content-center border" id="myTab" role="tablist">
    <li class="nav-item w-25 text-center" role="presentation">
      <a class="h-100 nav-link <%= 'active' unless @tour.has_planning? %>" id="order-tab" data-bs-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="<%= !@tour.has_planning? %>" style="font-size: 1.1em;"><i class="fas fa-list pe-2"></i>Ordre de passage</a>
    </li>
    <li class="nav-item w-25 text-center" role="presentation">
      <a class=" h-100 nav-link <%= 'active' if @tour.has_planning? && @tour.performances.none?{|p| p.is_qualified } %>" id="planning-tab" data-bs-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="<%= @tour.has_planning? %>" style="font-size: 1.1em;"><i class="fas fa-calendar-alt pe-2"></i>Planning</a>
    </li>
    <li class="nav-item w-25 text-center" role="presentation">
      <a class=" h-100 nav-link <%= 'active' if @tour.performances.any?{|p| p.is_qualified }  %>" id="results-tab" data-bs-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="" style="font-size: 1.1em;"><i class="fas fa-trophy pe-2"></i>Résultats</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- tab ordre -->
    <div class="tab-pane fade <%= 'show active' unless @tour.has_planning? %>" id="order" role="tabpanel" aria-labelledby="order-tab">
      <%= render 'order_of_performances' %>
    </div>

    <!-- tab planning -->
    <div class="tab-pane fade <%= 'show active' if @tour.has_planning? && @tour.performances.none?{|p| p.is_qualified } %>" id="planning" role="tabpanel" aria-labelledby="planning-tab">
      <% if !@tour.has_planning? %>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column justif-content-center align-items-center">
            <i class="fas fa-calendar-alt fa-10x text-light-grey"></i>

            <p class="small">Vous n'avez pas de planning pour l'instant. <br>Vous pouvez en générer un en cliquant sur le bouton ci-dessous. <br>Vous générerez un planning avec l'ordre de passage actuel.</p>
            <button class="items-center justify-center btn btn-success py-2 mb-5 rounded-16 text-center" style="font-size: 1.4em;"  data-bs-target="#tourConfirmationModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" <%= "disabled" if @tour.performances.none? %> >
              Générer le planning
            </button>
          </div>
        </div>
      <% else %>
          <%= render "planning", tour: @tour %>
      <% end %>
    </div>

    <!-- tab resultats -->
    <div class="tab-pane fade <%= 'show active' if @tour.performances.any?{|p| p.is_qualified } %>" id="results" role="tabpanel" aria-labelledby="order-tab">
      <%= render 'results' %>
    </div>
  </div>


</main>
</div>
