<%= simple_form_for [@organism, @competition, @edition_competition, @category, @tour], html: { novalidate: false } do |f| %>
  <%= f.hidden_field :creating_schedule, value: "true" %>
  <div class="d-flex flex-column gap-3">
  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :start_time, as: :time, hint: 'Indiquez l\'heure de début de la visite.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :max_end_of_day_time, as: :time, hint: 'Indiquez l\'heure de fin maximale de la journée.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :new_day_start_time, as: :time, hint: 'Si la visite s\'étend à un autre jour, vous pouvez indiquer une heure de début différente pour ce nouveau jour.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <div class="form-check form-switch">
        <%= f.check_box :has_lunch_break, class: "form-check-input" %>
        <%= f.label :has_lunch_break, 'Pause déjeuner', class: "form-check-label" %>
      </div>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :lunch_start_time, as: :time, hint: 'Indiquez l\'heure du début de la pause déjeuner.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :lunch_duration, as: :integer, hint: 'Indiquez la durée de la pause déjeuner en minutes.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <div class="form-check form-switch">
        <%= f.check_box :has_morning_pause, class: "form-check-input" %>
        <%= f.label :has_morning_pause, 'Pause du matin', class: "form-check-label" %>
      </div>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :morning_pause_time, as: :time, hint: 'Indiquez l\'heure de la pause du matin.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <div class="form-check form-switch">
        <%= f.check_box :has_afternoon_pause, class: "form-check-input" %>
        <%= f.label :has_afternoon_pause, 'Pause de l\'après-midi', class: "form-check-label" %>
      </div>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :afternoon_pause_time, as: :time, hint: 'Indiquez l\'heure de la pause de l\'après-midi.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :morning_pause_duration_minutes, as: :integer, hint: 'Indiquez la durée de la pause du matin en minutes.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.input :afternoon_pause_duration_minutes, as: :integer, hint: 'Indiquez la durée de la pause de l\'après-midi en minutes.' %>
    </div>
  </div>

  <div class="card bg-grey shadow-sm">
    <div class="p-1 bg-light">
      <%= f.button :submit, 'Confirmer la configuration et générer le planning' %>
    </div>
  </div>
  </div>
<% end %>
