<div id="<%= dom_id tour %>">
  <p>
    <strong>Category:</strong>
    <%= tour.category_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tour.start_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= tour.start_time %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= tour.end_date %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= tour.end_time %>
  </p>

  <p>
    <strong>Is online:</strong>
    <%= tour.is_online %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= tour.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tour.description %>
  </p>

</div>
