<div id="<%= dom_id tour %>">
  <main class="flex flex-col gap-2 p-2">
  <h2><%= @tour.title %></h2>

  <div class="text-center">
    <button class="items-center justify-center  btn btn-dark"  data-bs-target="#tourConfirmationModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" >
      Confirmer l'ordre de passage et générer le planning
    </button>
    <small>Faisable après clôture ferme des inscriptions. </small>
    <p class="text-secondary">Génère ou re-génère un planning (emmene sur new ou edit, dans lequel il y a u nform de planning pour le tour en question)</p>

    <div class="modal fade" id="tourConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="tourConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tourConfirmationModalLabel">Tour Configuration</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'tour_configuration_form', tour: @tour %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="overflow-auto p-5">
      <h2 class="text-center">Ordre de passage actuel </h2>
      <table class="table table-bordered caption-top">
        <thead>
          <tr>
            <th class="p-2 text-center bg-grey ">Candidat</th>
            <th class="p-2 text-center bg-grey ">Airs présentés (titre racourci)</th>
            <th class="p-2 text-center bg-grey ">Minutage</th>
            <th class="p-2 text-center bg-grey ">Order</th>
          </tr>
        </thead>
        <tbody>
          <% @tour.performances.order(:order).each do |performance| %>
            <tr class="">
              <td class="p-2 bg-light"><%= link_to performance.candidat.first_name, candidat_path(performance.candidat), target: '_blank' %></td>
              <td class="p-2 text-center bg-light text-secondary"  ><%= performance.airs_titles %></td>
              <td class="p-2 text-center bg-light text-secondary"  ><%= performance.minutes %></td>
              <td class="p-2 text-center bg-light">
                <%= form_with url: update_order_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour, performance_id: performance.id), method: :post do %>
                  <div class="d-flex">
                  <%= number_field_tag "new_order", performance.order, class: "form-control", min: 1, max: @tour.performances.count %>
                  <%= button_tag "OK", type: "submit", class: "btn btn-dark" %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>
</div>
