<div id="<%= dom_id tour %>">
  <main class="flex flex-col gap-2 p-2">
  <h1 class="border-bottom text-center"><%= @tour.title.upcase %></h1>
  <!--  Section planning s'il existe-->



  <div class="text-center">
    <!-- Si jamais il y a déja un planning (càd qu'une des performances a déja une start_date assignée), alors displa 'Modifier le planning' -->
    <!-- Sinon Générer le planning  -->
    <% if @tour.has_planning? %>
    <button class="items-center justify-center btn btn-success py-3 mt-5 rounded-16" style="font-size: 1.5em;"  data-bs-target="#tourConfirmationModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" >
      <i class="fas fa-sync-alt pe-3"></i>
      Reconfigurer le planning
    </button>
    <% else %>
    <button class="items-center justify-center btn btn-dark py-3 mt-5 rounded-16" style="font-size: 1.8em;"  data-bs-target="#tourConfirmationModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" >
      Confirmer l'ordre de passage et <br> générer le planning
    </button>
    <% end %>

    <div class="modal fade" id="tourConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="tourConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tourConfirmationModalLabel">Tour Configuration</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= render 'tour_configuration_form', tour: @tour %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--pré planning -->
  <%= render "planning", tour: @tour unless @tour.performances.any?{|p| p.start_time.nil?} %>


  <!-- section ordre de passage -->
  <%= render 'order_of_performances' %>


</main>
</div>
