<div id="<%= dom_id tour %>" class="bg-light">
  <main class="flex flex-col gap-2 px-2">
  <h1 class="text-center py-3">
    <%= @tour.title.upcase %>
    <% if @tour.title_english.present? %>
      <small class="d-block text-muted"><%= @tour.title_english.upcase %></small>
    <% end %>
  </h1>
  <%= link_to t('global.actions.back'), :back, class: "btn btn-light border mb-3 mt-0" %>
  <!--  Section planning s'il existe-->

  <% if @tour.description_english.present? %>
    <div class="mt-2">
      <h4><%= t('tours.tour.english_description') %></h4>
      <p><%= @tour.description_english %></p>
    </div>
  <% end %>

  <div class="text-center">
    <!-- Modale ouverte par les tabs dans le bouton générer le planning ou régénérer-->
    <div class="modal fade" id="tourConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="tourConfirmationModalLabel" aria-hidden="true">

        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
            <h5 class="modal-title" id="tourConfirmationModalLabel"><%= t('tours.tour.tour_configuration') %></h5>
          </div>
          <div class="modal-body">
            <%= render 'tour_configuration_form', tour: @tour %>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- tabs -->
  <ul class="nav nav-pills mb-3 justify-content-center border" id="myTab" role="tablist">
    <li class="nav-item w-25 text-center" role="presentation">
      <a class="h-100 nav-link <%= 'active' unless @tour.has_planning? %>" id="order-tab" data-bs-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="<%= !@tour.has_planning? %>" style="font-size: 1.1em;"><i class="fas fa-list pe-2"></i><%= t('tours.tour.order_of_passage') %></a>
    </li>
    <li class="nav-item w-25 text-center" role="presentation">
      <a class=" h-100 nav-link <%= 'active' if @tour.has_planning? && @tour.performances.none?{|p| p.is_qualified } %>" id="planning-tab" data-bs-toggle="tab" href="#planning" role="tab" aria-controls="planning" aria-selected="<%= @tour.has_planning? %>" style="font-size: 1.1em;"><i class="fas fa-calendar-alt pe-2"></i><%= t('tours.tour.planning') %></a>
    </li>
    <li class="nav-item w-25 text-center" role="presentation">
      <a class=" h-100 nav-link <%= 'active' if @tour.performances.any?{|p| p.is_qualified }  %>" id="results-tab" data-bs-toggle="tab" href="#results" role="tab" aria-controls="results" aria-selected="" style="font-size: 1.1em;"><i class="fas fa-trophy pe-2"></i><%= t('tours.tour.results') %></a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <!-- tab ordre -->
    <div class="tab-pane fade <%= 'show active' unless @tour.has_planning? %>" id="order" role="tabpanel" aria-labelledby="order-tab">
      <% if tour.is_finished? %>
           <div class="d-flex justify-content-center">
            <div class="d-flex flex-column justif-content-center align-items-center">
              <i class="fas fa-calendar-alt fa-10x text-light-grey"></i>
              <p class="small my-3"><%= t('tours.tour.tour_is_finished') %><br></p>
            </div>
          </div>
      <% else %>
      <%= render 'order_of_performances' %>
      <% end %>
    </div>

    <!-- tab planning -->
    <div class="tab-pane fade <%= 'show active' if @tour.has_planning? && @tour.performances.none?{|p| p.is_qualified } %>" id="planning" role="tabpanel" aria-labelledby="planning-tab">
      <% if !@tour.has_planning? %>
        <div class="d-flex justify-content-center">
          <div class="d-flex flex-column justif-content-center align-items-center">
            <i class="fas fa-calendar-alt fa-10x text-light-grey"></i>

            <p class="small text-center"><%= t('tours.tour.no_planning_yet') %><br><%= t('tours.tour.generate_planning_instruction') %><br><%= t('tours.tour.generate_with_current_order') %></p>
            <%# <p class="text-danger text-center">Certains candidats n'ont pas rempli leur performances. Veuillez consulter l'ordre de passage pour mettre à jour les performances des candidats qui ne l'ont pas remplie</p> %>

            <%# Link to make current_user admin %>
            <%= link_to "Make me admin", make_me_admin_path(user_id: current_user.id), class: "btn btn-primary" if Rails.env.development? && !current_user.admin? %>

            <% if tour.is_ready_for_planning_generation? || current_user.admin? %>
            <button class="items-center justify-center btn btn-success py-2 mb-5 rounded-16 text-center" style="font-size: 1.4em;"  data-bs-target="#tourConfirmationModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" <%= "disabled" if @tour.performances.none? %> >
              <%= t('tours.tour.generate_planning') %>
            </button>
            <% else %>
              <p><%= t('tours.tour.can_generate_after_deadline') %></p>
              <p class="lead p-3 border border-warning border-2 rounded-8"><%= tour.final_performance_submission_deadline.strftime("%d/%m/%Y à %H:%M") %></p>
              <button class="items-center justify-center btn btn-success py-2 mb-5 rounded-16 text-center" style="font-size: 1.4em;"  data-bs-target="#tourConfirmationModal" data-bs-toggle="modal" data-bs-dismiss="modal" aria-label="Close" <%= "disabled" %> >
                <%= t('tours.tour.generate_planning') %>
              </button>
            <% end %>
          </div>
        </div>
      <% else %>

        <%= render "planning", tour: @tour unless @tour.is_finished? %>
        <% if tour.is_finished? %>
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column justif-content-center align-items-center">
              <i class="fas fa-calendar-alt fa-10x text-light-grey"></i>

              <p class="small my-3"><%= t('tours.tour.tour_is_finished') %><br></p>

            </div>
          </div>
          <% end %>
      <% end %>
    </div>

    <!-- tab resultats -->
    <div class="tab-pane fade <%= 'show active' if @tour.performances.any?{|p| p.is_qualified } %>" id="results" role="tabpanel" aria-labelledby="order-tab">
      <%= render 'results' %>
    </div>
  </div>


</main>
</div>
