<p style="color: green"><%= notice %></p>

<h1><%= t('tours.index.tours') %></h1>

<div id="tours">
  <% @tours.each do |tour| %>
    <%= render tour %>
    <p>
      <%= link_to t('tours.index.show_this_tour'), tour %>
    </p>
  <% end %>
</div>

<%= link_to t('tours.index.new_tour'), new_tour_path %>
