<h3 class="text-center"><%= @tour.category.edition_competition.competition.nom_concours %></h3>
<h1 class="text-center" style="font-size: 7em"><%= @tour.category.name %></h1>
<h1 class="text-center" style="font-size: 5em; color: #333333; margin-bottom: 30px;"><%= @tour.title %></h1>

<% @tour.performances.order(:order).each do |performance| %>
  <div style="position: relative; margin-bottom: 30px; page-break-inside: avoid;">
    <table style="width: 100%;">
      <tr>
        <td style="width: 30%; background: #F7F7F7;" class="text-center">

          <% if @profile_photo || @artistic_photo %>
             <div style="width: 100%; height: 0; padding-bottom: 100%; position: relative;">
              <%= image_tag "https://source.unsplash.com/random/?/300/200", alt: t('tours.show_jury_pdf.required_item_photo'), style: "position: absolute; width: 100%; height: 100%; object-fit: cover;" %>
            </div>
          <% end %>


        </td>
        <td style="width: 70%; background: #F7F7F7; padding: 0px 30px;" class="text-center" >
          <h3 class="p-1">
            <%= performance.order %> - <%= performance.candidat.first_name %> - <%= ISO3166::Country[performance.candidat.nationality].iso_short_name %> - <%= performance.candidat.age %><%= t('tours.show_jury_pdf.years_old') %>
          </h3>
            <p><%= performance.candidat.short_bio if @short_bio %></p>
            <p><%= performance.candidat.short_bio_en if @short_bio_en %></p>
            <p><%= performance.candidat.medium_bio if @medium_bio %></p>
            <p><%= performance.candidat.medium_bio_en if @medium_bio_en %></p>
            <p><small><%= performance.candidat.long_bio if @long_bio %></small></p>
            <p><small><%= performance.candidat.long_bio_en if @long_bio_en %></small></p>
        </td>
      </tr>
    </table>
    <table style="width: 100%;">
      <tr>
        <td style="padding: 10px; width: 50%; background: #F7F7F7;">
          <% if @detailed_program %>
            <ul style="list-item-type: none;">
             <% performance.airs.sort_by { |air| performance.ordered_air_selection.index(air.id.to_s) }.each_with_index do |air, index| %>
                <li style="list-item-type: none;"><%= index + 1 %>. <%= [air.title, air.composer, air.oeuvre, air.tonality, air.character].join(", ") %></li>
              <% end %>
            </ul>
          <% elsif @simple_air %>
            <ul>
              <% performance.airs.sort_by { |air| performance.ordered_air_selection.index(air.id.to_s) }.each_with_index do |air, index| %>
                <li><%= index + 1 %>. <%= air.title %> - <%= air.composer %></li>
              <% end %>
            </ul>
          <% end %>
        </td>
        <td style="width: 50%;" class="text-center">
          <h1 style="color: #FCFCFC; font-size: 6em;"><%= t('tours.show_jury_pdf.notes') %></h1>
        </td>
      </tr>
    </table>


  </div>
<% end %>
