<p>coucou</p>
 <%= @detailed_program %>
  <%= @simple_air %>
  <%= @notes_space %>
  <%= @profile_photo %>
  <%= @artistic_photo %>
  <%= @short_bio %>
  <%= @medium_bio %>
  <%= @long_bio %>
  <%= @order_of_passage %>
