  <%= image_tag @tour.category.edition_competition.competition.organism.logo_or_default, style: "width: 200px; height: 200px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); border-radius: 50%; display: block; margin-left: auto; margin-right: auto; margin-bottom: 30px;" %>

  <h1 class="text-center">
    <%= I18n.transliterate(@tour.category.name) %> - <%= I18n.transliterate(@tour.title) %>
    <% if @tour.title_english.present? %>
      <br><small><%= I18n.transliterate(@tour.title_english) %></small>
    <% end %>
  </h1>
  <% @tour.days_of_performances.sort.each do |day| %>
    <div class="col shadow-sm mx-2 bg-grey" data-controller="start-time" data-day="<%= day.strftime('%Y-%m-%d') %>">
      <h2 class="text-center" style="margin-top: 30px; margin-bottom: 30px;"><%= day.strftime('%a %d %B %Y') %></h2>

      <!-- planning -->
      <table class="table ">
        <thead>
          <tr>
            <th scope="col"><%= t('tours.show_pdf.candidate') %></th>
            <th scope="col"><%= t('tours.show_pdf.passage_time') %></th>
            <th scope="col"><%= t('tours.show_pdf.order') %></th>
          </tr>
        </thead>
        <tbody>
          <% items = (@tour.performances.to_a + @tour.pauses.to_a).sort_by { |item| item.start_time&.strftime('%H:%M') } %>

          <% items.each_with_index do |item, index| %>
            <% if item.is_a?(Performance) && item.start_date == day %>
              <%= form_with(model: item, url: performance_path(item), method: :patch, local: true) do |f| %>
                <tr>
                  <td><%= item.candidat.first_name  %> <%= item.candidat.last_name  %></td>
                  <td class="text-center"><%= item&.start_time.strftime('%H:%M') %></td>
                  <td class="text-center"><%= item.order + 1  %></td>
                </tr>
              <% end %>
            <% elsif item.is_a?(Pause) && item.date == day %>
              <tr style="background: #DDDDDD">
                <td><%= t('tours.show_pdf.break') %></td>
                  <td id="pause_time_<%= day %>_<%= index %>" class="text-center" ><strong><%= item.start_time.strftime('%H:%M') %> - <%= item.end_time.strftime('%H:%M') %></strong></td>
                <td>
                  <% last_pause_of_the_day = items.reverse.find { |i| i.is_a?(Pause) && i.date == day } %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>

  <% end %>
