    <section class="text-dark py-5 bg-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">

            <%# <h1 style="font-size: 60px">Welcome to <span style="font-size: 2em;" class="text-gradient">Musicast</span></h1> %>
            <h1 style="font-size: 80px;"><span class="text-gradient", style="font-size: 1.1em;">Musikast</span> <br></h1>
            <span style="font-size: 2.8em">Organisez & publiez vos concours</span>
            <%# <p class="lead">Simplifies the process of organizing classic arts competitions and managing contestants. Adapts to your specific structure requirements.</p> %>
            <p class="lead" style="color: rgb(100, 100, 100)">Musicast vous fournit un ensemble d'outils professionnels spécialisés dans l'organisation, la gestion et la promotion de vos concours à un large public d'artistes.</p>

            <%= link_to "Commencer", new_user_registration_path, class: "btn btn-success my-3" %>
            <div class="d-flex align-items-center gap-3">
              <%= image_tag "icons/block.png", width: 60 %>
              <p class="text-secondary mb-0"><i class="fas fa-check text-success"></i> Inscription <span class="text-success">sans carte</span> ni souscription</p>
            </div>
            <div class="d-flex align-items-center gap-3">
              <%= image_tag "icons/bonus.png", width: 60 %>
              <p class="text-secondary mb-0"><i class="fas fa-check text-success"></i> Bonus de lancement: accès exclusif au <span class="text-success">générateur de planning</span> </p>
            </div>
          </div>
          <div class="col-md-6">
            <%= image_tag "mockup.png", width: 550 %>
          </div>
      </div>


  <div class="container" style="margin-top: 100px;">
    <h2 class="text-center my-5 p-3" style="font-size: 4em;">Simplifiez la gestion.</h2>

  <div class="row align-items-center">
    <div class="col-md-5">
      <img src="https://source.unsplash.com/random/?opera" alt="App Mockup" class="img-fluid rounded-lg shadow" style="height: 500px; width: 600px;">
    </div>
    <div class="col-md-7">
     <h2 style="font-size: 4em;"  class="text-bordeau">Prévalidation des dossiers d'inscription par IA</h2>
      <p style="font-size: 2em" class="text-secondary">Ne recevez que des dossiers complets et payés via notre plateforme. Notre système utilise l'intelligence artificielle pour valider une partie des pièces supplémentaires requises. </p>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= link_to "Commencer", new_user_registration_path, class: "btn btn-success my-3 text-center" %>
  </div>

  <div class="row align-items-center flex-row-reverse">
    <div class="col-md-5">
      <img src="https://source.unsplash.com/random/?opera" alt="App Mockup" class="img-fluid rounded-lg shadow" style="height: 500px; width: 600px;">
    </div>
    <div class="col-md-7 text-end">
      <h2 style="font-size: 4.5em;" class="text-bordeau">Générateur de planning intelligent</h2>
      <p style="font-size: 2em" class="text-secondary">Vous pouvez générer et modifier l'ordre de passage facilement une fois que les inscriptions sont closes, et générer un planning modifiable sur mesure.  </p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "Commencer", new_user_registration_path, class: "btn btn-success my-3 text-center" %>
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <img src="https://source.unsplash.com/random/?opera" alt="App Mockup" class="img-fluid rounded-lg shadow" style="height: 500px; width: 600px;">
    </div>
    <div class="col-md-7">
       <h2 style="font-size: 4em;" class="text-bordeau">Générez un dossier pour le jury</h2>
      <p style="font-size: 2em" class="text-secondary">Générez instantanément un dossier PDF sur mesure à destination du jury lors des épreuves pour qu'ils puissent suivre le déroulé et noter les candidats </p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= link_to "Commencer", new_user_registration_path, class: "btn btn-success my-3 text-center" %>
  </div>

  <div class="row align-items-center flex-row-reverse">
    <div class="col-md-5">
      <img src="https://source.unsplash.com/random/?opera" alt="App Mockup" class="img-fluid rounded-lg shadow" style="height: 500px; width: 600px;">
    </div>
    <div class="col-md-7">
       <h2 style="font-size: 4em;" class="text-bordeau text-end">Communiquez avec les candidats facilement</h2>
      <p class="text-end text-secondary" style="font-size: 2em">Envoyez des notifications à vos candidats en un clic. Notifiez l'acceptation ou le rejet de leur dossier, leur séléction pour passer au tour suivant, envoyez leur le planning généré.</p>
    </div>
  </div>


  <div class="d-flex justify-content-center">
    <%= link_to "Commencer", new_user_registration_path, class: "btn btn-success my-3 text-center" %>
  </div>

  <div class="row align-items-center">
    <div class="col-md-5">
      <img src="https://source.unsplash.com/random/?opera" alt="App Mockup" class="img-fluid rounded-lg shadow" style="height: 500px; width: 600px;">
    </div>
    <div class="col-md-7">
      <h2 style="font-size: 4em;" class="text-bordeau text-start">Créez un jury de préselection votant</h2>
      <p class="text-start text-secondary" style="font-size: 2em">Vous pouvez inviter les personnes de votre choix à faire partie d'un jury de présélection pour une des catégories de votre concours. Ce jury peut attribuer une note de 1 à 100 à chaque dossier.</p>
    </div>
  </div>


</div>

</section>
