<h1><%= t('pages.pricing.pricing') %></h1>

<h2><%= t('pages.pricing.competitions') %></h2>
<p><%= t('pages.pricing.competitions_description') %></p>
<p><%= t('pages.pricing.user_fees') %></p>
<p><%= t('pages.pricing.commission_cap') %></p>

<h2><%= t('pages.pricing.other_services') %></h2>
<p><%= t('pages.pricing.other_services_description') %></p>
