<div id="<%= dom_id free_choice %>">
  <p>
    <strong><%= t('free_choices.free_choice.programme_requirement') %>:</strong>
    <%= free_choice.programme_requirement_id %>
  </p>

  <p>
    <strong><%= t('free_choices.free_choice.number') %>:</strong>
    <%= free_choice.number %>
  </p>

  <p>
    <strong><%= t('free_choices.free_choice.max_length_minutes') %>:</strong>
    <%= free_choice.max_length_minutes %>
  </p>

</div>
