<p style="color: green"><%= notice %></p>

<%= render @free_choice %>

<div>
  <%= link_to "Edit this free choice", edit_free_choice_path(@free_choice) %> |
  <%= link_to "Back to free choices", free_choices_path %>

  <%= button_to "Destroy this free choice", @free_choice, method: :delete %>
</div>
