<p style="color: green"><%= notice %></p>

<%= render @free_choice %>

<div>
  <%= link_to t('free_choices.show.edit'), edit_free_choice_path(@free_choice) %> |
  <%= link_to t('free_choices.show.back'), free_choices_path %>

  <%= button_to t('free_choices.show.destroy'), @free_choice, method: :delete %>
</div>
