<%= render(Card::BaseComponent.new(
  height: @height,
  image: @image,
  links: @links,
  redirect: @redirect,
  bottom_button_links: @bottom_button_links,
  bottom_left_label: @bottom_left_label,
  top_left_pill: @top_left_pill,
  bottom_left_pill: @bottom_left_pill,
)) do %>
  <div class="p-3">
    <h5 class="h4 mb-3"><%= category.name %></h5>

    <% if category.description.present? %>
      <p class="card-text small mb-2"><%= truncate(category.description, length: 100) %></p>
    <% end %>

    <% if category.description_english.present? %>
      <p class="card-text small text-muted fst-italic"><%= truncate(category.description_english, length: 100) %></p>
    <% end %>

    <div class="d-flex flex-wrap gap-2 mt-3 mb-2">
      <% if @discipline.present? %>
        <span class="badge bg-primary text-white">
          <i class="fas fa-music me-1"></i> <%= @discipline %>
        </span>
      <% end %>

      <% if category.tours.any? %>
        <span class="badge bg-light text-dark">
          <i class="fas fa-trophy me-1"></i> <%= category.tours.count %> <%= category.tours.count > 1 ? I18n.t('global.rounds') : I18n.t('global.round') %>
        </span>
      <% end %>


    </div>

    <% if @biggest_prize_amount.present? %>
      <div class="mt-3 d-flex align-items-center">
        <span class="badge bg-success-secondary text-success me-2">
          <i class="fas fa-award me-1"></i> <%= I18n.t('categories.card.first_prize') %>:
        </span>
        <strong><%= @biggest_prize_amount %></strong>
      </div>
    <% end %>
  </div>
<% end %>
