<%= render(Card::BaseComponent.new(
  height: @height,
  image: @edition_competition.competition.image_or_default,
  links: @links,
  redirect: organism_competition_edition_competition_path(@edition_competition.organism, @edition_competition.competition, @edition_competition),
  bottom_button_links: @bottom_button_links,
  bottom_left_label: @edition_competition.max_prize_amount_label_for_card,
  top_left_pill: {label: "#{@edition_competition.days_remaining} #{t('pages.edition_competition_card.days_remaining')}", class: "border bg-primary-light text-primary px-2 rounded-pill position-absolute "},
  bottom_left_pill: @bottom_left_pill,
  rounded_image: true,
  image_style: "height: 300px;"
)) do %>
  <div class="p-3 d-flex flex-column justify-content-start align-items-start gap-1" style="height: 270px">
    <h4 class=""><%= @edition_competition.competition.nom_concours %></h4>

    <% if @edition_competition.address.present? %>
      <span class="card-text text-secondary border-end border-light "><i class="fi fi-rs-map-marker text-dark me-2"></i><%= @edition_competition.address.city %>, <%= @edition_competition.address.country %> </span>
    <% end %>

    <span class=" text-secondary "><i class="fi fi-rs-calendar-day text-dark me-2"></i><%= t('pages.edition_competition_card.from') %> <span class="text-dark" style="font-size: 1.2em"><strong><%= @edition_competition.start_date.strftime("%d %B") %></strong></span> <%= t('pages.edition_competition_card.to') %> <span style="font-size: 1.2em" class="text-dark "><strong><%= @edition_competition.end_date.strftime("%d %B %Y") %></strong></span></span>



    <small class="text-secondary my-2">CATEGORIES (<%= @edition_competition.categories.count %>)</small>
    <% if @edition_competition.categories.count > 1 %>
      <div class="d-flex flex-wrap overflow-scroll gap-2" style="height: 60px">
        <% @edition_competition.categories.each do |category| %>
          <span class="badge bg-light-grey px-2 text-secondary p-1" style="height: fit-content "><%= category.name %></span>
          <span class="badge bg-light-grey px-2 text-secondary p-1" style="height: fit-content "><%= category.name %></span>
          <span class="badge bg-light-grey px-2 text-secondary p-1" style="height: fit-content "><%= category.name %></span>
        <% end %>
      </div>
    <% else %>
      <span class="bg-light-grey px-2 text-secondary rounded-pill p-1"><%= @edition_competition.categories.first.name %></span>
    <% end %>
  </div>
<% end %>
