
<div class="container">
<%= simple_form_for(@inscription) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.hidden_field :category_id, value: @inscription.category.id %>

    <% @inscription.inscription_item_requirements.each do |item_requirement| %>
      <div>
        <h3><%= item_requirement.requirement_item.title %></h3>
        <p><%= item_requirement.requirement_item.description_item %></p>
        <%= f.simple_fields_for :inscription_item_requirements, item_requirement do |irf| %>
          <%= irf.hidden_field :requirement_item_id %>
          <% case item_requirement.requirement_item.type_item %>
          <% when 'filePDF' %>
           <div class="row">
              <div class="col">
                <%= irf.input :submitted_content, as: :file, label: "Upload new PDF", required: true %>
              </div>
              <% if current_user.documents.any? %>
              <div class="col">
                <%= irf.collection_select :submitted_content, current_user.documents, :document_type, :file_url, { prompt: 'Select a document' }, { class: 'form-control' } %>
              </div>
              <% end %>
            </div>
          <% when 'lienvideo' %>
            <%= irf.input :submitted_content, as: :url, label: "YouTube URL", hint: "Assurez vous que la vidéo soit publique et qu'elle soit bien accessible.", required: true %>

          <% when 'mp3' %>
            <%= irf.input :submitted_content, as: :file, label: "Upload MP3", required: true  %>

          <% else %>
            <%= irf.input :submitted_content %>
          <% end %>
        <% end %>
      </div>
    <% end %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
