
<div class="container">
  <%= simple_form_for(@inscription) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.hidden_field :category_id, value: @inscription.category.id %>

      <%= render "items_form_section", inscription: @inscription, f: f %>

      <%= render "semi_imposed_work_section", inscription: @inscription, f: f %>

      <%= render "choice_imposed_work_section", inscription: @inscription, f: f %>

      <% if inscription.category.imposed_work&.airs&.any? %>
        <h3>Airs imposés</h3>
        <ul>
          <% inscription.category&.imposed_work&.airs&.each do |air| %>
            <li> <%= air.title %> - <%= air.composer %> - <%= air.oeuvre %> </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= f.input :candidate_brings_pianist_accompagnateur, as: :boolean, label: "Souhaitez vous emmener votre propre pianiste accompagnateur? (cochez pour OUI)" if inscription.category.allow_own_pianist_accompagnateur %>

    <div class="form-actions">
      <%= f.button :submit, "Enregistrer", class: "btn btn-dark" %>
    </div>
  <% end %>
</div>
