
<div class="container">
  <%= simple_form_for(@inscription) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.hidden_field :category_id, value: @inscription.category.id %>
      <% @inscription.inscription_item_requirements.each do |item_requirement| %>
        <div>
          <h3><%= item_requirement.requirement_item.title %></h3>
          <p><%= item_requirement.requirement_item.description_item %></p>
          <%= f.simple_fields_for :inscription_item_requirements, item_requirement do |irf| %>

            <%= irf.hidden_field :requirement_item_id %>
            <% case item_requirement.requirement_item.type_item %>
            <% when 'motivation_essay' %>
              <%= irf.input :submitted_content, as: :text, label: 'Lettre de motivation', hint: "Ni trop long, ni trop court", required: true %>
            <% when 'youtube_link' %>
              <%= irf.input :submitted_content, as: :url, label: "YouTube URL", hint: "Assurez vous que la vidéo soit publique et qu'elle soit bien accessible. Assurez vous que l'url contienne youtube.com ou youtu.be ", required: true %>
            <% else %>
              <div class="row">
                <div class="col">
                  <% if irf.object.submitted_file.attached? %>
                    <embed src="<%= url_for(irf.object.submitted_file) %>" width="500" height="375" type="application/pdf">
                    <%= irf.input :submitted_file, as: :file, label: "Choisissez un autre PDF si vous souhaitez remplacer le document ci dessus" %>
                  <% else %>
                    <%= irf.input :submitted_file, as: :file, label: "Uploadez un PDF", required: true %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <% if inscription.category.imposed_work&.airs&.any? %>
        <h3>Airs imposés</h3>
        <ul>
          <% inscription.category&.imposed_work&.airs&.each do |air| %>
            <li> <%= air.title %> - <%= air.composer %> - <%= air.oeuvre %> </li>
          <% end %>
        </ul>
      <% end %>

      <% inscription.category.semi_imposed_works&.each do |semi_imposed_work| %>
        <h3><%= semi_imposed_work.title %></h3>
        <small><%= semi_imposed_work.guidelines %></small>
        <%# <%= f.simple_fields_for  %>
        <% semi_imposed_work.number.times do |i| %>
          <% semi_imposed_work_air = inscription.semi_imposed_work_airs.filter{|siwa| siwa.semi_imposed_work_id == semi_imposed_work.id}[i] || semi_imposed_work.semi_imposed_work_airs.build.build_air %>
          <%= f.simple_fields_for :semi_imposed_work_airs, semi_imposed_work_air do |semi_imposed_work_air_fields| %>
            <%= semi_imposed_work_air_fields.input :semi_imposed_work_id, as: :hidden, input_html: { value: semi_imposed_work.id } %>
              <%# Attention, si on est sur edit alors il fau:air_attributes, mais s ijamais on a déja imposed_work airs il faut simple field for air %>
              <%# <%= semi_imposed_work_air_fields.simple_fields_for (inscription.semi_imposed_work_airs.none? ? :air_attributes : :air) do |air_fields| %>
              <%= semi_imposed_work_air_fields.simple_fields_for (inscription.semi_imposed_work_airs.none?{|p| p.persisted?} ? :air_attributes : :air) do |air_fields| %>
              <%# <%= semi_imposed_work_air_fields.simple_fields_for (@inscription.semi_imposed_work_airs.none?{|p| p.persisted?} ? :air_attributes : :air) do |air_fields| %>
                <% if air_fields&.object&.errors&.any? %>
                  <div class="error_notification">
                    <ul>
                      <% air_fields.object.errors.full_messages.each do |message| %>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="card card-body shadow-sm">
                  <div class="row">
                <div class="col-12 col-md">
                  <%= air_fields.input :title, label: "Air Title #{i+1}", input_html: { class: 'form-control' } %>
                </div>
                <div class="col-12 col-md">
                  <%= air_fields.input :length_minutes, label: "Minutage", input_html: { class: 'form-control' } %>
                </div>
                <%# <div class="col-12 col-md"> %>
                  <%# <%= air_fields.input :composer, label: "Composer", input_html: { class: 'form-control' } %>
                <%# </div> %>
                <div class="col-12 col-md">
                  <%= air_fields.input :oeuvre, label: "Oeuvre", input_html: { class: 'form-control' } %>
                </div>
                <div class="col-12 col-md">
                  <%= air_fields.input :character, label: "Character", input_html: { class: 'form-control' } %>
                </div>
                <div class="col-12 col-md">
                  <%# <%= air_fields.input :tonality, label: "Tonality", input_html: { class: 'form-control' } %>
                  <%= air_fields.input :tonality, collection: Air.tonalities_selection, selected: 'Do majeur' %>
                </div>

                <%= render 'shared/components/music_search_component', f: air_fields %>

                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% inscription.category.choice_imposed_works&.each do |choice_imposed_work| %>
        <h3><%= choice_imposed_work.title %></h3>
        <small><%= choice_imposed_work.guidelines %></small>
        <% choice_imposed_work.number_to_select.times do |i| %>
          <% choice_imposed_work_air = inscription.choice_imposed_work_airs.filter{|ciwa| ciwa.choice_imposed_work_id == choice_imposed_work.id}[i] || choice_imposed_work.choice_imposed_work_airs.build %>
          <%= f.simple_fields_for :choice_imposed_work_airs, choice_imposed_work_air do |choice_imposed_work_air_fields| %>
            <%= choice_imposed_work_air_fields.input :choice_imposed_work_id, as: :hidden, input_html: { value: choice_imposed_work.id } %>
            <%= choice_imposed_work_air_fields.input :air_id, collection: choice_imposed_work.airs.map { |air| [air.title, air.id] }, selected: choice_imposed_work_air.persisted? ? choice_imposed_work_air.air_id : nil, label: "Select Air #{i+1}", include_blank: "Select an air", input_html: { class: 'form-control' } %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= f.input :candidate_brings_pianist_accompagnateur, as: :boolean, label: "Souhaitez vous emmener votre propre pianiste accompagnateur? (cochez pour OUI)" if inscription.category.allow_own_pianist_accompagnateur %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
