<h2 class=mt-4><%= t('inscriptions.items_form_section.required_documents') %>:</h2>
<div class="d-flex flex-wrap gap-2">
  <% inscription.inscription_item_requirements.each do | item_requirement| %>
    <div class="card m-2" style="width: calc(50% - 24px); max-height: 500px; overflow-y: auto;">
      <div class="card-body bg-white">
        <div class="d-flex align-items-center gap-3 p-2">
          <%= image_tag icon_for(item_requirement.item_type), class: 'item-icon', width: 50, height: 50 %>
          <h3><%= item_requirement.requirement_item.title %></h3>
        </div>
        <p><%= item_requirement.requirement_item.description_item %></p>
        <%= f.simple_fields_for :inscription_item_requirements, item_requirement do |irf| %>
          <%= irf.hidden_field :requirement_item_id %>
          <% case item_requirement.requirement_item.type_item %>
          <% when 'motivation_essay' %>

            <div class="form-group" data-controller="character-counter">
              <div class="d-flex gap-3 align-items-center">
              <%= f.label t('inscriptions.items_form_section.motivation_letter'), required: true %>
              <small class="text-secondary"><span data-character-counter-target="counter">0</span>/1000 </small>
              </div>
              <%= irf.input :submitted_content, label: false, as: :text, input_html: { style: 'height: 300px;',  data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} }, required: true %>
            </div>
          <% when 'youtube_link' %>
            <%= irf.input :submitted_content, as: :url, label: t('inscriptions.items_form_section.youtube_link'), hint: t('inscriptions.items_form_section.youtube_hint'), required: true %>
          <% else %>
            <div class="row">
              <div class="col">
                <% if irf.object.submitted_file.attached? %>
                  <embed src="<%= url_for(irf.object.submitted_file) %>" width="500" height="200" type="application/pdf">
                  <%= irf.input :submitted_file, as: :file, label: t('inscriptions.items_form_section.replace_document') %>
                <% else %>
                  <%= irf.input :submitted_file, as: :file, label: t('inscriptions.items_form_section.upload_pdf'), required: true %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
