<% note = inscription.notes.find_by(jury_id: current_user.jury.id) %>
<% if note %>
  <div class="rounded-8 p-2 border bg-success-secondary card-hover" style="border-radius: 0.25rem;">
    <div class="d-flex justify-content-between w-100 align-items-center">
      <h5 class="card-title">
        <%= link_to inscription.candidat.first_name, candidat_path(inscription.candidat), class: "btn btn-outline-success text-decoration-none btn-sm", target: "_blank" %>
      </h5>
      <span><i class="fas fa-check-circle text-success pe-1"></i><%= note.note_value %>/100</span>
      <%= link_to "Consulter video & vote", edit_jury_inscription_note_path(jury_id: current_user.jury.id, inscription_id: inscription.id, id: note.id), class: "btn btn-outline-success btn-sm" %>
    </div>
  </div>
<% else %>
  <div class="rounded-8 p-2 border bg-white card-hover" style="border-radius: 0.25rem;">
    <div class="d-flex justify-content-between w-100 align-items-center">
      <h5 class="card-title">
        <%= link_to inscription.candidat.first_name, candidat_path(inscription.candidat), class: "btn btn-secondary text-decoration-none btn-sm", target: "_blank" %>
      </h5>
      <span class="text-secondary"><i class="fas fa-spinner text-secondary pe-1"></i>À évaluer</span>
      <%= link_to "Consulter video & vote", new_jury_inscription_note_path(jury_id: current_user.jury.id, inscription_id: inscription.id, inscription: inscription), class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
<% end %>
