<div class="container mt-5">
  <h1 class="mb-4">VOS CANDIDATURES</h1>

  <div class="row">
    <% @inscriptions.each do |inscription| %>
      <div class="col-lg-4 col-xs-12 mb-3">
        <div class="card card-hover" style="border-radius: 16px;">
          <div class="card-body bg-white"style="border-radius: 16px;" >
            <h5 class="card-title"><%= inscription.category.edition_competition.competition.nom_concours %> - <%= inscription.category.name %> </h5>
            <p class="card-text">
              Start Date: <%= inscription.category.edition_competition.start_date %><br>
            </p>
            <span class="badge rounded-pill <%= inscription.order_state == 'paid' ? 'text-success border border-success bg-success-secondary' : 'text-warning border border-warning bg-warning-secondary' %>">
              <i class="fas fa-circle small"></i> <%= inscription.order_state.capitalize %>
            </span>
            <%= raise %>
            <span class="badge rounded-pill <%= inscription.draft? ? 'text-secondary border border-secondary bg-grey' : inscription.in_review? ? 'text-info border border-info bg-info-secondary' : inscription.accepted? ? 'text-success border-success bg-success-secondary' : 'text-danger border-danger bg-danger-secondary' %>">
              <i class="fas fa-circle small"></i> <%= inscription.status&.capitalize %>
            </span>
            <% if inscription.order_state != 'paid' %>
              <%= button_to 'Delete', inscription_path(inscription), method: :delete, data: { turbo_confirm: 'Are you sure?'} , class: 'btn btn-danger mt-3' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
