<h1 class="text-center mt-5"><%= t('inscriptions.edit.modify_application') %></h1>
<h2 class="text-center text-danger"><%= t('inscriptions.edit.can_modify_until', date: @inscription.category.edition_competition.end_of_registration.strftime("%d %B %Y à %H:%M")) %></h2>
<h3 class="text-center text-danger"><%= t('inscriptions.edit.will_be_submitted') %></h3>
<%= render "form", inscription: @inscription %>

<br>

<div>
  <%= link_to t('global.actions.show'), @inscription %> |
  <%= link_to t('global.actions.back'), inscriptions_path %>
</div>
