<div class="px-3">
  <p style="color: green"><%= notice %></p>
  <h1> <%= t('inscriptions.index.applications') %>
    <%= link_to @category&.name, organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), class:"text-decoration-none"%>
  </h1>
  <div class="d-flex justify-content-between">

    <%= render Navigation::BackLinkComponent.new(
      link_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category),
      link_text: @category.name)
    %>


    <%= link_to t('inscriptions.index.view_first_round_order'), organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour), class:"btn btn-primary", style: "font-size: 16px; margin-top: auto;" if @tour %>

    <%# <%= link_to t('inscriptions.index.add_late_registration'), "#", class:" text-primary text-decoration-none py-3 px-0", style: "font-size: 16px", data: { bs_toggle: "modal", bs_target: "#myModal" } %>
  </div>
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= t('inscriptions.index.add_late_registration') %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p> <%= t('inscriptions.index.late_registration_explanation') %> </p>
            <%= simple_form_for(User.new, url: user_invitation_path, method: :post) do |f| %>
              <%= f.input :email, required: true, placeholder: t('inscriptions.index.enter_email'), autofocus: true %>
              <%= f.input :inscription_role, as: :hidden, input_html: { value: "candidate" } %>
              <%= f.input :category_id, as: :hidden, input_html: { value: @category.id } %>

              <% f.object.build_candidat %>
              <%= f.simple_fields_for :candidat do |c| %>
                <%= c.input :first_name, hint: t('inscriptions.index.invited_user_can_modify'), required: true %>
                <%= c.input :last_name, hint: t('inscriptions.index.invited_user_can_modify'), required: true%>
              <% end %>

              <%= f.button :submit, t('inscriptions.index.invite_user'), class:"btn btn-primary", data: {bs_dismiss: "modal"} %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  <p><%= t('inscriptions.index.late_invitations_sent') %>: <span class="bg-info p-1"><%= @category.inscriptions.where(is_late_inscription: true).count %> </span></p>


  <div id="inscriptions" class="overflow-scroll d-flex  px-2">
    <% @category ||= inscriptions.first.category%>

    <% inscriptions_status_keys_for_table(@category).each do |status| %>
        <div class="col bg-light shadow-sm mb-1" style="border-radius: 0.25rem; min-width: 300px;" id="<%= t("inscriptions.statuses.#{status}") %>">
          <div class="d-flex justify-content-between align-items-center py-3 px-3 border-bottom" style="height: 60px;">
            <h5 class="mb-0 text-dark fw-bold">
              <%= t("inscriptions.statuses.#{status}") %>
            </h5>
            <span class="badge bg-light text-secondary border border-secondary rounded-pill">
              <%= @inscriptions&.select { |inscription| inscription.status == status }&.count %>
            </span>
          </div>
          <% @inscriptions&.select { |inscription| inscription.status == status }&.each do |inscription| %>
            <div class="card p-2 mt-2 border-0 shadow-sm">
                <div class="d-flex justify-content-between align-items-start mb-2">
                  <h6 class="card-title mb-0"><%= inscription_status_icon(inscription) %> <%= inscription.candidat.first_name %></h6>
                  <% if @category.hundred_points? %>
                    <span class="badge bg-primary rounded-pill"><%= inscription.average_score %>/100</span>
                  <% end %>
                </div>

                <div class="d-flex justify-content-between border-top pt-2 mt-2">
                  <% buttons_html = buttons_for_inscription(inscription) %>

                  <%= buttons_html.html_safe %>
                </div>
            </div>
          <% end %>
        </div>
      <% end %>
  </div>


</div>
