<div class="container">
<p style="color: green"><%= notice %></p>

<h1>Candidatures</h1>
<%= link_to "Consulter l'ordre de passage du premier tour", organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, @tour), class:"btn btn-success" %>
<div id="inscriptions" class="row">
<% Inscription.statuses.keys.reject { |status| status == 'draft' }.each do |status| %>
    <div class="col bg-light shadow-sm" style="border-radius: 0.25rem;">
      <h5 class="text-center text-capitalize"><%= status %></h5>
      <% @inscriptions&.select { |inscription| inscription.status == status }.each do |inscription| %>
        <div class="card p-3">
          <%= link_to inscription_path(inscription) do %>
            <div>
              <h6 class="card-title"><%= inscription.candidat.first_name %></h6>
              <span class="badge rounded-pill bg-secondary"><%= inscription.category.name %></span>
              <p class="card-text mb-0">
                <span class="badge rounded-pill bg-secondary"><%= inscription.status %></span>
              </p>

            </div>
          <% end %>
          <div class="d-flex justify-content-around">
            <%= buttons_for_inscription(inscription).html_safe %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


</div>
