<div class="d-flex align-items-center justify-content-center gap-3 w-100 border-bottom bg-white">
  <%= image_tag "icons/folder.png", width: 50 %>
  <h1 class="text-center pt-3" style="font-size: 3.4em"><%= t("inscriptions.new.fill_application_file") %></h1>
  <%= image_tag "icons/folder.png", width: 50 %>
</div>
<h5 class="text-center text-secondary mb-5"><%= t("inscriptions.new.competition_category", competition: @inscription.category.competition.nom_concours, category: @inscription.category.name) %></h5>
<% if current_user.candidat.present? %>
  <div id="warning-message" class=" mb-3 mx-auto rounded-8 bg-danger-secondary border border-danger d-flex flex-column align-items-center col-md-6 text-center">
    <i class="fas fa-exclamation-triangle fa-5x text-danger"></i>
    <p class="text-center text-dark"><%= t("inscriptions.new.warning_message.can_modify_until", date: @inscription.category.edition_competition.end_of_registration.strftime("%d %B %Y à %H:%M")) %></p>
    <p class="text-center text-dark"><%= t("inscriptions.new.warning_message.will_be_submitted") %></p>
    <p class="text-center text-dark"><%= t("inscriptions.new.warning_message.not_required_now") %></p>
    <p class="text-center text-dark"><%= t("inscriptions.new.warning_message.fill_works_now") %></p>
    <button id="close-button" class="btn btn-danger text-white mb-2"><%= t("inscriptions.new.warning_message.understood") %></button>
  </div>
<% end %>

<div class="container">
  <%= render "form", inscription: @inscription %>
  <div>
    <%= link_to t('global.actions.back'), inscriptions_path %>
  </div>
</div>

<br>

<script type="text/javascript">
 document.getElementById('close-button').addEventListener('click', function() {
  document.getElementById('warning-message').classList.toggle('d-none');
});
</script>
