<div id="<%= dom_id semi_imposed_work %>">

  <p>
    <strong><%= t('semi_imposed_works.semi_imposed_work.guidelines') %>:</strong>
    <%= semi_imposed_work.guidelines %>
  </p>

  <p>
    <strong><%= t('semi_imposed_works.semi_imposed_work.number') %>:</strong>
    <%= semi_imposed_work.number %>
  </p>

  <p>
    <strong><%= t('semi_imposed_works.semi_imposed_work.max_length_minutes') %>:</strong>
    <%= semi_imposed_work.max_length_minutes %>
  </p>

</div>
