<div id="<%= dom_id semi_imposed_work %>">
  <p>
    <strong>Programme requirement:</strong>
    <%= semi_imposed_work.programme_requirement_id %>
  </p>

  <p>
    <strong>Guidelines:</strong>
    <%= semi_imposed_work.guidelines %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= semi_imposed_work.number %>
  </p>

  <p>
    <strong>Max length minutes:</strong>
    <%= semi_imposed_work.max_length_minutes %>
  </p>

</div>
