<p style="color: green"><%= notice %></p>

<h1><%= t('semi_imposed_works.index.semi_imposed_works') %></h1>

<div id="semi_imposed_works">
  <% @semi_imposed_works.each do |semi_imposed_work| %>
    <%= render semi_imposed_work %>
    <p>
      <%= link_to t('semi_imposed_works.index.show_semi_imposed_work'), semi_imposed_work %>
    </p>
  <% end %>
</div>

<%= link_to t('semi_imposed_works.index.new_semi_imposed_work'), new_semi_imposed_work_path %>
