<p style="color: green"><%= notice %></p>

<%= render @semi_imposed_work %>

<div>
  <%= link_to t('semi_imposed_works.show.edit_semi_imposed_work'), edit_semi_imposed_work_path(@semi_imposed_work) %> |
  <%= link_to t('semi_imposed_works.show.back_to_semi_imposed_works'), semi_imposed_works_path %>

  <%= button_to t('semi_imposed_works.show.destroy_semi_imposed_work'), @semi_imposed_work, method: :delete %>
</div>
