<div id="<%= dom_id organisateur %>">
  <p>
    <strong><%= t('organisateurs.organisateur.user') %>:</strong>
    <%= organisateur.user_id %>
  </p>

  <p>
    <strong><%= t('organisateurs.organisateur.organization_name') %>:</strong>
    <%= organisateur.nom_organisme %>
  </p>

  <p>
    <strong><%= t('organisateurs.organisateur.organization_description') %>:</strong>
    <%= organisateur.description_organisme %>
  </p>

</div>
