<p style="color: green"><%= notice %></p>

<%= render @organisateur %>

<div>
  <%= link_to t('organisateurs.show.edit'), edit_organisateur_path(@organisateur) %> |
  <%= link_to t('global.actions.back'), organisateurs_path %>

  <%= button_to t('organisateurs.show.destroy'), @organisateur, method: :delete %>
</div>
