<!-- app/views/payments/new.html.erb -->
<div class="container">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag "https://source.unsplash.com/random/?pay/300/200", width: '100%' %></div>
    <div class="col">
      <h1><%= t('payments.new.checkout_summary') %></h1>
      <p><%= t('payments.new.purchase_of', inscription: @inscription_order, amount: humanized_money_with_symbol(@inscription_order.amount)) %></p>
      <button id="pay" class="btn btn-success"><%= t('payments.new.pay') %></button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= Rails.application.credentials.dig(:stripe_test_pk) %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @inscription_order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
