<div id="<%= dom_id requirement_item %>">
  <p>
    <strong><%= t('requirement_items.requirement_item.category') %>:</strong>
    <%= requirement_item.category_id %>
  </p>

  <p>
    <strong><%= t('requirement_items.requirement_item.type_item') %>:</strong>
    <%= requirement_item.type_item %>
  </p>

  <p>
    <strong><%= t('requirement_items.requirement_item.description_item') %>:</strong>
    <%= requirement_item.description_item %>
  </p>

  <% if requirement_item.description_item_english.present? %>
    <p>
      <strong><%= t('requirement_items.requirement_item.description_item_english') %>:</strong>
      <%= requirement_item.description_item_english %>
    </p>
  <% end %>

  <p>
    <strong><%= t('requirement_items.requirement_item.title') %>:</strong>
    <%= requirement_item.title %>
  </p>

</div>
