<div id="<%= dom_id requirement_item %>">
  <p>
    <strong>Category:</strong>
    <%= requirement_item.category_id %>
  </p>

  <p>
    <strong>Type item:</strong>
    <%= requirement_item.type_item %>
  </p>

  <p>
    <strong>Description item:</strong>
    <%= requirement_item.description_item %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= requirement_item.title %>
  </p>

</div>
