<p style="color: green"><%= notice %></p>

<%= render @requirement_item %>

<div>
  <%= link_to "Edit this requirement item", edit_requirement_item_path(@requirement_item) %> |
  <%= link_to "Back to requirement items", requirement_items_path %>

  <%= button_to "Destroy this requirement item", @requirement_item, method: :delete %>
</div>
