<p style="color: green"><%= notice %></p>

<%= render @requirement_item %>

<div>
  <%= link_to t('global.actions.edit'), edit_requirement_item_path(@requirement_item) %> |
  <%= link_to t('global.actions.back'), requirement_items_path %>

  <%= button_to t('global.actions.destroy'), @requirement_item, method: :delete %>
</div>
