<div id="<%= dom_id semi_imposed_work_air %>">
  <p>
    <strong><%= t('semi_imposed_work_airs.semi_imposed_work_air.semi_imposed_work') %>:</strong>
    <%= semi_imposed_work_air.semi_imposed_work_id %>
  </p>

  <p>
    <strong><%= t('semi_imposed_work_airs.semi_imposed_work_air.air') %>:</strong>
    <%= semi_imposed_work_air.air_id %>
  </p>

</div>
