<p style="color: green"><%= notice %></p>

<%= render @semi_imposed_work_air %>

<div>
  <%= link_to "Edit this semi imposed work air", edit_semi_imposed_work_air_path(@semi_imposed_work_air) %> |
  <%= link_to "Back to semi imposed work airs", semi_imposed_work_airs_path %>

  <%= button_to "Destroy this semi imposed work air", @semi_imposed_work_air, method: :delete %>
</div>
