<p style="color: green"><%= notice %></p>

<%= render @semi_imposed_work_air %>

<div>
  <%= link_to t('global.actions.edit'), edit_semi_imposed_work_air_path(@semi_imposed_work_air) %> |
  <%= link_to t('global.actions.back'), semi_imposed_work_airs_path %>

  <%= button_to t('global.actions.destroy'), @semi_imposed_work_air, method: :delete %>
</div>
