<div id="<%= dom_id category %>">
  <p>
    <strong>Edition competition:</strong>
    <%= category.edition_competition_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category.description %>
  </p>

  <p>
    <strong>Min age:</strong>
    <%= category.min_age %>
  </p>

  <p>
    <strong>Max age:</strong>
    <%= category.max_age %>
  </p>

  <p>
    <strong>Discipline:</strong>
    <%= category.discipline %>
  </p>

</div>
