<div id="<%= dom_id category %>">
  <p>
    <strong><%= t('categories.category.edition_competition') %>:</strong>
    <%= category.edition_competition_id %>
  </p>

  <p>
    <strong><%= t('categories.category.name') %>:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong><%= t('categories.category.description') %>:</strong>
    <%= category.description %>
  </p>

  <p>
    <strong><%= t('categories.category.min_age') %>:</strong>
    <%= category.min_age %>
  </p>

  <p>
    <strong><%= t('categories.category.max_age') %>:</strong>
    <%= category.max_age %>
  </p>

  <p>
    <strong><%= t('categories.category.discipline') %>:</strong>
    <%= category.discipline %>
  </p>

</div>
