<div class="col p-3 d-flex flex-column align-items-center bg-white">
  <h4 style="font-size: 2em;" class="px-3 rounded-pill ">Listes à choix</h3>
    <a href="#" class="text-secondary text-decoration-none mb-1" data-bs-toggle="collapse" data-bs-target="#info2Collapse" aria-expanded="false" aria-controls="infoCollapse">
    <i class="fas fa-info-circle"></i> Qu'est-ce que c'est?
  </a>
  <div class="collapse" id="info2Collapse">
    <p class="text-secondary">
      Une liste à choix est une liste d'oeuvres que le candidat doit choisir pour son programme. Vous pouvez préciser le nombre d'oeuvres à choisir dans cette liste, et ajouter des consignes pour chaque liste. Vous pouvez créer autant de liste que vous le souhaitez.
    </p>
  </div>
  <% if @category.choice_imposed_works.none? %>
    <p class="text-secondary">Créez ici une ou plusieurs liste d'oeuvre et précisez le nombre d'airs ou de morceaux que le candidat doit sélectionner dans chaque liste. Vous pouvez aussi ajouter des consignes et un titre à cette liste si vous le souhaitez. </p>
  <% end %>
  <% @category.choice_imposed_works.each_with_index do |choice_imposed_work, index| %>
    <div class="card w-100 mb-4 rounded-4 bg-white">
      <div class="card-header d-flex justify-content-between w-100">
          <h5 class="" style="font-weight: bold;"><%= index + 1 %>. <%= choice_imposed_work.title %></h2>
          <div class="d-flex justify-content-start align-items-center">
            <%= link_to edit_organism_competition_edition_competition_category_choice_imposed_work_path(@organism, @competition, @edition_competition, @category, choice_imposed_work), class: 'btn btn-outline-dark btn-sm border-0 mb-2' do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= button_to organism_competition_edition_competition_category_choice_imposed_work_path(@organism, @competition, @edition_competition, @category, choice_imposed_work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category)), method: :delete, data: { confirm: 'Are you sure?', turbo_confirm: "Are you sure?" }, class: 'btn btn-outline-dark btn-sm border-0 mb-2' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
      </div>

      <div class="d-flex flex-column p-2">
        <span class="px-2 bg-info-secondary border border-warning text-warning rounded-pill  mx-auto mt-2">
          Le candidat doit choisir <%= choice_imposed_work.number_to_select %> oeuvres dans cette liste.
        </span>
        <div class=" p-3 bg-info-secondary mb-3 text-start  m-1 shadow-sm rounded-8" style="font-style: italic;">
          <i class="fas fa-circle-info pe-1 text-secondary"></i>
          <%= choice_imposed_work.guidelines %>
        </div>

        <% choice_imposed_work.airs&.each_with_index do |work, index| %>
          <div class=" w-100">
            <div class="d-flex justify-content-between align-items-start">
              <div class="d-flex flex-column align-items-start w-100">
                <p class="pb-1 mb-0 text-secondary"> <%= index + 1 %> - <span class="text-dark" style="font-weight: bold"><%= work.title %></span>, <%= work.oeuvre %>, <%= work.composer %>, <%= work.tonality %> - <%= work.infos %></p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="d-flex">
                  <%= link_to edit_air_path(work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category)), class: 'btn btn-outline-dark btn-sm border-0' do %>
                    <i class="fas fa-pencil"></i>
                  <% end %>
                  <%= button_to air_path(work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category)), method: :delete, data: { confirm: 'Are you sure?', turbo_confirm: "Are you sure?" }, class: 'btn btn-outline-dark btn-sm border-0' do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </div>
                <%# <span class="text-start mb-0 badge border rounded-pill mt-2" style="font-size: 0.8em;"><i class="fas fa-key me-2"></i></span> %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  <% end %>

    <%= link_to new_organism_competition_edition_competition_category_choice_imposed_work_path(@organism, @competition, @edition_competition, @category), class: 'btn btn-success mx-auto border-1 mt-3' do %>
      <i class="fas fa-plus"></i> Ajouter une nouvelle liste à choix
    <% end %>
</div>
