<div class="col p-3 d-flex flex-column align-items-center bg-white">
  <h4 style="font-size: 2em;" class="px-3 rounded-pill "><%= t('categories.choice_imposed_works_section.title') %></h4>
    <a href="#" class="text-secondary text-decoration-none mb-1" data-bs-toggle="collapse" data-bs-target="#info2Collapse" aria-expanded="false" aria-controls="infoCollapse">
    <i class="fas fa-info-circle"></i> <%= t('categories.choice_imposed_works_section.what_is_it') %>
  </a>
  <div class="collapse" id="info2Collapse">
    <p class="text-secondary">
      <%= t('categories.choice_imposed_works_section.explanation') %>
    </p>
  </div>
  <% if @category.choice_imposed_works.none? %>
    <p class="text-secondary"><%= t('categories.choice_imposed_works_section.create_instruction') %></p>
  <% end %>
  <% @category.choice_imposed_works.each_with_index do |choice_imposed_work, index| %>
    <div class="card w-100 mb-4 rounded-4 bg-white">
      <div class="card-header d-flex justify-content-between w-100">
          <h5 class="" style="font-weight: bold;"><%= index + 1 %>. <%= choice_imposed_work.title %></h5>

          <% kebab_items = [
            {
              icon: "fas fa-edit",
              text: t('global.actions.edit'),
              path: edit_organism_competition_edition_competition_category_choice_imposed_work_path(@organism, @competition, @edition_competition, @category, choice_imposed_work)
            },
            {
              icon: "fas fa-trash",
              text: t('global.actions.delete'),
              path: organism_competition_edition_competition_category_choice_imposed_work_path(@organism, @competition, @edition_competition, @category, choice_imposed_work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category)),
              method: :delete,
              data: { confirm: t('categories.common.confirm_delete'), turbo_confirm: t('categories.common.confirm_delete') },
              class: "deletion-button"
            }
          ] %>

          <%= render(Dropdown::KebabComponent.new(items: kebab_items, only_vertical_dots: false)) %>
      </div>

      <div class="d-flex flex-column p-2">
        <span class="px-2 bg-info-secondary border border-warning text-warning rounded-pill mx-auto mt-2">
          <%= t('categories.choice_imposed_works_section.candidate_must_choose', count: choice_imposed_work.number_to_select) %>
        </span>
        <div class="p-3 bg-info-secondary mb-3 text-start m-1 shadow-sm rounded-8" style="font-style: italic;">
          <i class="fas fa-circle-info pe-1 text-secondary"></i>
          <%= choice_imposed_work.guidelines %>
        </div>

        <% choice_imposed_work.airs&.each_with_index do |work, index| %>
          <div class="w-100">
            <div class="d-flex justify-content-between align-items-start">
              <div class="d-flex flex-column align-items-start w-100">
                <p class="pb-1 mb-0 text-secondary"> <%= index + 1 %> - <span class="text-dark" style="font-weight: bold"><%= work.title %></span>, <%= work.oeuvre %>, <%= work.composer %>, <%= work.tonality %> - <%= work.infos %></p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <% air_kebab_items = [
                  {
                    icon: "fas fa-pencil",
                    text: t('global.actions.edit'),
                    path: edit_air_path(work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category))
                  },
                  {
                    icon: "fas fa-trash",
                    text: t('global.actions.delete'),
                    path: air_path(work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category)),
                    method: :delete,
                    data: { confirm: t('categories.common.confirm_delete'), turbo_confirm: t('categories.common.confirm_delete') },
                    class: "deletion-button"
                  }
                ] %>

                <%= render(Dropdown::KebabComponent.new(items: air_kebab_items, only_vertical_dots: true)) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to new_organism_competition_edition_competition_category_choice_imposed_work_path(@organism, @competition, @edition_competition, @category), class: 'btn btn-success mx-auto border-1 mt-3' do %>
    <i class="fas fa-plus"></i> <%= t('categories.choice_imposed_works_section.add_new_list') %>
  <% end %>
</div>
