<%= simple_form_for([@organism, @competition, @edition_competition, @category]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row bg-light p-3 shadow mb-3" style="border-radius: 12px;">
    <div class="col-md-6">
      <h3>Informations</h3>

      <div class="form-inputs w-100">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :name, required: true %>
          </div>

          <div class="col-md-6">
            <%= f.input :discipline, label: "Discipline", as: :select, collection: Category.disciplines.keys.map { |discipline| [discipline.humanize, discipline] }, input_html: { class: 'form-select', required: true } %>
          </div>

        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :min_age, required: true %>
          </div>
          <div class="col-md-6">
            <%= f.input :max_age, required: true %>
          </div>
        </div>
        <div class="form-group" data-controller="character-counter">
          <div class="d-flex gap-3 align-items-center">
          <%= f.label "Description*" %>
          <small class="text-secondary"><span data-character-counter-target="counter">0</span>/1000 </small>
          </div>
          <%= f.input :description, label: false, placeholder: "", input_html: { class:"border border-0", data: { action: "input->character-counter#update", character_counter_target: "input", class:"border border-0 "} } %>
        </div>
        <div class="d-flex p-2 bg-light-grey rounded-8 align-items-center">
          <%= f.input :allow_own_pianist_accompagnateur, as: :boolean, label: false, input_html: {style:"background-color: #28CF75;"} %>
          <%= f.label "Le candidat peut venir avec son pianiste accompagnateur personnel." %>
        </div>
        <%= f.input :price_cents, label: "Frais d'inscription (#{@category.price_currency})", class: "form-control",input_html: { value: @category.price_cents / 100, step: 1, min: 0, class: "form-control", id: "price_euros", placeholder: "Enter price in Euros" }  %>
        <%= f.collection_radio_buttons :preselection_vote_type, Category.preselection_vote_types.keys.map { |key| [key.humanize, key] }, :second, :first %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-inputs col-12 d-flex flex-column gap-1">
        <div data-controller="image-preview" data-image-preview-url="<%= @category.photo.attached? ? url_for(@category.photo) : '' %>">
          <%= f.input :photo, as: :file, input_html: { data: { image_preview_target: "input" } }, label: "Ajouter une photo" %>
          <div class="w-100" style="height: 400px; background: #f8f9fa;">
            <div data-image-preview-target="preview" class="h-100 w-100" style="background-size: contain; display: none;"></div>
            <div data-image-preview-target="placeholder" class="text-center text-muted border p-5 w-100">Vous n'avez pas encore ajouté d'image</div>
          </div>
        </div>
      </div>


    </div>


  <div class="form-actions">
    <%= f.button :submit, 'Enregistrer', class:"btn btn-dark w-100 p-3 mb-5" %>
  </div>
  </div>

<% end %>
