<div class="card border-0 mb-5 pb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <div>
      <div class="d-flex gap-3 align-items-center">
        <h2 style="font-size: 3em;"><%= t('categories.prizes_section.title', count: category.prizes.count) %></h2>
        <%= link_to new_organism_competition_edition_competition_category_prize_path(@organism, @competition, @edition_competition, category, redirect_tab: "docs-prizes-jury-content"), class: "btn btn-success my-3" do %>
          + <%= t('categories.prizes_section.add_prize') %>
        <% end %>
      </div>
      <span class="text-secondary"><%= t('categories.prizes_section.description') %></span>

    </div>

  </div>

  <div class="row p-3">
    <% category.prizes.each do |prize| %>
      <div class="col-md-4">
        <div class="card mb-4 bg-white">
          <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0"><%= prize.title %></h5>
            <%= button_to organism_competition_edition_competition_category_prize_path(@organism, @competition, @edition_competition, @category, prize), method: :delete, data: { confirm: t('categories.common.confirm_delete') }, class: 'btn btn-outline-dark btn-sm ms-2 border-0' do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
          <div class="card-body " style="height: 200px; overflow: auto;">
            <div class="d-flex flex-column justify-content-between align-items-center gap-2">
              <div class="d-flex">
            <%= image_tag 'icons/trophy.png', width: 70, height: 70 if prize.amount.present? %>
            <%= image_tag 'icons/palais-garnier.png', width: 70, height: 70 if prize.other_reward.present?%>

              </div>
            <%= image_tag 'icons/laurel-wreath.png', width: 70, height: 70 unless prize.other_reward.present? || prize.amount.present?%>

            <% if prize.amount.present? %>
              <h6 class="card-subtitle mb-2 text-muted"><%= prize.amount %>€</h6>
            <% end %>
            <% if prize.other_reward.present? %>
              <h6 class="card-subtitle mb-2 text-muted"><%= prize.other_reward %></h6>
            <% end %>

            <p class="card-text"><%= prize.description %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%# Ajouter prix %>

</div>
