<div class="col border-start border-5 p-3 d-flex flex-column justify-content-between w-100 align-items-center bg-white">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <h4 style="font-size: 2em;" class="px-3 rounded-pill text-center">Oeuvres contraintes</h4>

  <p class="text-center mb-1"><a href="#" class="text-secondary text-center text-decoration-none" data-bs-toggle="collapse" data-bs-target="#infoCollapse" aria-expanded="false" aria-controls="infoCollapse"> <i class="fas fa-info-circle"></i> Qu'est-ce que c'est? </a></p>
    <div class="collapse" id="infoCollapse">
      <p class="text-secondary">
        Les oeuvres contraintes sont le mode le plus courant pour imposer un programme a un candidat. Exemple: Vous voulez que votre candidat présente 3 airs d'opéra en anglais, 2 airs d'opéra en francais, et 1 mélodie italienne du 19e siècle. Vous avez ici 3 consignes a créer. Vous pouvez aussi préciser une durée maximale pour chaque groupement d'oeuvres. <br>Vous avez différentes manières de contraindre le programme que le candidat doit présenter par consigne. Vous pouvez dire aussi que vous voulez qu'ils propose 6 morceaux dont 3 seront sélectionnés par le jury pour le premier tour.
        <br> Bref, tout est possible, et c'est ici que vous pouvez le faire.
      </p>
    </div>
    <% if @category.semi_imposed_works.none? %>
      <p class="text-secondary">Renseignez ici le programme à choix guidé du candidat...</p>

    <% end %>
    <% @category.semi_imposed_works.each do |semi_imposed_work| %>
      <div class="card w-100 mb-4 rounded-4 bg-white">
        <div class="card-header align-items-center d-flex justify-content-between w-100">
          <h5 class="" style="font-weight: bold;"> <%= semi_imposed_work.title %></h5>
          <div class="d-flex justify-content-start align-items-center">
            <%= link_to '#', class: 'btn btn-outline-dark btn-sm border-0 mb-2', data: { bs_toggle: "modal", bs_target: "#semiImposedWorkModal#{semi_imposed_work.id}" } do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= button_to '#', method: :delete, data: { confirm: 'Are you sure?', turbo_confirm: "Are you sure?" }, class: 'btn btn-outline-dark btn-sm border-0 mb-2' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>

        <div class="d-flex flex-column p-2">
          <p class="pt-2">
            Le candidat doit présenter
            <span class="px-2 bg-info-secondary border border-warning text-warning rounded-pill me-1">
              <%= semi_imposed_work.number %> oeuvres
            </span>
            pour une durée totale maximale de
            <span class="px-2 bg-info-secondary border border-primary text-primary rounded-pill me-1">
              <%= semi_imposed_work.max_length_minutes %> minutes
            </span>
            et respectant les contraintes suivantes: </p>
          <div class=" p-3 bg-info-secondary mb-3 text-start  m-1 shadow-sm rounded-8" style="font-style: italic;">
            <i class="fas fa-circle-info pe-1 text-secondary"></i>
            <%= semi_imposed_work.guidelines %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <button type="button" class="align-self-end btn btn-success mx-auto border-1  mt-3" data-bs-toggle="modal" data-bs-target="#semiImposedWorkModal">
    <i class="fas fa-plus"></i> Ajouter une nouvelle oeuvre contrainte
  </button>
</div>

<!-- Modal -->
<div class="modal fade" id="semiImposedWorkModal" tabindex="-1" aria-labelledby="semiImposedWorkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="semiImposedWorkModalLabel">Ajouter un semi-imposed work</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= render "semi_imposed_works/form", semi_imposed_work: @semi_imposed_work %>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
