<div class="col p-3 d-flex flex-column align-items-center bg-white">
  <h4 style="font-size: 2em;" class="px-3 rounded-pill "><%= t('categories.semi_imposed_works_section.title') %></h3>
    <a href="#" class="text-secondary text-decoration-none mb-1" data-bs-toggle="collapse" data-bs-target="#info3Collapse" aria-expanded="false" aria-controls="infoCollapse">
    <i class="fas fa-info-circle"></i> <%= t('categories.semi_imposed_works_section.what_is_it') %>
  </a>
  <div class="collapse" id="info3Collapse">
    <p class="text-secondary">
      <%= t('categories.semi_imposed_works_section.explanation') %>
    </p>
  </div>
  <% if @category.semi_imposed_works.none? %>
    <p class="text-secondary"><%= t('categories.semi_imposed_works_section.create_instruction') %></p>
  <% end %>
  <% @category.semi_imposed_works.each_with_index do |semi_imposed_work, index| %>
    <div class="card w-100 mb-4 rounded-4 bg-white">
      <div class="card-header d-flex justify-content-between w-100">
          <h5 class="" style="font-weight: bold;"><%= index + 1 %>. <%= semi_imposed_work.title %></h2>
          <div class="d-flex justify-content-start align-items-center">
            <button type="button" class="btn btn-outline-dark btn-sm border-0 mb-2" data-bs-toggle="modal" data-bs-target="#editSemiImposedWorkModal<%= semi_imposed_work.id %>">
              <i class="fas fa-edit"></i>
            </button>
            <%= button_to organism_competition_edition_competition_category_semi_imposed_work_path(@organism, @competition, @edition_competition, @category, semi_imposed_work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category)), method: :delete, data: { confirm: t('categories.common.confirm_delete'), turbo_confirm: t('categories.common.confirm_delete') }, class: 'btn btn-outline-dark btn-sm border-0 mb-2' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
      </div>

      <div class="d-flex flex-column p-2">
        <div class=" p-3 bg-info-secondary mb-3 text-start  m-1 shadow-sm rounded-8" style="font-style: italic;">
          <i class="fas fa-circle-info pe-1 text-secondary"></i>
          <%= semi_imposed_work.guidelines %>
        </div>

        <% semi_imposed_work.airs&.each_with_index do |work, index| %>
          <div class=" w-100">
            <div class="d-flex justify-content-between align-items-start">
              <div class="d-flex flex-column align-items-start w-100">
                <p class="pb-1 mb-0 text-secondary"> <%= index + 1 %> - <span class="text-dark" style="font-weight: bold"><%= work.title %></span>, <%= work.oeuvre %>, <%= work.composer %>, <%= work.tonality %> - <%= work.infos %></p>
              </div>
              <div class="d-flex flex-column align-items-end">
                <div class="d-flex">
                  <%= link_to edit_air_path(work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category)), class: 'btn btn-outline-dark btn-sm border-0' do %>
                    <i class="fas fa-pencil"></i>
                  <% end %>
                  <%= button_to air_path(work, redirect_path: organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category)), method: :delete, data: { confirm: t('categories.common.confirm_delete'), turbo_confirm: t('categories.common.confirm_delete') }, class: 'btn btn-outline-dark btn-sm border-0' do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
                </div>
                <%# <span class="text-start mb-0 badge border rounded-pill mt-2" style="font-size: 0.8em;"><i class="fas fa-key me-2"></i></span> %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>

    <!-- Edit Modal for each semi_imposed_work -->
    <div class="modal fade" id="editSemiImposedWorkModal<%= semi_imposed_work.id %>" tabindex="-1" aria-labelledby="editSemiImposedWorkModalLabel<%= semi_imposed_work.id %>" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editSemiImposedWorkModalLabel<%= semi_imposed_work.id %>"><%= t('semi_imposed_works.edit.edit_semi_imposed_work') %></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-white">
            <%= simple_form_for([@organism, @competition, @edition_competition, @category, semi_imposed_work]) do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

              <div class="form-inputs">
                <%= f.input :title, hint: t('semi_imposed_works.form.title_hint'), label: t('semi_imposed_works.form.title'), required: true %>
                <%= f.input :guidelines, hint: t('semi_imposed_works.form.guidelines_hint'), label: t('semi_imposed_works.form.guidelines'), required: true  %>
                <%= f.input :number, hint: t('semi_imposed_works.form.number_hint'), label: t('semi_imposed_works.form.number'), required: true  %>
                <%= f.input :max_length_minutes, hint: t('semi_imposed_works.form.max_length_minutes_hint'), label: t('semi_imposed_works.form.max_length_minutes'), required: true  %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, t('global.actions.save'), class:"btn btn-dark" %>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><%= t('global.actions.close') %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <button type="button" class="align-self-end btn btn-success mx-auto border-1  mt-3" data-bs-toggle="modal" data-bs-target="#semiImposedWorkModal">
    <i class="fas fa-plus"></i>  <%= t('categories.semi_imposed_works_section.add_new_list') %>
  </button>
</div>

<!-- Modal for creating new semi_imposed_work -->
<div class="modal fade" id="semiImposedWorkModal" tabindex="-1" aria-labelledby="semiImposedWorkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="semiImposedWorkModalLabel">Ajouter un semi-imposed work</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body bg-white">
          <%= render "semi_imposed_works/form", semi_imposed_work: @semi_imposed_work %>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
