  <!--Tours section -->
  <div class="card shadow mb-5">
  <div class="bg-light-grey card-header d-flex justify-content-between align-items-center">
    <div class=mb-2>
      <h2 style="font-size: 3em;">Tours</h2>
      <small class="text-secondary bg-secondary-secondary p-2 rounded-8 border "><i class="fas fa-info-circle text-secondary pe-2"></i>Glissez déposez les tours pour changer leur ordre</small>
    </div>

    <div class="text-center ">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addTourModal">
        Ajouter un tour
      </button>
    </div>

  </div>

  <div class="container bg-light card-body">
    <div class="row g-4 pb-3">
      <% if category.tours.none? %>
        <div class="row g-4">
          <% 3.times do %>
            <div class="col-md-4">
              <a href="#" data-bs-toggle="modal" data-bs-target="#addTourModal" class="text-decoration-none">
                <div class="card shadow-sm h-100 card-hover bg-grey">
                  <div class="card-body d-flex align-items-center justify-content-center w-100">
                    <span class="display-1 text-secondary">+</span>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="d-flex flex-wrap" data-controller="draggable" data-action="dragover->draggable#dragOver drop->draggable#drop" data-draggable-target="list">
        <% category.tours.order(:tour_number).each do |tour| %>
          <div class="col-md-4 p-2" data-id="<%= tour.id %>" draggable="true" data-action="dragstart->draggable#dragStart dragend->draggable#dragEnd">
            <div class="card h-100">
              <div class="card-header bg-light-grey d-flex justify-content-between align-items-start">
                <h4 class=" text-dark font-weight-bold m-0"> <%= tour.tour_number %> - <%= tour.title %> </h4>
                <div class="d-flex">
                  <%= button_to "Supprimer", organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, category, tour), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm ms-2 border-0' %>
                </div>
              </div>
              <div class="card-body bg-white">
                <div class="d-flex justify-content-start gap-3 mb-2 w-100">
                  <%= link_to "Voir le planning", organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, category, tour), class:"btn btn-primary btn-sm" %>
                  <%= link_to  "Modifier", edit_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, category, tour), class: 'btn btn-outline-primary btn-sm border border-primary' %>
                </div>
                <p class="card-text">
                  <small class="text-muted">
                    <i class="fas fa-calendar-alt"></i> Commence le: <%= tour.start_date&.strftime("%d/%m/%Y") %>
                  </small>
                </p>
                <p class="card-text">
                  <small class="text-muted">
                    <i class="fas fa-calendar-alt"></i> Date limite de modification des programmes <%= tour.final_performance_submission_deadline&.strftime("%d/%m/%Y") %>
                  </small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>



    <!-- Modal New Tour-->
    <div class="modal fade" id="addTourModal" tabindex="-1" aria-labelledby="addTourModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addTourModalLabel">Ajouter un tour</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "tours/form", tour: @tour %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
