<div class="pt-5 container">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-3 " style="font-size: 5.5em;"><%= @category.name %></h1>
      <div class="border-0 rounded">
        <div class="mt-3 d-flex w-100 gap-3 justify-content-around">
          <%= link_to organism_competition_edition_competition_path(@organism, @competition, @edition_competition), class: "btn btn-primary" do %>
            <i class="fas fa-arrow-left"></i> <%= t('categories.show.back_to_categories') %>
          <% end %>
          <%= link_to edit_organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), class: 'btn btn-primary' do %>
            <i class="fas fa-edit"></i> <%= t('categories.show.edit_category') %>
          <% end %>
          <%= link_to organism_competition_edition_competition_category_inscriptions_path(@organism, @competition, @edition_competition, @category), class: "btn btn-primary" do %>
            <i class="fas fa-eye"></i> <%= t('categories.show.view_applications') %> ( <%= @category.inscriptions.where(status: 'in_review').count %> )
          <% end %>
          <%= button_to organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), method: :delete, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash"></i> <%= t('categories.show.delete') %>
          <% end %>
        </div>
        <div class="d-flex justify-content-center mt-5 mb-5">
          <% if @category.ready_to_publish? && !@category.edition_competition.published? %>
            <%= link_to t('categories.show.finish_configuration'), organism_competition_edition_competition_path(@organism, @competition, @edition_competition), class: "btn btn-success" %>
          <% else %>
            <% if !@category.has_a_program? %>
              <%= link_to t('categories.show.configure_program'), '#program', class: "btn btn-success" %>
            <% elsif !@category.has_a_tour? %>
              <%= link_to t('categories.show.configure_tours'), '#tour', class: "btn btn-success" %>
            <% elsif !@category.has_a_requirement_item? %>
              <%= link_to t('categories.show.configure_requirements'), '#requirement-item', class: "btn btn-success" %>
            <% elsif !@category.has_a_prize? %>
              <%= link_to t('categories.show.configure_prizes'), '#prize', class: "btn btn-success" %>
              <%= link_to organism_competition_edition_competition_category_inscriptions_path(@organism, @competition, @edition_competition, @category), class: "btn btn-primary" do %>
                <i class="fas fa-eye"></i> <%= t('categories.show.view_applications') %> ( <%= @category.inscriptions.where(status: 'in_review').count %> )
              <% end %>
            <% else %>

              <p class="text-success"> <i class="fas fa-check-circle text-success me-1"></i> Votre catégorie a été publiée</p>

            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap w-100 gap-2 mb-3">

    <%= badge_with_icon(@category, t('categories.show.badges.create_program'), :has_a_program?) %>
    <%= badge_with_icon(@category, t('categories.show.badges.create_tour'), :has_a_tour?) %>
    <%= badge_with_icon(@category, t('categories.show.badges.create_requirement'), :has_a_requirement_item?) %>
    <%= badge_with_icon(@category, t('categories.show.badges.create_prize'), :has_a_prize?) %>
    <%= badge_with_icon(@category, t('categories.show.badges.create_jury'), :has_a_voting_jury?) if @category.hundred_points?%>

  </div>

   <%= link_to organism_competition_edition_competition_category_inscriptions_path(@organism, @competition, @edition_competition, @category), data: { controller: "hover" } do %>
    <div class="card mb-3" style="width: 100%; height: 300px; background-image: url('https://source.unsplash.com/random/?opera/300/200'); background-size: cover;" data-action="mouseenter->hover#hover mouseleave->hover#unhover">
      <div class="card-img-overlay d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.5);">
        <h1 class="card-title text-white" style="font-size: 3em;" data-hover-target="text"><%= t('categories.show.applications') %> (<%= @category.inscriptions.where(status: 'in_review').count %>)</h1>
      </div>
    </div>
  <% end %>
  <div class="container">
  <div id="program">
    <%= render "program_container_section", category: @category %>
  </div>

  <div id="tour">
    <%= render "tours_section", category: @category %>
  </div>

  <div id="requirement-item">
    <%= render "requirement_items_section", category: @category %>
  </div>

  <div id="prize">
    <%= render "prizes_section", category: @category %>
  </div>

  <div id="jury">
    <%= render "juries_section", category: @category if @category.hundred_points? %>
  </div>
</div>
</div>
