<div class="pt-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center mb-3 " style="font-size: 5.5em;"><%= @category.name %></h1>
      <div class="border-0 rounded mb-5">
        <div class="mt-3 d-flex w-100 gap-3 justify-content-around">
          <%= link_to "Modifier les informations", edit_organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), class: 'btn btn-outline-dark' %>
          <%= link_to "Voir les candidatures ( #{@category.inscriptions.where(status: 'in_review').count} )", organism_competition_edition_competition_category_inscriptions_path(@organism, @competition, @edition_competition, @category), class: "btn btn-dark px-5" %>
          <%= button_to "Supprimer la catégorie", organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), method: :delete, class: 'btn btn-outline-dark', data: { confirm: 'Are you sure?' } %>

        </div>
      </div>
    </div>
  </div>

  <%= render "program_container_section", category: @category %>
  <%= render "tours_section", category: @category %>
  <!-- candidature section -->

  <%= link_to "Voir les candidatures", organism_competition_edition_competition_category_inscriptions_path(@organism, @competition, @edition_competition, @category), class: "btn btn-success" %>
  <%= link_to organism_competition_edition_competition_category_inscriptions_path(@organism, @competition, @edition_competition, @category), data: { controller: "hover" } do %>
    <div class="card" style="width: 100%; height: 300px; background-image: url('https://source.unsplash.com/random/?applications/300/200'); background-size: cover;" data-action="mouseenter->hover#hover mouseleave->hover#unhover">
      <div class="card-img-overlay d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.5);">
        <h1 class="card-title text-white" style="font-size: 3em;" data-hover-target="text">Inscriptions (<%= @category.inscriptions.where(status: 'in_review').count %>)</h1>
      </div>
    </div>
  <% end %>



  <!-- Requirement items section-->
  <div class="bg-dark text-center py-5 mb-5" style="height: 200px;">
    <h2 class="text-white" style="font-size: 4em;">Pièces et documents requis </h2>
  </div>

  <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark my-3" data-bs-toggle="modal" data-bs-target="#exampleModal1">
     + Ajouter un élément requis
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel1">Ajouter un élément requis</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
         <div class="modal-body" data-controller="requirement" data-action="click->requirement#changeIdOfInput">
            <%= simple_form_for([@organism, @competition, @edition_competition, @category, RequirementItem.new]) do |f| %>
              <%= f.input :title, placeholder:"ex: Lettre de recommendation de votre professeur", label: "Donnez un titre à cet item", input_html: { id: "requirement-#{@category.name}-#{Time.now.to_i}" }, data: { requirement_target: "title" } %>
              <%= f.input :type_item, label: "Type de pièce", collection: RequirementItem.type_items.keys, prompt: 'Select a type' %>
              <%= f.input :description_item, label: "Détails", placeholder: "Renseignez ici les spécifications, par exemple de longueur pour une lettre de motivation, de durée pour une vidéo sur youtube, ou autre..." %>
              <div class="modal-footer">
                <%= f.button :submit, class: 'btn btn-primary' %>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class=" d-flex gap-3 flex-wrap">
      <% @category.requirement_items.each do |item| %>
        <div class="card bg-dark text-white rounded" style="width: 18rem;">
          <div class="card-body">
            <div class="icon-placeholder mx-auto" style="width: 100px; height: 100px;">
              <%= image_tag "https://source.unsplash.com/random/?#{item.type_item}/300/200", alt: "Photo d'item requis", class: "img-fluid w-100 d-block rounded-circle", style: "object-fit: cover; aspect-ratio: 1 / 1; overflow: hidden; ", loading: 'lazy' %>
            </div>
            <h5 class="card-title"><%= item.title %></h5>
            <p class="card-text text-light"><%= item.description_item %></p>
            <%= button_to organism_competition_edition_competition_category_requirement_item_path(@organism, @competition, @edition_competition, @category, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-light btn-sm' do %>
              <i class="fas fa-times"></i>
            <% end %>
            <span class="badge bg-warning text-dark rounded-pill border border-success"><%= item.type_item %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>

<!-- Prize section -->

    <h2 class="text-dark" style="font-size: 4em;">Prix & Récompenses</h2>

  <div class="row">
    <% @category.prizes.each do |prize| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= prize.title %> <%= button_to "Supprimer", organism_competition_edition_competition_category_prize_path(@organism, @competition, @edition_competition, @category, prize), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm ms-2 border-0' %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= prize.amount %>€</h6>
            <p class="card-text"><%= prize.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>



  <%# Ajouter prix %>
  <%= link_to new_organism_competition_edition_competition_category_prize_path(@organism, @competition, @edition_competition, @category), class: "btn btn-dark my-3" do %>
    + Ajouter un prix
  <% end %>


</div>
