<div class="pt-5 bg-black">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-3 text-light" style="font-size: 5.5em;"><%= @category.name %></h1>
      <div class="border-0 rounded mb-5">
        <div class="mt-3 d-flex justify-content-between">
          <%= link_to "Modifier cette catégorie", edit_organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), class: 'btn btn-outline-light' %>
          <%= button_to "Supprimer cette catégorie", organism_competition_edition_competition_category_path(@organism, @competition, @edition_competition, @category), method: :delete, class: 'btn btn-outline-light', data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>


  <%= link_to organism_competition_edition_competition_category_inscriptions_path(@organism, @competition, @edition_competition, @category), data: { controller: "hover" } do %>
    <div class="card" style="width: 100%; height: 300px; background-image: url('https://source.unsplash.com/random/?applications/300/200'); background-size: cover;" data-action="mouseenter->hover#hover mouseleave->hover#unhover">
      <div class="card-img-overlay d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.5);">
        <h1 class="card-title text-white" style="font-size: 3em;" data-hover-target="text">Inscriptions (<%= @category.inscriptions.count %>)</h1>
      </div>
    </div>
  <% end %>

   <!--Tours section -->
  <div class="text-center text-white py-5 bg-dark mt-5">
    <h2 style="font-size: 4em;">Tours</h2>
  </div>
  <div class="container mt-5">


    <div class="row g-4 pb-3">
      <% if @category.tours.none? %>
        <small class="text-center"> Créez des tours pour cette catégorie</small>
        <div class="row g-4">
          <% 3.times do %>
            <div class="col-md-4">
              <a href="#" data-bs-toggle="modal" data-bs-target="#addTourModal" class="text-decoration-none">
                <div class="card shadow-sm h-100 card-hover bg-grey">
                  <div class="card-body d-flex align-items-center justify-content-center w-100">
                    <span class="display-1 text-secondary">+</span>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      <% end %>
        <% @category.tours.each do |tour| %>
          <div class="col-md-4">
            <%= link_to organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, tour), class: "text-decoration-none" do %>
              <div class="card shadow-sm h-100">
                <div class="card-header bg-light-grey d-flex justify-content-between align-items-start">
                  <h4 class=" text-dark font-weight-bold m-0">
                    <%= tour.title %>
                  </h4>

                  <div class="d-flex">
                    <%= link_to edit_organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, tour), class: 'btn btn-outline-dark btn-sm border-0' do %>
                      <i class="fas fa-edit"></i>
                    <% end %>
                    <%= button_to organism_competition_edition_competition_category_tour_path(@organism, @competition, @edition_competition, @category, tour), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-dark btn-sm ms-2 border-0' do %>
                      <i class="fas fa-times"></i>
                    <% end %>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text text-secondary"><i class="fas fa-info-circle"></i> <%= tour.description %></p>
                  <p class="card-text">
                    <small class="text-muted">
                      <i class="fas fa-calendar-alt"></i> Début: <%= tour.start_date&.strftime("%d/%m/%Y") %> à <%= tour.start_time.strftime("%H:%M") %><br>
                      <i class="fas fa-calendar-check"></i> Fin: <%= tour.end_date&.strftime("%d/%m/%Y") %> à <%= tour.end_time.strftime("%H:%M") %>
                    </small>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


    <!-- Button trigger modal -->
    <div class="text-center my-4 py-4">
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addTourModal">
        Ajouter un tour
      </button>
    </div>

    <!-- Modal New Tour-->
    <div class="modal fade" id="addTourModal" tabindex="-1" aria-labelledby="addTourModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addTourModalLabel">Ajouter un tour</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "tours/form", tour: @tour %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Section Programme Demandé-->
  <div class="bg-black text-center py-5 ">
    <div class="d-flex bg-black border border-secondary justify-content-center align-items-center">
      <h2 class="text-white py-5" style="font-size: 4em;">Programme demandé</h2>
    </div>
    <div class="container">
      <div class="row">
        <%= render 'imposed_works_section', category: @category %>
        <%= render 'choice_imposed_works_section', category: @category, competition: @competition, edition_competition: @edition_competition %>
        <%= render 'semi_imposed_works_section', category: @category, competition: @competition, edition_competition: @edition_competition %>
      </div>
    </div>
  </div>

  <!-- Requirement items section-->
  <div class="bg-dark text-center py-5 mb-5" style="height: 200px;">
    <h2 class="text-white" style="font-size: 4em;">Pièces et documents requis </h2>
  </div>

  <div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark my-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Ajouter un élément requis
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ajouter un élément requis</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= simple_form_for([@organism, @competition, @edition_competition, @category, RequirementItem.new]) do |f| %>
              <%= f.input :title %>
              <%= f.input :type_item, collection: RequirementItem.item_types_list, prompt: 'Select a type' %>
              <%= f.input :description_item %>
          </div>
          <div class="modal-footer">
            <%= f.button :submit, class: 'btn btn-primary' %>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class=" d-flex gap-3 flex-wrap">
      <% @category.requirement_items.each do |item| %>
        <div class="card bg-dark text-white rounded" style="width: 18rem;">
          <div class="card-body">
            <div class="icon-placeholder mx-auto" style="width: 100px; height: 100px;">
              <%= image_tag "https://source.unsplash.com/random/?#{item.type_item}/300/200", alt: "Photo d'item requis", class: "img-fluid w-100 d-block rounded-circle", style: "object-fit: cover; aspect-ratio: 1 / 1; overflow: hidden; ", loading: 'lazy' %>
            </div>
            <h5 class="card-title"><%= item.title %></h5>
            <p class="card-text text-light"><%= item.description_item %></p>

            <span class="badge bg-warning text-dark rounded-pill border border-success"><%= item.type_item %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>


</div>
