<div class="container">
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>

<%# category info %>
  <%= render @category %>


  <div>
    <%= link_to "Edit this category", edit_category_path(@category) %> |
    <%= link_to "Back to categories", categories_path %>
    <%= button_to "Destroy this category", @category, method: :delete %>
  </div>


  <h2>Applications</h2>
  <%= link_to competition_edition_competition_category_inscriptions_path(@competition, @edition_competition, @category) do %>
    <div class="card" style="width: 100%; height: 300px; background-image: url('https://source.unsplash.com/random/?applications/300/200'); background-size: cover;">
      <div class="card-img-overlay d-flex justify-content-center align-items-center" style="background-color: rgba(0, 0, 0, 0.5);">
        <h1 class="card-title text-white" style="font-size: 3em;">Applications (<%= @category.inscriptions.count %>)</h1>
      </div>
    </div>
  <% end %>


  <h2>Tours</h2>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTourModal">
    Ajouter un tour
  </button>

  <!-- Modal New Tour-->
  <div class="modal fade" id="addTourModal" tabindex="-1" aria-labelledby="addTourModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addTourModalLabel">Ajouter un tour</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "form", tour: @tour %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex gap-3 flex-wrap">
    <% @category.tours.each do |tour| %>
      <%= link_to competition_edition_competition_category_tour_path(@competition, @edition_competition, @category, tour) do %>
        <div class="card" style="width: 18rem;">
          <%# Placeholder for picture %>
          <img class="card-img-top" src="https://via.placeholder.com/150" alt="Card image cap">
          <%# tour name , start date, etc... title, description%>
          <%=  tour.title %>
          <%=  tour.description %>
          <%=  tour.start_date %>
          <%=  tour.start_time %>
          <%=  tour.end_date %>
          <%=  tour.end_time %>
          <%=  tour.is_online %>

        </div>
      <% end %>
    <% end %>
  </div>




<h2>Requirement Items</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Ajouter un élément requis
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un élément requis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for([@competition, @edition_competition, @category, RequirementItem.new]) do |f| %>
          <%= f.input :title %>
          <%= f.input :type_item, collection: ['YouTube Link', 'Audio File', 'Recommendation Letter', 'File', 'Motivation Essay'], prompt: 'Select a type' %>
          <%= f.input :description_item %>
      </div>
      <div class="modal-footer">
        <%= f.button :submit, class: 'btn btn-primary' %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="d-flex gap-3 flex-wrap">
  <% @category.requirement_items.each do |item| %>
    <div class="card bg-dark text-white rounded" style="width: 18rem;">
  <div class="card-body">
    <div class="icon-placeholder mx-auto" style="width: 100px; height: 100px;">
      <%= image_tag "https://source.unsplash.com/random/?#{item.type_item}/300/200", alt: "Photo d'item requis", class: "img-fluid w-100 d-block rounded-circle", style: "object-fit: cover; aspect-ratio: 1 / 1; overflow: hidden; ", loading: 'lazy' %>
    </div>
    <h5 class="card-title"><%= item.title %></h5>
    <p class="card-text text-light"><%= item.description_item %></p>

    <span class="badge bg-warning text-dark rounded-pill border border-success"><%= item.type_item %></span>
  </div>
</div>
  <% end %>
</div>

<div class="bg-dark text-center py-5 my-5">
  <h2 class="text-white" style="font-size: 4em;">Programme demandé</h2>
</div>
<%# Faire 2 colonnes, suaf pour le mobile ou tout sera sur une seule %>


<!-- Section Œuvres à Contraintes Spécifiques : table "semi_imposed_works"-->
<!-- Oeuvres au choix , table "free_choices"-->
<div class="row">
<!-- Section Oeuvres obligatoires: table "imposed_works" -->
  <div class="col-md-6 border p-3 shadow d-flex flex-column align-items-center">
    <h3 style="font-size: 3em;" class=" px-3 rounded-pill">Oeuvres imposées</h3>
    <% imposed_work = @category.imposed_work %>
    <% if imposed_work.present? %>
      <div class="container p-3">
        <div class="d-flex flex-column">
          <div class="w-100 d-flex justify-content-between">
            <h2 class="text-dark"><%= imposed_work.title %></h2>
            <div class="d-flex gap-2 align-items-center">
              <%= link_to edit_imposed_work_path(imposed_work), class: 'btn p-0' do %>
                <i class="fas fa-edit"></i>
              <% end %>

              <%= button_to imposed_work_path(imposed_work, redirect_path: category_path(@category)), method: :delete, data: { confirm: 'Are you sure?', turbo_confirm: "Are you sure?" }, class: 'btn ' do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
          </div>
          <p class="text-secondary"><%= imposed_work.guidelines %></p>
        </div>
        <div class="d-flex flex-column gap-3">
          <% imposed_work.airs.each do |work| %>
              <div class="card-body d-flex flex-column border px-3 py-1 bg-white">
                <div class="d-flex justify-content-between align-items-start w-100">
                  <h4 class="card-text "><strong><%= work.title %></strong> </h4>
                  <%= button_to air_path(work, redirect_path: category_path(@category)), method: :delete, data: { confirm: 'Are you sure?', turbo_confirm: "Are you sure?" }, class: 'btn btn-light text-dark' do %>
                    <i class="fas fa-close" style="font-size: 0.7em;"></i>
                  <% end %>
                </div>

                <small class="card-text"><strong><%= work.composer %></strong> - <%= work.oeuvre %></small>

                <div class="d-flex justify-content-between align-items-center w-100">
                 <span class="badge rounded-pill text-secondary border text-dark"><%= work.tonality %></span>
                  <% if work.character.present? %><small class="card-text"><%= work.character %></small><% end %>
                  <small class="badge rounded-pill text-secondary border"><i class="fas fa-clock pe-1 text-secondary"></i><%= work.length_minutes %> min </small>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to 'Add', new_imposed_work_path(category_id: @category.id), class: 'btn btn-primary', data: { toggle: 'modal', target: '#imposedWorkModal' } %>
    <% end %>
  </div>

  <!-- Section Oeuvres à choisir parmi une liste. table "choice_imposed_works" -->
  <div class="col-md-6 border p-3 shadow d-flex flex-column align-items-center">
    <h3 style="font-size: 3em;" class=" px-3 rounded-pill">Oeuvres au choix dans une liste</h3>
    <% @category.choice_imposed_works.each do |work| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Work title?</h5>
          <p class="card-text">Duration: TODO</p>
          <%# <%= link_to 'Delete', work_path(work), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Add', new_choice_imposed_work_path, class: 'btn btn-primary' %>
  </div>

  <div class="col-md-6">
    <h2>Semi-Free Works</h2>
    <%# Si ca n'est pas crée, proposer de crée un semi-impoed work ou on précise le nombre d'airs a choisir dans la liste, ou toute autre guideline %>

    <% @category.semi_imposed_works.last&.airs&.each do |work| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= work.title %></h5>
          <p class="card-text">Duration: TODO</p>
          <%# <%= link_to 'Delete', work_path(work), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Add', new_semi_imposed_work_path, class: 'btn btn-primary' %>

    <h2>Free Works</h2>
    <% @category.free_choices.each do |work| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Work title?</h5>
          <p class="card-text">Duration: TODO</p>
          <%# <%= link_to 'Delete', work_path(work), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Add', new_free_choice_path, class: 'btn btn-primary' %>
  </div>
</div>
