<div id="<%= dom_id prize %>">
  <p>
    <strong><%= t('prizes.prize.title') %>:</strong>
    <%= prize.title %>
  </p>

  <p>
    <strong><%= t('prizes.prize.amount') %>:</strong>
    <%= prize.amount %>
  </p>

  <p>
    <strong><%= t('prizes.prize.description') %>:</strong>
    <%= prize.description %>
  </p>

  <p>
    <strong><%= t('prizes.prize.category') %>:</strong>
    <%= prize.category_id %>
  </p>

</div>
