<div id="<%= dom_id prize %>">
  <p>
    <strong>Title:</strong>
    <%= prize.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= prize.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prize.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= prize.category_id %>
  </p>

</div>
