<p style="color: green"><%= notice %></p>

<h1><%= t('prizes.index.prizes') %></h1>

<div id="prizes">
  <% @prizes.each do |prize| %>
    <%= render prize %>
    <p>
      <%= link_to t('prizes.index.show_prize'), prize %>
    </p>
  <% end %>
</div>

<%= link_to t('prizes.index.new_prize'), new_prize_path %>
