<p style="color: green"><%= notice %></p>

<%= render @imposed_work_air %>

<div>
  <%= link_to "Edit this imposed work air", edit_imposed_work_air_path(@imposed_work_air) %> |
  <%= link_to "Back to imposed work airs", imposed_work_airs_path %>

  <%= button_to "Destroy this imposed work air", @imposed_work_air, method: :delete %>
</div>
