<%= simple_form_for([@organism, @competition, @edition_competition, @category, @imposed_work], html: { data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-fields' } }) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :category, value: @imposed_work.category, disabled: true %>

  <div class="form-inputs">
    <div class="bg-light border p-3 mb-5" style="border-radius: 10px;">
      <%= f.input :title, required: true,
                  placeholder: t('imposed_works.form.title_placeholder'),
                  label_html: { class: '' },
                  input_html: { class: 'p-2 border' },
                  label: '<i class="fas fa-book text-secondary"></i> '.html_safe + t('imposed_works.common.title') %>

      <%= f.input :guidelines, required: true,
                  placeholder: t('imposed_works.form.guidelines_placeholder'),
                  label_html: { class: '' },
                  input_html: { class: 'p-2 border' },
                  label: '<i class="fas fa-info-circle text-secondary"></i> '.html_safe + t('imposed_works.common.guidelines') %>
    </div>
    <h4 class="text-center mb-5"><%= t('imposed_works.common.airs') %></h4>

    <template data-nested-form-target="template">
      <%= f.fields_for :airs, Air.new, child_index: 'NEW_RECORD' do |air_fields| %>
        <%= render 'shared/air_fields', f: air_fields %>
      <% end %>
    </template>

    <%= f.fields_for :airs do |air_fields| %>
      <%= render 'shared/air_fields', f: air_fields %>
    <% end %>

    <div data-nested-form-target="links">
      <%= link_to t('imposed_works.common.actions.add_piece'), '#', class: 'btn btn-primary', data: { action: 'nested-form#add' } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('imposed_works.common.actions.submit'), class: 'btn btn-primary' %>
  </div>
<% end %>
