<p style="color: green"><%= notice %></p>

<h1><%= t('imposed_works.index.title') %></h1>

<div id="imposed_works">
  <% @imposed_works.each do |imposed_work| %>
    <%= render imposed_work %>
    <p>
      <%= link_to t('imposed_works.common.actions.show'), imposed_work %>
    </p>
  <% end %>
</div>

<%= link_to t('imposed_works.common.actions.new'), new_imposed_work_path %>
