<p style="color: green"><%= notice %></p>

<%= render @imposed_work %>

<div>
  <%= link_to "Edit this imposed work", edit_imposed_work_path(@imposed_work) %> |
  <%= link_to "Back to imposed works", imposed_works_path %>

  <%= button_to "Destroy this imposed work", @imposed_work, method: :delete %>
</div>
