
    <% if @only_vertical_dots %>
      <!-- Only black vertical dots -->
      <div class="position-relative" data-controller="dropdown">
        <button class="bg-transparent border border-transparent" type="button" data-dropdown-target="button" data-action="click->dropdown#toggle" style="border: none !important;">
          <i class="fa-solid fa-ellipsis text-black" style="transform: rotate(90deg); font-size: 24px;"></i>
        </button>
        <!-- Dropdown Menu-->
        <ul role="menu" class="dropdown-menu" style="z-index: 3; right: 0;" data-dropdown-target="menu" aria-labelledby="dropdownMenuButton">
          <% @items.each do |item| %>
            <% next if item.show_item == false %>
            <li>
              <%= link_to item.path,
                          method: (item.method unless item.class&.include?("deletion-button")),
                          remote: item.remote,
                          class: "dropdown-item#{' disabled' if item.state == 'disabled'}#{' ' + item.class if item.class.present?}",
                          title: item.hint,
                          data: item.data,
                          id: item.id,
                          target: item.target do %>
                <i style="margin-right:6px;" class="<%= item.icon %>"></i> <%= item.text %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% else %>
      <!-- Button that contains dots -->
      <div class="position-relative" data-controller="dropdown">
        <div class="dropdown kebab-dropdown <%= @rounded ? 'kebab-dropdown-rounded' : '' %> <%= @align %>">
          <button class="kebab-button" type="button" data-dropdown-target="button" data-action="click->dropdown#toggle">
            <i class="fa-solid fa-ellipsis <%= @rounded ? 'text-white' : '' %>"></i>
          </button>
          <!-- Dropdown Menu -->
          <ul role="menu" class="dropdown-menu" data-dropdown-target="menu" aria-labelledby="dropdownMenuButton">
            <% @items.each do |item| %>
              <% next if item.show_item == false %>
              <li>
                <%= link_to item.path,
                            method: (item.method unless item.class&.include?("deletion-button")),
                            remote: item.remote,
                            class: "dropdown-item#{' disabled' if item.state == 'disabled'}#{' ' + item.class if item.class.present?}",
                            title: item.hint,
                            data: item.data,
                            id: item.id,
                            target: item.target do %>
                  <i style="margin-right:6px;" class="<%= item.icon %>"></i> <%= item.text %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
