<div class="container">
<%= simple_form_for([@inscription, @performance]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.hidden_field :tour_id, value: params[:tour_id] %>
  <div class="form-inputs">

  <% if @performance.tour&.tour_requirement.present? %>
    <div class="card bg-light mb-3">
      <div class="card-header"><%= @performance.tour.title %></div>
      <div class="card-body">
        <h5 class="card-title"><%= t('performances.form.tour_requirements') %>:</h5>
        <p class="card-text"><strong><%= t('performances.form.description') %>:</strong> <%= @performance.tour.tour_requirement.description %></p>
        <p class="card-text"><strong><%= t('performances.form.number_of_works') %>:</strong> <%= @performance.tour.tour_requirement.min_number_of_works %> - <%= @performance.tour.tour_requirement.max_number_of_works %></p>
        <p class="card-text"><strong><%= t('performances.form.duration') %>:</strong> <%= @performance.tour.tour_requirement.min_duration_minute %> - <%= @performance.tour.tour_requirement.max_duration_minute %> <%= t('performances.form.minutes') %></p>
      </div>
    </div>
  <% end %>

    <div class="form-group">
      <ul>
      <% @performance.inscription.used_airs.each do |air|  %>
        <li class="text-secondary"><%= air.title %> - <%= t('performances.form.already_used') %></li>
      <% end %>
      </ul>
      <%= f.label t('performances.form.available_works') %>
      <div class="d-flex flex-column">
<%= f.collection_check_boxes :air_selection, @performance.inscription.associated_airs - @performance.inscription.used_airs , :id, :title, { checked: @performance.air_selection } do |b| %>          <div>
            <%= b.check_box %>
            <%= b.text %> (<%= b.object.length_minutes %> min)
          </div>
        <% end %>
      </div>
    </div>
    <% if @performance.tour.final_performance_submission_deadline < Date.today %>
      <%= link_to t('performances.form.change_airs'), edit_inscription_path(performance.inscription) %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('performances.form.save'), class:"btn btn-primary" %>
  </div>
<% end %>
</div>
