<div id="<%= dom_id performance %>">
  <p>
    <strong><%= t('performances.performance.inscription') %>:</strong>
    <%= performance.inscription_id %>
  </p>

  <p>
    <strong><%= t('performances.performance.tour') %>:</strong>
    <%= performance.tour_id %>
  </p>

  <p>
    <strong><%= t('performances.performance.performance_time') %>:</strong>
    <%= performance.heure_performance %>
  </p>

  <p>
    <strong><%= t('performances.performance.result') %>:</strong>
    <%= performance.resultat %>
  </p>

</div>
