<div id="<%= dom_id performance %>">
  <p>
    <strong>Inscription:</strong>
    <%= performance.inscription_id %>
  </p>

  <p>
    <strong>Tour:</strong>
    <%= performance.tour_id %>
  </p>

  <p>
    <strong>Heure performance:</strong>
    <%= performance.heure_performance %>
  </p>

  <p>
    <strong>Resultat:</strong>
    <%= performance.resultat %>
  </p>

</div>
