<p style="color: green"><%= notice %></p>

<%= render @performance %>

<div>
  <%= link_to t('performances.show.edit_performance'), edit_performance_path(@performance) %> |
  <%= link_to t('performances.show.back_to_performances'), performances_path %>

  <%= button_to t('performances.show.destroy_performance'), @performance, method: :delete %>
</div>
