<!DOCTYPE html>
<html>
  <head>
    <title><%= t('layouts.application.title') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Questrial&display=swap" rel="stylesheet">
  </head>

  <body>
  <!-- Navbar -->
  <%= render "shared/navbar"%>

  <div class="px-2">
    <div class="row">
        <% if current_user.present? %>
        <div class="col-md-2 p-0 d-none d-md-block bg-light border-end">
          <!-- Sidebar -->
          <%= render "shared/sidebar" %>
        </div>
      <% end %>
      <div class=" p-0 col-md-<%= current_user.present? ? '10' : '12'%>">
        <div class="d-flex flex-wrap d-md-none px-2 breadcrumbs-xs">
          <%= render_breadcrumbs separator: '/' if current_user&.organisateur.present? %>
        </div>

        <!-- Flash messages -->
        <%= render "shared/flashes" %>

        <!-- Main content -->
        <%= yield %>
      </div>
    </div>
  </div>  <%# <a href="https://www.flaticon.com/free-icons/piano" title="piano icons">Piano icons created by surang - Flaticon</a> %>
</body>
</html>
